/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
.opc-checkout-element {
  margin-bottom: 0px; }
  .opc-checkout-element .block-inner {
    padding: 10px 15px; }

.title-heading {
  font-weight: bold;
  text-transform: uppercase; }

#deoonepagecheckout-account {
  background: transparent; }
  #deoonepagecheckout-account .block-inner {
    padding: 0px; }
  #deoonepagecheckout-account .account-inner .tab-content {
    padding: 15px;
    background: #f8f8f8; }
  #deoonepagecheckout-account .account-inner .nav-tabs .nav-item .nav-link {
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px; }
    .rtl #deoonepagecheckout-account .account-inner .nav-tabs .nav-item .nav-link {
      -moz-border-radius: 10px 10px 0px 0px;
      -webkit-border-radius: 10px 10px 0px 0px;
      border-radius: 10px 10px 0px 0px; }
    #deoonepagecheckout-account .account-inner .nav-tabs .nav-item .nav-link.active {
      color: #FFFFFF; }
      #deoonepagecheckout-account .account-inner .nav-tabs .nav-item .nav-link.active:hover {
        color: #FFFFFF; }
    #deoonepagecheckout-account .account-inner .nav-tabs .nav-item .nav-link:hover {
      color: #FFFFFF; }
  .logged-in #deoonepagecheckout-account {
    background: #f8f8f8; }
    .logged-in #deoonepagecheckout-account .block-inner {
      padding: 15px; }

#deoonepagecheckout-address {
  background: #f8f8f8;
  border-top: 1px solid #eaeaea; }
  #deoonepagecheckout-address .block-inner {
    padding: 15px; }

#deoonepagecheckout-shipping {
  background: #f8f8f8;
  border-top: 1px solid #eaeaea; }
  #deoonepagecheckout-shipping .block-inner {
    padding: 15px; }

#deoonepagecheckout-payment {
  background: #f8f8f8;
  border-top: 1px solid #eaeaea; }
  #deoonepagecheckout-payment .block-inner {
    padding: 15px; }

#deoonepagecheckout-order-message {
  background: #f8f8f8; }

#deoonepagecheckout-confirm .block-inner {
  padding-top: 10px; }
#deoonepagecheckout-confirm #deo-payment-confirmation {
  text-align: left; }
  .rtl #deoonepagecheckout-confirm #deo-payment-confirmation {
    text-align: right; }
#deoonepagecheckout-confirm #confirm_order {
  margin-top: 10px;
  font-weight: 600;
  padding: 10px 25px;
  text-transform: uppercase; }

#deoonepagecheckout-confirm {
  background: #f8f8f8; }
  #deoonepagecheckout-confirm .block-inner {
    padding: 10px 15px 15px; }
  #deoonepagecheckout-confirm #deo-payment-confirmation {
    text-align: left; }
    .rtl #deoonepagecheckout-confirm #deo-payment-confirmation {
      text-align: right; }
  #deoonepagecheckout-confirm #confirm_order {
    margin-top: 10px;
    font-weight: 600;
    padding: 10px 25px;
    text-transform: uppercase; }

#deoonepagecheckout-cart-summary {
  background: #f8f8f8; }
  @media (max-width: 767px) {
    #deoonepagecheckout-cart-summary {
      margin-top: 20px; } }
  #deoonepagecheckout-cart-summary .title-heading {
    padding: 15px 15px;
    margin-bottom: 0px; }
  #deoonepagecheckout-cart-summary .cart-summary {
    padding: 0px 15px; }
  #deoonepagecheckout-cart-summary #deo-cart-summary-product-list {
    border-top: 1px solid #eaeaea; }
    @media (min-width: 768px) {
      #deoonepagecheckout-cart-summary #deo-cart-summary-product-list {
        display: block !important; } }
  #deoonepagecheckout-cart-summary .block-inner {
    padding: 0px; }
  #deoonepagecheckout-cart-summary .title-products-list {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 15px 15px 0px;
    text-transform: uppercase; }
  #deoonepagecheckout-cart-summary .cart-summary-line .label {
    font-weight: 600; }
  #deoonepagecheckout-cart-summary .cart-summary-line .value {
    font-weight: 500; }
  #deoonepagecheckout-cart-summary .cart-detailed-subtotals {
    padding: 15px 0px;
    border-top: 1px solid #eaeaea; }
  @media (min-width: 768px) {
    #deoonepagecheckout-cart-summary .show-details-wrapper {
      display: none; } }
  #deoonepagecheckout-cart-summary .cart-summary-totals {
    padding: 15px 0px; }
    #deoonepagecheckout-cart-summary .cart-summary-totals .value {
      font-weight: 600; }
  #deoonepagecheckout-cart-summary .block-promo .display-promo, #deoonepagecheckout-cart-summary .block-promo .promo-code {
    padding: 15px 0px; }
  #deoonepagecheckout-cart-summary .block-promo .promo-code {
    background: transparent; }
  #deoonepagecheckout-cart-summary .cart-item {
    padding: 15px 15px 0px; }
    #deoonepagecheckout-cart-summary .cart-item:last-child {
      padding-bottom: 15px; }
    #deoonepagecheckout-cart-summary .cart-item + .cart-item {
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid #eaeaea; }

#deoonepagecheckout-reassurance .blockreassurance_product {
  margin-top: 0px; }

/*# sourceMappingURL=checkout2770170402.css.map */
