@import "theme_variables";

// ************* Footer 2 ***************

.footer-top{
	background-color: #1f1b20;
	color: $theme-color-background-black;
}

.footer-center{
	// background: #fbfbfb;
}

.footer-bottom{
	// border-top: 1px solid #ebebeb;
}

.box-top-footer{
	padding-top: 20px;
	padding-bottom: 20px;
}

.box-middle-footer{
	padding-top: 40px;
	padding-bottom: 20px;
	@media(min-width: 768px){
		padding-top: 50px;
		padding-bottom: 10px;
	}
	@media(min-width: 992px){
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.block{
		&:last-child{
			@media (max-width: 991px) and (min-width: 576px){
				margin-bottom: 30px;
			}
		}
	}
	.block-social{
		@media (min-width: 576px) {
			margin-top: 25px;
		}
	}
	.block-social{
		@media (min-width: 576px) {
			margin-top: 25px;
		}
	}
	.logo{
		margin-bottom: 25px;
	}
}

.box-bottom-footer{
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	@media(min-width: 992px){
		padding-top: 10px;
		padding-bottom: 10px;
		@include display(flex);
		@include align-items(center);
	}
	&:before{
		content: '';
		display: block;
		height: 1px;
		top: 0px;
		left: $grid-gutter-width-base/2;
		right: $grid-gutter-width-base/2;
		position: absolute;
		border-bottom: 1px solid #ebebeb;
	}
	& > [class*="col-"]{
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@media(max-width: 767px){
			text-align: center;
		}
	}
	.left-bottom-footer{
		@media (min-width: 992px) {
			@include justify-content(flex-start);
		}
	}
	.right-bottom-footer{
		@media (min-width: 992px) {
			@include justify-content(flex-end);
		}
	}
	.copyright{
		text-align: center;
	}
}
