@import "theme_variables";

// ************* Header 5 ***************

.bottomnav{
	color: $white;
	background: #333333;
}

.header-top{
	background: $white;
}

.nav-fullwidth{
	
}

#index{
	@media (min-width: 992px){
		#header{
			position: relative;
			&:not(.sticky-menu-active){
				.header-top{
					position: absolute;
					top: 100%;
					z-index: 99;
					left: 0;
					right: 0;
					background: transparent;
				}
			}
			&.sticky-menu-active{
				.header-top{
					background: $white;
				}
			}
		}
	}
}

.sticky-menu-active{
	.header-top{
		background: $white;
	}
}

.header-top{
	
}

.popup-over{
	&:not(.search-widget){
		@include rtl-margin-right(20px);
		.popup-title {
			// font-size: 12px;
			text-transform: none;
			@include rtl-padding(15px,0px,15px,0px);
			@include rtl-border-width(0px,0px,0px,1px);
			.icon{
				display: none;
				// font-size: 17px;
			}
		}
		&:last-child{
			@include rtl-margin-right(0px);
		}
	}
	&.language-selector-wrapper{
		@include language-iso-code();
		@include language-hidden-flag();
		.popup-title{
			@media (max-width: 575px){
				.iso-code{
					display: inline-block;
				}
				.icon{
					display: none;
				}
			}
		} 
	}
	&.currency-selector{
		.popup-title{
			@media (max-width: 575px){
				.icon{
					display: none;
				}
				.name-simple{
					display: inline-block;
				}
			}
		} 
	}
	&.deo_customer_actions{
		@include userinfor-hidden-title();
	}
	&.userinfo-selector{
		@include userinfor-hidden-title();
		@include userinfor-popup-center();
	}
}

#cart-block{
	@include hidden-title-cart();
	@include rtl-margin-left(0px);
	.cart-preview{
		@include rtl-padding(15.5px,0px,15.5px,0px);
		.shopping-cart{
			// font-size: 17px;
		}
	}
} 

.search-widget{
	@include rtl-margin-right(20px);
	// @media (min-width: 480px) {
	// 	@include search-border-radius();
	// }
	@media (max-width: 767px) {
		// @include rtl-margin-right(auto);
	}
	@media (max-width: 479px) {
		@include popup-search();
		@include popup-search-bottom();
		@include popup-search-bottom-reverse(); 
	}
	.popup-title{
		@include rtl-padding(12px,0px,12px,0px);
	}
	.popup-content{
		@media (min-width: 768px) {
			min-width: 280px;
		}
		@media (min-width: 992px) {
			min-width: 350px;
		}
		@media (min-width: 1200px) {
			min-width: 370px;
		}
		&:before{
			display: none;
		}
	}
}

.deo-search-advanced{
	@include rtl-margin-right(20px);
	@media (max-width: 576px){
		@include popup-search-bottom();
		@include popup-search-bottom-reverse();
	}
	.popup-title {
		// font-size: 12px;
		text-transform: none;
		@include rtl-padding(15px,0px,15px,0px);
		@include rtl-border-width(0px,0px,0px,1px);
		.icon{
			display: none;
			// font-size: 17px;
		}
	}
	.block_content{
		.deo-advanced-search-input{
			.advanced_search_query{
				background: $white;
			}
		} 
		.list-cate-wrapper{
			.select-title{
				background: $white;
			}
		} 
	}
} 


.box-bottom-header{
	position: relative;
	@include display(flex);
	@include flex-wrap(wrap);
	@include align-items(center);
	&:after{
		display: none;
	}
	& > [class*="col-"]{
		@include display(flex);
		@include align-items(center);
	}
	.left-bottom-header {
		@include justify-content(flex-start);
		@media (max-width: 767px) {
			@include order(2);
		}
	}
	.center-bottom-header {
		@include justify-content(center);
		@media (max-width: 767px) {
			@include order(1);
		}
	}
	.right-bottom-header {
		@include justify-content(flex-end);
		@media (max-width: 767px) {
			@include order(3);
		}
	}
	.logo {
		padding: 15px 0;
	}
}