<?xml version="1.0" encoding="UTF-8" ?>
<theme>
    <version value="1.4">
        <ccc available="true" />
        <guest_checkout available="true" />
        <one_page_checkout available="true" />
        <store_locator available="true" />
    </version>
    <theme_key>deo_bugi</theme_key>
    <modules>
        <module>
            <name>deotemplate</name>
            <fields>
                <field>
                    <objectMName>DeoTemplateProfilesModel</objectMName>
                    <objectMFile>DeoTemplateProfilesModel.php</objectMFile>
                    <searchField>id_shop</searchField>
                    <field>
                        <objectMName>DeoTemplatePositionsModel</objectMName>
                        <objectMFile>DeoTemplatePositionsModel.php</objectMFile>
                        <searchField>id_deotemplate_positions</searchField>
                        <field>
                            <objectMName>DeoTemplateModel</objectMName>
                            <objectMFile>DeoTemplateModel.php</objectMFile>
                            <searchField>id_deotemplate_positions</searchField>
                        </field>
                    </field>
                </field>
                <field>
                    <objectMName>DeoTemplateProductsModel</objectMName>
                    <objectMFile>DeoTemplateProductsModel.php</objectMFile>
                    <searchField>id_shop</searchField>
                </field>
                <field>
                    <objectMName>DeoTemplateDetailsModel</objectMName>
                    <objectMFile>DeoTemplateDetailsModel.php</objectMFile>
                    <searchField>id_shop</searchField>
                </field>
                <field>
                    <objectMName>DeoTemplateOnepagecheckoutModel</objectMName>
                    <objectMFile>DeoTemplateOnepagecheckoutModel.php</objectMFile>
                    <searchField>id_shop</searchField>
                </field>
                <field>
                    <objectMName>DeoTemplateShortcodeModel</objectMName>
                    <objectMFile>DeoTemplateShortcodeModel.php</objectMFile>
                    <searchField>id_shop</searchField>
                    <field>
                        <objectMName>DeoTemplateModel</objectMName>
                        <objectMFile>DeoTemplateModel.php</objectMFile>
                        <searchField>id_deotemplate_shortcode</searchField>
                    </field>
                </field>
                <field>
                    <objectMName>DeoBlogCategory</objectMName>
                    <objectMFile>Blog/DeoBlogCategory.php</objectMFile>
                    <searchField>id_shop</searchField>
                    <treeField>id_parent</treeField>
                    <field>
                        <objectMName>DeoBlog</objectMName>
                        <objectMFile>Blog/DeoBlog.php</objectMFile>
                        <searchField>id_deoblog_category</searchField>
                        <field>
                            <objectMName>DeoBlogComment</objectMName>
                            <objectMFile>Blog/DeoBlogComment.php</objectMFile>
                            <searchField>id_deoblog</searchField>
                        </field>
                    </field>
                </field>
                <field>
                    <objectMName>DeoProductReviewGrade</objectMName>
                    <objectMFile>Feature/DeoProductReviewGrade.php</objectMFile>                       
                </field>
                <field>
                    <objectMName>DeoProductReviewCriterion</objectMName>
                    <objectMFile>Feature/DeoProductReviewCriterion.php</objectMFile>                       
                </field>
                <field>
                    <objectMName>DeoProductReview</objectMName>
                    <objectMFile>Feature/DeoProductReview.php</objectMFile>                                
                </field>
                <field>
                    <objectMName>DeoMegamenuGroupModel</objectMName>
                    <objectMFile>Megamenu/DeoMegamenuGroupModel.php</objectMFile>
                    <searchField>id_shop</searchField>
                    <field>
                        <objectMName>DeoMegamenuModel</objectMName>
                        <objectMFile>Megamenu/DeoMegamenuModel.php</objectMFile>
                        <searchField>id_group</searchField>
                        <useShop>1</useShop>
                        <treeField>id_parent</treeField>
                    </field>
                </field>
                <field>
                    <objectMName>DeoWidgetModel</objectMName>
                    <objectMFile>Megamenu/DeoWidgetModel.php</objectMFile>
                    <searchField>id_shop</searchField>
                </field>
            </fields>
            <config_prefix>DEOTEMPLATE</config_prefix>
            <table_prefix>deotemplate,deoblog,deofeature,deomegamenu</table_prefix>
        </module>
    </modules>
</theme>
