@import "partials/variables";

/**
 * Web Application Prefix Apply For Making Owner Styles
 */
$app-brand-prefix        : leo !default;

/**
 *   Blocks Layout Selectors 
 */
$block-prefix 			 : block!default;
$block-selector          : block !default;
$block-heading-selector  : title_block !default;
$block-content-selector  : block_content !default;

//------- Path Variables
$image-path:                   "images/"!default; 
$image-theme-base-path:        "../img/"!default;
$image-base-path:              "../../../img/"!default;
$image-module-path:            "../../../img/icon/"!default;
$module-path:                  "../../../modules/"!default;
$deotemplate-path:             "../../../../assets/img/modules/deotemplate/img/"!default;


/***********************************************************************/
// some basic colors

$white:			 				    #FFFFFF !default; 
$black:							    #000000 !default;
$blue:                              #6087D2 !default; 
$wild-sand:                         #ffffff !default;  
$silver:                            #f5f5f5 !default;  
$red:            					#f7525a !default;
$red-light:            				#ff9999 !default;
$yellow-light:           			#fcd54c !default;
$nocolor:							transparent!default;

// Variables Font Family 
// ========================================================================

$font-family-tertiary  :             $font-family-base !default;		// font for menu
$font-family-heading   : 			 $headings-font-family !default; 		// font for slideshow
$font-family-senary    : 		 	 'Handlee', cursive !default;		// font for Price 

$font-icon: 			             "FontAwesome" !default;
$font-icon-2:                        "Material Icons" !default;
$font-icon-3: 						 "Pe-icon-7-stroke" !default;
$font-icon-4: 						 "deo-custom-icons" !default;

//-------- Variables defined for Themes + Skins

$theme-color-default : 			    #1bbc9b !default;
$theme-color-secondary :			#666666 !default; // Category page
$theme-color-tertiary:              #222222 !default;
$theme-color-senary:                #666666 !default; // Product Page
$theme-color-button-hover: 			#169a7f !default; 
$theme-color-background-black:		#cccccc !default; 
$theme-color-background-black-hover:#ffffff !default; 
$theme-color-white:					#cccccc !default; 
$theme-color-white-hover:			#ffffff !default;
$theme-bg-block:					$white;

//-------- BORDERS
$border-color:						#eaeaea !default;
$main-border:						1px solid $border-color !default;
$main-border-hover:                 1px solid $theme-color-default !default;


//-------- Variables RTL 
$rtl-left : left;
$rtl-right : right;
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

// LAYOUT VARIABLES 
// ========================================================================

// Header Nav 
$header-nav-outside-bg: 				#282d35 !default;
$header-nav-bg: 						$nocolor !default;
$header-nav-color: 						$theme-color-tertiary !default;
$header-nav-font-size: 					$base-font-size !default;
$header-nav-height:                     50px !default;

// Header Top
$header-top-outside-bg: 			    $white !default; 
$header-top-bg: 			 		    $nocolor !default;
$header-top-color:					    $black !default;

// Footer
$footer-outside-bg:		  		        #25292f !default;
$footer-bg: 						    $nocolor !default;
$footer-color: 						    $theme-color-tertiary !default;

$footer-top-outside-bg:                 $white !default;
$footer-top-bg: 						$nocolor !default;
$footer-top-color: 						$footer-color !default;

$footer-center-outside-bg:              $footer-outside-bg !default;
$footer-center-bg: 						$nocolor !default;
$footer-center-color: 					$footer-color !default;

$footer-bottom-outside-bg:              #191c21 !default;
$footer-bottom-bg: 						$nocolor !default;
$footer-bottom-color: 					$footer-color !default;

// Carousel
$carousel-control-width-size:  			35px;
$carousel-control-height-size:  		35px;
$carousel-control-line-height:  		33px;
$carousel-control-border-radius:		50%;
$carousel-control-width-total:      	75px;
$carousel-control-position-top:			-90px;
$carousel-control-position-right:		0px;
$carousel-control-position-hover:		-10px;
$carousel-control-position-before-hover:-20px;

$carousel-control-border:    			1px solid $nocolor;
$carousel-control-background:    		$white;
$carousel-control-color:    			#a9a9a9; 

$carousel-control-opacity-hover: 		1;
$carousel-control-opacity-before-hover: 0;
$carousel-control-opacity-disable:      0.7;
$carousel-control-border-hover:   		$nocolor;
$carousel-control-background-hover:    	$theme-color-default;
$carousel-control-color-hover:    		$white;
$carousel-control-shadown-hover: 		0 1px 12px 0 rgba($black,0.12);
$carousel-control-shadown-before-hover: 0 1px 12px 0 rgba($black,0.12);
$carousel-control-background-block:     $white;
$carousel-control-color-block:    		$black;
$carousel-control-border-block:   		$border-color;
$carousel-control-shadown-block: 		none;

$carousel-control-font-icon:    		12px;
$carousel-control-font-family-icon:		$font-icon-4;
$carousel-control-icon-next:    		"\ea22";
$carousel-control-icon-prev:    		"\ea21";
$carousel-control-font-weight:			normal;


// order + checkout page
$checkout-bg-block:             #f8f8f8;
$checkout-border-block:         #f8f8f8;
$checkout-bg-block-inner:       $white;
$checkout-border-block-inner:   $border-color;

// Category page
$category-bg-block:				#f8f8f8;
$category-bg-breadcrumb:        #f8f8f8;
$category-pagination-bg-block:	#f8f8f8;

// Product page
$product-bg-block:				$white;


// Contact page
$contact-bg-block:				$white;
$contact-map-bg-block:			$white;
$contact-map-bg-stores:         #f8f8f8;