/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
#back-top a {
  background: #1b427d; }
  #back-top a:hover {
    background-color: #13366b; }

#blockcart-modal .modal-header {
  background: #1b427d; }

#wrapper .breadcrumb li a:hover {
  color: #1b427d; }

a:hover, a:focus {
  color: #1b427d; }

.group-span-filestyle .btn-default {
  background: #1b427d; }

.custom-checkbox input[type="radio"] + span .checkbox-checked {
  background: #1b427d; }

.sidebar .block .title_block > a:before, .sidebar .block .title_block span:before {
  background: #1b427d; }
.sidebar .block .all-product-link:hover {
  color: #1b427d; }

.footer-container .block .title_block a:hover {
  color: #1b427d; }
.footer-container .footer-black .block .title_block a:hover {
  color: #1b427d; }

@media (min-width: 992px) {
  .carousel-control .icon-prev:hover, .carousel-control .icon-next:hover {
    background: #1b427d;
    border-color: #1b427d; } }

.btn-outline, .btn-primary, .btn-inverse {
  color: #FFFFFF;
  background-color: #1b427d;
  border-color: #1b427d;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
    color: #FFFFFF;
    background-color: #13366b;
    border-color: #13366b; }
  .open .btn-outline.dropdown-toggle, .open .btn-primary.dropdown-toggle, .open .btn-inverse.dropdown-toggle {
    color: #FFFFFF;
    background-color: #13366b;
    border-color: #13366b; }
  .btn-outline:active, .btn-outline.active, .btn-primary:active, .btn-primary.active, .btn-inverse:active, .btn-inverse.active {
    background-image: none; }
  .open .btn-outline.dropdown-toggle, .open .btn-primary.dropdown-toggle, .open .btn-inverse.dropdown-toggle {
    background-image: none; }
  .btn-outline.disabled, .btn-outline.disabled:hover, .btn-outline.disabled:focus, .btn-outline.disabled:active, .btn-outline.disabled.active, .btn-outline[disabled], .btn-outline[disabled]:hover, .btn-outline[disabled]:focus, .btn-outline[disabled]:active, .btn-outline[disabled].active, fieldset[disabled] .btn-outline, fieldset[disabled] .btn-outline:hover, fieldset[disabled] .btn-outline:focus, fieldset[disabled] .btn-outline:active, fieldset[disabled] .btn-outline.active, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active, .btn-inverse.disabled, .btn-inverse.disabled:hover, .btn-inverse.disabled:focus, .btn-inverse.disabled:active, .btn-inverse.disabled.active, .btn-inverse[disabled], .btn-inverse[disabled]:hover, .btn-inverse[disabled]:focus, .btn-inverse[disabled]:active, .btn-inverse[disabled].active, fieldset[disabled] .btn-inverse, fieldset[disabled] .btn-inverse:hover, fieldset[disabled] .btn-inverse:focus, fieldset[disabled] .btn-inverse:active, fieldset[disabled] .btn-inverse.active {
    background-color: #1b427d;
    border-color: #1b427d; }
  .btn-outline .badge, .btn-primary .badge, .btn-inverse .badge {
    color: #1b427d;
    background-color: #FFFFFF; }

@media (min-width: 992px) {
  .megamenu .dropdown-widget .menu-title a:hover {
    color: #1b427d; } }
@media (min-width: 992px) {
  .megamenu .dropdown-mega-menu .nav-item:hover > .nav-link {
    color: #1b427d; } }
.megamenu .dropdown-widget .menu-title:before {
  background: #1b427d; }

@media (min-width: 992px) {
  .deo-horizontal-menu .megamenu > .nav-item > .dropdown-menu {
    border-top-color: #1b427d; } }
@media (min-width: 992px) {
  .deo-horizontal-menu .megamenu > .nav-item > .nav-link .icon-arrow {
    border-bottom-color: #1b427d; } }
@media (min-width: 992px) {
  .deo-horizontal-menu .megamenu > .nav-item > .nav-link:before {
    background: #1b427d; } }
@media (min-width: 992px) {
  .deo-horizontal-menu .megamenu > .nav-item:hover > .nav-link, .deo-horizontal-menu .megamenu > .nav-item:focus > .nav-link {
    color: #1b427d; } }
@media (min-width: 992px) {
  .deo-horizontal-menu .megamenu > .nav-item:hover > .caret, .deo-horizontal-menu .megamenu > .nav-item:focus > .caret {
    color: #1b427d; } }

.deo-vertical-menu .vertical-menu-button {
  background: #1b427d; }
@media (min-width: 992px) {
  .deo-vertical-menu .megamenu > .nav-item:hover > .nav-link {
    color: #1b427d; } }

.deo-megamenu-mobile-button-toogle {
  background: #1b427d; }
  .deo-megamenu-mobile-button-toogle .deo-megamenu-mobile-close {
    background: #13366b; }

@media (min-width: 992px) {
  .header-label .icon-open-menu:hover {
    color: #1b427d; } }

.menu-sidebar .group-top-menu .close-menu .icon-close-menu:hover {
  color: #1b427d; }

@media (min-width: 992px) {
  .menu-toogle .showmenu:hover {
    color: #1b427d; } }

#index .menu-sidebar-fixed .showmenu-sidebar .menu-trigger {
  background: #1b427d; }

.deo-count-feature.count-white .deo-total {
  background: #1b427d; }

@media (min-width: 992px) {
  .popup-over .popup-title:hover {
    color: #1b427d; } }
.popup-over .popup-content .dropdown-item:focus, .popup-over .popup-content .dropdown-item:hover, .popup-over .popup-content .dropdown-item.active, .popup-over .popup-content .dropdown-item.active:focus, .popup-over .popup-content .dropdown-item.active:hover {
  color: #1b427d; }
.popup-over.deo_customer_actions .popup-content .language-selector li.current img {
  border-color: #1b427d; }
.popup-over.deo_customer_actions .popup-content .currency-selector li.current a {
  color: #1b427d; }

.popup-over.popup-white .popup-title {
  color: #cccccc; }
  .popup-over.popup-white .popup-title:hover {
    color: #ffffff; }

@media (min-width: 992px) {
  #cart-block .cart-preview.active a:hover {
    color: #1b427d; }
    #cart-block .cart-preview.active a:hover .cart-products-count {
      background: #1b427d; } }

@media (min-width: 992px) {
  #cart-block.cart-cricle .cart-preview.active a:hover {
    color: #1b427d; }
    #cart-block.cart-cricle .cart-preview.active a:hover .shopping-cart {
      border-color: #1b427d; } }

@media (min-width: 992px) {
  .product_list.list.product-list-thirteen .thumbnail-container .product-meta .btn-cart-product-list .btn-product {
    color: #1b427d;
    border-color: #1b427d; }
    .product_list.list.product-list-thirteen .thumbnail-container .product-meta .btn-cart-product-list .btn-product:hover {
      background: #1b427d; } }
@media (min-width: 992px) {
  .product_list.list.product-list-thirteen .thumbnail-container .product-title a:hover {
    color: #1b427d; } }

.thumbnail-container .product-title a:hover {
  color: #1b427d; }
@media (min-width: 992px) {
  .thumbnail-container .box-button .btn-product:hover {
    color: #1b427d; } }
.thumbnail-container .category-default a:hover {
  color: #1b427d; }
.thumbnail-container .basic-informations .information .value a:hover {
  color: #1b427d; }

@media (min-width: 992px) {
  .bg-hover-product.bg-hover-skin .product-image .product-thumbnail:before {
    background: rgba(27, 66, 125, 0.3); } }

@media (min-width: 992px) {
  .product-list-one .thumbnail-container .product-image .box-button .btn-product:hover {
    color: #1b427d; } }

.product-list-two .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-two .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }
.product-list-two .thumbnail-container .box-button .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-two .thumbnail-container .box-button .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }

.product-list-three .thumbnail-container .box-button .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-three .thumbnail-container .box-button .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }

.product-list-four .thumbnail-container .box-button .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-four .thumbnail-container .box-button .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }
.product-list-four .thumbnail-container .box-button > div:nth-child(1) .btn-product {
  background: #1b427d;
  border-color: #1b427d; }
  @media (min-width: 992px) {
    .product-list-four .thumbnail-container .box-button > div:nth-child(1) .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }

.product-list-five .thumbnail-container .product-image .box-button {
  background: #1b427d; }
  .product-list-five .thumbnail-container .product-image .box-button .btn-product {
    border-color: #1b427d;
    background: #1b427d; }
    @media (min-width: 992px) {
      .product-list-five .thumbnail-container .product-image .box-button .btn-product:hover {
        border-color: #13366b;
        background: #13366b; } }
.product-list-five .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-five .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }

.product-list-six .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-six .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }
.product-list-six .thumbnail-container .box-button .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-six .thumbnail-container .box-button .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }

@media (min-width: 992px) {
  .product-list-seven .thumbnail-container .product-image .box-button .btn-product:hover {
    color: #1b427d; } }

.product-list-eight .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-eight .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }
.product-list-eight .thumbnail-container .box-button .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-eight .thumbnail-container .box-button .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }

.product-list-nine .thumbnail-container .product-image .box-button .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-nine .thumbnail-container .product-image .box-button .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }
@media (min-width: 992px) {
  .product-list-nine .thumbnail-container:hover {
    border-color: #1b427d; } }
  @media (min-width: 992px) and (min-width: 992px) {
    .product-list-nine .thumbnail-container:hover .product-meta .btn-cart-product-list .btn-product {
      border-color: #1b427d;
      background: #1b427d; } }

@media (min-width: 992px) {
  .product-list-ten .thumbnail-container .box-button .btn-product:hover {
    color: #1b427d; } }

@media (min-width: 992px) {
  .product-list-eleven .thumbnail-container .box-button .btn-product:hover {
    color: #1b427d; } }

.product-list-twelve .thumbnail-container {
  overflow: hidden; }
  @media (min-width: 992px) {
    .product-list-twelve .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
      border-color: #1b427d;
      background: #1b427d; } }
  @media (min-width: 992px) {
    .product-list-twelve .thumbnail-container .box-button .btn-product:hover {
      color: #1b427d; } }

@media (min-width: 992px) {
  .product-list-thirteen .thumbnail-container .product-image .box-button .btn-product:hover {
    color: #1b427d; } }
@media (min-width: 992px) {
  .product-list-thirteen .thumbnail-container .product-meta .btn-cart-product-list .btn-product:hover {
    background: #1b427d; } }
@media (min-width: 992px) {
  .product-list-thirteen .thumbnail-container .product-title a:hover {
    color: #1b427d; } }

@media (min-width: 992px) {
  .product-list-fourteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
    border-color: #1b427d;
    background: #1b427d; } }
@media (min-width: 992px) {
  .product-list-fourteen .thumbnail-container .box-button .btn-product:hover {
    border-color: #1b427d;
    background: #1b427d; } }

@media (min-width: 992px) {
  .product-list-fifteen .thumbnail-container .product-image .box-button .btn-product:hover {
    color: #1b427d; } }
.product-list-fifteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-fifteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }
@media (min-width: 992px) {
  .product-list-fifteen .thumbnail-container .product-meta .btn-cart-product-list .btn-product:hover {
    background: #1b427d; } }
@media (min-width: 992px) {
  .product-list-fifteen .thumbnail-container:hover {
    border-color: #1b427d; }
    .product-list-fifteen .thumbnail-container:hover .product-meta .btn-cart-product-list .btn-product {
      background: #1b427d;
      border-color: #1b427d; } }

.product-list-sixteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-sixteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }
@media (min-width: 992px) {
  .product-list-sixteen .thumbnail-container .box-button .btn-product:hover {
    border-color: #1b427d;
    background: #1b427d; } }

.product-list-eighteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-eighteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }

.product-list-nineteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-nineteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }
@media (min-width: 992px) {
  .product-list-nineteen .thumbnail-container .box-button > div .btn-product:hover {
    border-color: #1b427d;
    background: #1b427d; } }
@media (min-width: 480px) {
  .product-list-nineteen .thumbnail-container .box-button > div.btn-compare-product-list .btn-product:hover, .product-list-nineteen .thumbnail-container .box-button > div.btn-wishlist-product-list .btn-product:hover {
    color: #1b427d;
    background: transparent; } }

@media (min-width: 992px) {
  .product-thumbnails .small-block .slick-arrows .slick-arrow:hover {
    border-color: #1b427d;
    background: #1b427d; } }

.product-list-twenty-one .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
  border-color: #1b427d;
  background: #1b427d; }
  @media (min-width: 992px) {
    .product-list-twenty-one .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
      border-color: #13366b;
      background: #13366b; } }
@media (min-width: 992px) {
  .product-list-twenty-one .thumbnail-container .box-button .btn-product:hover {
    border-color: #1b427d;
    background: #1b427d; } }

@media (min-width: 992px) {
  .product-list-bugi-one .thumbnail-container .product-image .box-button .btn-product:hover {
    background: #1b427d; } }

body#checkout section.checkout-step.-reachable.-complete h1 .step-edit:hover {
  color: #1b427d; }
body#checkout .checkout-process .checkout-step.-reachable.-complete .step-title:before {
  background: #1b427d; }
body#checkout .checkout-process .checkout-step.-reachable.-complete .step-title .step-number {
  background: #1b427d; }
body#checkout #checkout-personal-information-step .tab-account .nav-item .nav-link.active {
  color: #1b427d; }

#content-wrapper .category-name:before {
  background: #1b427d; }

#subcategories .subcategory-block .subcategory-name a:hover {
  color: #1b427d; }

.products-selection .display > div a:hover {
  background: #1b427d;
  border-color: #1b427d; }
.products-selection .display > div.selected a {
  background: #1b427d;
  border-color: #1b427d; }

.products-sort-order .select-list:hover {
  background: #1b427d; }

#search_filters_wrapper .faceted-slider .ui-widget-header {
  border-color: #1b427d;
  background: #1b427d; }
#search_filters_wrapper .faceted-slider .ui-slider-handle {
  border-color: #1b427d; }
@media (min-width: 768px) {
  #search_filters_wrapper .facet .collapse:not(.faceted-slider)::-webkit-scrollbar-thumb {
    background: rgba(27, 66, 125, 0.8); } }
#search_filters_wrapper .js-search-filters-clear-all:hover, #search_filters_wrapper .js-search-filters-clear-all:active, #search_filters_wrapper .js-search-filters-clear-all:focus {
  color: #1b427d; }

#search_filters .clear-all-wrapper .js-search-filters-clear-all:hover, #search_filters .clear-all-wrapper .js-search-filters-clear-all:active, #search_filters .clear-all-wrapper .js-search-filters-clear-all:focus {
  color: #1b427d; }

.pagination a:hover, .pagination a:focus {
  background: #1b427d; }
.pagination .current a {
  background: #1b427d; }

.block-categories .category-sub-menu li > a:hover {
  color: #1b427d; }
.block-categories .collapse-icons:hover {
  color: #1b427d; }

.facets-title {
  color: #666666; }

@media (max-width: 767px) {
  #category .sidebar #search_filter_controls button:hover {
    background: #1b427d; } }
.page-my-account #content .links a:hover {
  color: #1b427d; }

.deo-my-account .deo-links a:hover {
  color: #1b427d; }

.copyright span {
  color: #1b427d; }

.footer-contact.footer-contact-one .block_content ul li a:hover {
  color: #1b427d; }
.footer-contact.footer-contact-two h3 a:hover {
  color: #1b427d; }
.footer-contact.footer-contact-four .block_content ul li a:hover {
  color: #1b427d; }
.footer-contact.footer-contact-five .block_content ul li a:hover {
  color: #1b427d; }
.footer-contact.footer-contact-seven .block_content ul li a:hover {
  color: #1b427d; }
.footer-contact.footer-contact-eight .block_content ul li a:hover {
  color: #1b427d; }
.footer-contact.footer-contact-bugi-one ul li i:after {
  background: #1b427d; }
.footer-contact.footer-contact-bugi-one .btn {
  background: #1b427d; }
  .footer-contact.footer-contact-bugi-one .btn:hover {
    background: #13366b; }
.footer-contact.footer-contact-bugi-two .phone-contact:before {
  color: #1b427d; }
.footer-contact.footer-contact-bugi-two .contact-infor ul li a:hover {
  color: #13366b; }
.footer-contact.footer-contact-bugi-two .contact-infor ul li i {
  color: #1b427d; }

.block_newsletter form .btn:hover, .block_newsletter form .btn:active, .block_newsletter form .btn:focus {
  background: #1b427d; }

.block_newsletter.newsletter-style-one form .btn:hover, .block_newsletter.newsletter-style-one form .btn:active, .block_newsletter.newsletter-style-one form .btn:focus {
  color: #1b427d; }
.block_newsletter.newsletter-style-two.newsletter-white form .btn:hover {
  background: #1b427d; }
.block_newsletter.newsletter-style-three.newsletter-white form .btn:hover {
  background: #1b427d; }
.block_newsletter.newsletter-style-four form .btn:hover, .block_newsletter.newsletter-style-four form .btn:active, .block_newsletter.newsletter-style-four form .btn:focus {
  color: #1b427d; }
.block_newsletter.newsletter-style-four.newsletter-white form .btn:hover {
  color: #1b427d; }
.block_newsletter.newsletter-style-five form .btn:hover, .block_newsletter.newsletter-style-five form .btn:active, .block_newsletter.newsletter-style-five form .btn:focus {
  color: #1b427d; }
.block_newsletter.newsletter-style-six form .btn:hover, .block_newsletter.newsletter-style-six form .btn:active, .block_newsletter.newsletter-style-six form .btn:focus {
  color: #1b427d; }

.block-social.social-one li a:hover {
  color: #1b427d; }
.block-social.social-three li:hover a {
  background: #1b427d;
  border-color: #1b427d; }
.block-social.social-three.social-white li:hover a {
  background: #1b427d; }

.product-add-to-cart .btn-wishlist-product-list .btn-product:hover, .product-add-to-cart .btn-wishlist-product-list .btn-product:active, .product-add-to-cart .btn-wishlist-product-list .btn-product:focus,
.product-add-to-cart .btn-compare-product-list .btn-product:hover,
.product-add-to-cart .btn-compare-product-list .btn-product:active,
.product-add-to-cart .btn-compare-product-list .btn-product:focus {
  color: #1b427d; }
@media (max-width: 479px) {
  .product-add-to-cart .btn-wishlist-product-list .deo-list-wishlist:before:hover,
  .product-add-to-cart .btn-compare-product-list .deo-list-wishlist:before:hover {
    color: #1b427d; } }

.product-quantity .qty .input-group .input-group-btn-vertical .btn:hover {
  background: #1b427d; }

.product-cover .layer:hover {
  background: #1b427d; }

.product-tabs.tabs .nav-tabs .nav-link.active {
  color: #FFFFFF;
  background: #1b427d;
  border-color: #1b427d; }
  .product-tabs.tabs .nav-tabs .nav-link.active:hover {
    color: #FFFFFF;
    background: #1b427d;
    border-color: #1b427d; }
.product-tabs.tabs .nav-tabs .nav-link:hover {
  color: #FFFFFF;
  background: #1b427d;
  border-color: #1b427d; }

.products-accordion .card-header a:hover:after {
  color: #1b427d; }

@media (min-width: 992px) {
  #page .images-container .slick-arrows .slick-arrow:hover {
    background: #1b427d;
    border-color: #1b427d; } }
#page.product-thumbs-bottom .images-container .thumb-container .thumbnail-image.selected {
  border-color: #1b427d; }
#page.product-thumbs-left .images-container .thumb-container .thumbnail-image.selected, #page.product-thumbs-right .images-container .thumb-container .thumbnail-image.selected {
  border-color: #1b427d; }
@media (min-width: 992px) {
  #page.product-thumbs-left .images-container .product-thumbnail-carousel .thumb-images .slick-arrows .slick-arrow:hover, #page.product-thumbs-right .images-container .product-thumbnail-carousel .thumb-images .slick-arrows .slick-arrow:hover {
    border-color: #1b427d;
    background: #1b427d; } }
#page.detail-gallery .images-container .layer:hover {
  background: #1b427d;
  border-color: #1b427d; }

.deo-quickview .thumb-images .thumbnail-image.selected {
  border-color: #1b427d; }
@media (min-width: 992px) {
  .deo-quickview .thumb-images .slick-arrows .slick-arrow:hover {
    border-color: #1b427d;
    background: #1b427d; }
    .deo-quickview .thumb-images .slick-arrows .slick-arrow:hover:before {
      color: #FFFFFF; } }

.search-widget .popup-title:hover {
  color: #1b427d; }
@media (min-width: 992px) {
  .search-widget .popup-content button[type=submit]:hover {
    color: #1b427d; } }
@media (min-width: 992px) {
  .search-widget.popup-search .popup-title:hover:before, .search-widget.popup-search .popup-title:hover:after {
    background-color: #1b427d; } }
.search-widget.search-bugi-one .popup-content button[type=submit]:hover {
  color: #13366b; }
.search-widget.search-bugi-two .popup-content button[type=submit]:hover {
  color: #13366b; }

@media (min-width: 768px) {
  .deo-widget .widget-tabhtml .nav-vertical .nav-tabs > li a:hover, .deo-widget .widget-tabhtml .nav-vertical .nav-tabs > li a.active {
    color: #1b427d; }
  .deo-widget .widget-tabhtml .nav-vertical .nav-tabs > li.active a {
    color: #1b427d; } }

.text-menu .shop-now {
  background: #1b427d; }
  .text-menu .shop-now:hover {
    background: rgba(27, 66, 125, 0.8); }

.banner-menu-sale-off .text-sale-off a, .banner-menu-sale-off .html-content a {
  color: #1b427d; }
  .banner-menu-sale-off .text-sale-off a:hover, .banner-menu-sale-off .html-content a:hover {
    color: #13366b; }

.menu-category-one .widget-category_image .cate-item:hover .cover-img {
  border-color: #1b427d; }

.deo-search-advanced .block_content .list-cate-wrapper .select-title:hover {
  color: #1b427d; }
.deo-search-advanced .block_content .list-cate-wrapper .list-cate a.active {
  background: #1b427d; }
.deo-search-advanced .block_content .list-cate-wrapper .list-cate a:hover {
  background: #1b427d; }
.deo-search-advanced .block_content .deo-advanced-search-top-button {
  background: #1b427d; }
  @media (min-width: 992px) {
    .deo-search-advanced .block_content .deo-advanced-search-top-button:hover {
      background: #13366b; } }
.deo-search-advanced.search-bugi-one .block_content .deo-advanced-search-top-button:hover {
  color: #13366b; }
.deo-search-advanced.search-bugi-two .block_content .deo-advanced-search-top-button:hover {
  color: #13366b; }

.default.leading-blog .heading .title:before {
  background: #1b427d; }
.default.leading-blog .heading .title:after {
  background: #1b427d; }
.default.leading-blog .blog-container .blog-infomations a:hover {
  color: #1b427d; }
.default.leading-blog .blog-container .title:before {
  background: #13366b; }

.style-one.leading-blog .heading .title:before {
  background: #1b427d; }
.style-one.leading-blog .heading .title:after {
  background: #1b427d; }
.style-one.leading-blog .blog-container .blog-infomations a:hover {
  color: #1b427d; }
.style-one.leading-blog .blog-container .title:before {
  background: #13366b; }
.style-one.deo-blog-category .deo-blog-item .blog-informations a:hover {
  color: #1b427d; }
.style-one.deo-blog-category .deo-blog-item .read-more {
  color: #1b427d; }
  .style-one.deo-blog-category .deo-blog-item .read-more:hover {
    color: #13366b; }

.deo-blog-item .left-block .blog-informations a:hover {
  color: #1b427d; }
.deo-blog-item .title a:hover {
  color: #1b427d; }
.deo-blog-item .blog-bottom a:hover {
  color: #1b427d; }
.deo-blog-item .blog-bottom .read-more:hover {
  color: #1b427d; }

.deo-blog-detail .blog-meta a:hover {
  color: #1b427d; }

.deo-blog-tags .tag:hover {
  background: #1b427d; }
  .deo-blog-tags .tag:hover:after {
    border-color: #1b427d;
    border-color: transparent transparent transparent #1b427d; }
    .rtl .deo-blog-tags .tag:hover:after {
      border-color: transparent #1b427d transparent transparent; }

.deo-blog-category-tree .block_content li span.grower.OPEN:before, .deo-blog-category-tree .block_content li span.grower.CLOSE:before {
  color: #1b427d; }

.deo-blog-sidebar .blog-list-item .blog-meta a:hover {
  color: #1b427d; }
.deo-blog-sidebar .blog-list-item .blog-title a:hover {
  color: #1b427d; }

@media (min-width: 992px) {
  .deo-blog-builder .blog-title a:hover {
    color: #1b427d; } }
.deo-blog-builder .blog-meta > span a:hover {
  color: #1b427d; }
.deo-blog-builder .btn-more:hover, .deo-blog-builder .btn-more:active, .deo-blog-builder .btn-more:focus {
  color: #1b427d; }
.deo-blog-builder .blog-viewall .btn:hover, .deo-blog-builder .blog-viewall .btn:active, .deo-blog-builder .blog-viewall .btn:focus {
  color: #1b427d; }
.deo-blog-builder.title-weight-normal .blog-title a:hover {
  color: #1b427d; }
.deo-blog-builder.blog-style-seven .btn-more:hover {
  color: #1b427d; }
.deo-blog-builder.blog-style-nine .btn-more {
  color: #1b427d; }
  .deo-blog-builder.blog-style-nine .btn-more:hover {
    color: #13366b; }

.account-inner.use_tab .nav-tabs .nav-item .nav-link.active {
  border-color: #1b427d;
  background: #1b427d; }
  .account-inner.use_tab .nav-tabs .nav-item .nav-link.active:hover {
    border-color: #1b427d;
    background: #1b427d; }
.account-inner.use_tab .nav-tabs .nav-item .nav-link:hover {
  border-color: #1b427d;
  background: #1b427d; }
.account-inner .offer-account .change-register, .account-inner .offer-account .change-login {
  border-bottom-color: #1b427d; }

@media (min-width: 992px) {
  .product-line-grid .product-line-grid-right .cart-line-product-actions .remove-from-cart:hover {
    color: #1b427d; } }

.deo-content-cart {
  border-top-color: #1b427d; }

.icon-cart-sidebar-wrapper {
  background: #1b427d; }
  .icon-cart-sidebar-wrapper .icon-cart-sidebar {
    background: #1b427d; }
  .icon-cart-sidebar-wrapper .icon-cart-total {
    color: #1b427d;
    border-color: #1b427d; }

.deo-sidebar-cart .cart-sidebar-heading {
  background: #1b427d; }
.deo-sidebar-cart.slidebar_left .cart-sidebar-header {
  border-color: #1b427d; }
.deo-sidebar-cart.slidebar_right .cart-sidebar-header {
  border-color: #1b427d; }
.deo-sidebar-cart.slidebar_top .cart-sidebar-header {
  border-color: #1b427d; }
.deo-sidebar-cart.slidebar_bottom .cart-sidebar-header {
  border-color: #1b427d; }

.deo-icon-cart-loading:before {
  border-color: #1b427d;
  -moz-box-shadow: inset 0 0 10px #1b427d;
  -webkit-box-shadow: inset 0 0 10px #1b427d;
  -o-box-shadow: inset 0 0 10px #1b427d;
  -ms-box-shadow: inset 0 0 10px #1b427d;
  box-shadow: inset 0 0 10px #1b427d; }
.deo-icon-cart-loading:after {
  -moz-box-shadow: inset 0 0 10px #1b427d;
  -webkit-box-shadow: inset 0 0 10px #1b427d;
  -o-box-shadow: inset 0 0 10px #1b427d;
  -ms-box-shadow: inset 0 0 10px #1b427d;
  box-shadow: inset 0 0 10px #1b427d; }

.deo-select-attr.selected {
  color: #1b427d; }
.deo-select-attr:hover {
  color: #1b427d; }

#deo_product_reviews_block_extra .reviews_advices li a:hover {
  color: #1b427d; }

#product_reviews_product_page .usefulness_btn.allow:hover {
  color: #1b427d; }

#product_comparison .thumbnail-container .btn-cart-product-list .btn-product {
  background: #1b427d; }
  #product_comparison .thumbnail-container .btn-cart-product-list .btn-product:hover {
    background: #13366b; }

.deo-compare-review-dropdown .dropdown-toggle:hover, .deo-compare-review-dropdown .dropdown-toggle:active, .deo-compare-review-dropdown .dropdown-toggle:focus {
  color: #1b427d; }
.deo-compare-review-dropdown.open .btn-secondary.dropdown-toggle {
  color: #1b427d; }
.deo-compare-review-dropdown .dropdown-menu .dropdown-item:hover {
  color: #1b427d; }

.deo-table-list-wishlist table tbody > tr.show {
  color: #1b427d; }
  .deo-table-list-wishlist table tbody > tr.show a {
    color: #1b427d; }

.wishlist-item:hover, .move-wishlist-item:hover {
  color: #1b427d; }
.wishlist-item.added, .wishlist-item.added:hover, .move-wishlist-item.added, .move-wishlist-item.added:hover {
  color: #1b427d; }

#mywishlist .new-wishlist .deo-save-wishlist-btn {
  background: #1b427d; }
  #mywishlist .new-wishlist .deo-save-wishlist-btn:hover {
    background: #13366b; }
#mywishlist .footer_links li a:hover {
  background: #1b427d; }

.deo-modal-send-wishlist .modal-footer .btn {
  background: #1b427d; }
  .deo-modal-send-wishlist .modal-footer .btn:hover {
    background: #13366b; }

.deo-wishlist-product .thumbnail-container .btn-cart-product-list .btn-product {
  background: #1b427d; }
  .deo-wishlist-product .thumbnail-container .btn-cart-product-list .btn-product:hover {
    background: #13366b; }

.footer_link li a:hover {
  background: #1b427d; }

.deo-content-cart .cart-item .cart-item-info .product-name a {
  font-family: "Nunito Sans", sans-serif; }
  .deo-content-cart .cart-item .cart-item-info .product-name a:hover {
    color: #1b427d; }
.deo-content-cart .cart-item .remove-cart:hover i:before {
  color: #1b427d; }

.deo-count-sold .progress {
  background: rgba(27, 66, 125, 0.5); }
.deo-count-sold .progressing {
  background: #1b427d; }

@media (min-width: 992px) {
  .slick-arrows .slick-arrow:hover {
    border-color: #1b427d;
    background: #1b427d; } }

@media (min-width: 992px) {
  .button-white .slick-slider .slick-arrows .slick-arrow:hover {
    background: #FFFFFF; }
    .button-white .slick-slider .slick-arrows .slick-arrow:hover:before {
      color: #1b427d; } }

.slick-dots li.slick-active button {
  background: #1b427d; }
.slick-dots li:hover:not(.slick-active) button {
  background: #1b427d; }

.slick-slider.deo-carousel-loading.show-icon-loading::before {
  background-color: #1b427d; }

#deo-paneltool .paneltool-title {
  background: #1b427d; }
  @media (min-width: 992px) {
    #deo-paneltool .paneltool-title:hover {
      background: #13366b; } }
#deo-paneltool .panelbutton.active {
  color: #1b427d; }
@media (min-width: 992px) {
  #deo-paneltool .panelbutton:hover {
    color: #1b427d; } }

.group-input .deo_config.active {
  color: #1b427d; }
@media (min-width: 992px) {
  .group-input .deo_config:hover {
    color: #1b427d; } }

@media (min-width: 992px) {
  .cookie .close-popup:hover {
    color: #1b427d;
    border-color: #1b427d; } }

.deo-social-login-form .form-content .form-group-checkbox .link-term:hover {
  color: #1b427d; }

.title-normal.title-special .box-title {
  background: #1b427d; }
  .title-normal.title-special .box-title:before, .title-normal.title-special .box-title:after {
    background: #13366b; }
@media (min-width: 992px) {
  .title-normal.title-sidebar .slick-arrows .slick-arrow:hover {
    border-color: #1b427d;
    background: #1b427d; } }

.title-border.title-border-bottom .title_block:after {
  background: #1b427d; }

.deo-dropdown .option .opt-val:hover {
  color: #1b427d; }
.deo-dropdown .option input:checked + .opt-val {
  color: #1b427d; }

.tabs-left .nav-tabs .nav-item .nav-link:hover, .tabs-left .nav-tabs .nav-item .nav-link:focus, .tabs-left .nav-tabs .nav-item .nav-link.active,
.tabs-right .nav-tabs .nav-item .nav-link:hover,
.tabs-right .nav-tabs .nav-item .nav-link:focus,
.tabs-right .nav-tabs .nav-item .nav-link.active,
.tabs-top .nav-tabs .nav-item .nav-link:hover,
.tabs-top .nav-tabs .nav-item .nav-link:focus,
.tabs-top .nav-tabs .nav-item .nav-link.active,
.tabs-below .nav-tabs .nav-item .nav-link:hover,
.tabs-below .nav-tabs .nav-item .nav-link:focus,
.tabs-below .nav-tabs .nav-item .nav-link.active {
  color: #1b427d;
  border-color: #1b427d; }
.tabs-left .nav-tabs .nav-item .nav-link.active:hover, .tabs-left .nav-tabs .nav-item .nav-link.active:focus,
.tabs-right .nav-tabs .nav-item .nav-link.active:hover,
.tabs-right .nav-tabs .nav-item .nav-link.active:focus,
.tabs-top .nav-tabs .nav-item .nav-link.active:hover,
.tabs-top .nav-tabs .nav-item .nav-link.active:focus,
.tabs-below .nav-tabs .nav-item .nav-link.active:hover,
.tabs-below .nav-tabs .nav-item .nav-link.active:focus {
  color: #1b427d;
  border-color: #1b427d; }

.tabs-top .nav-tabs .nav-item .nav-link:hover, .tabs-top .nav-tabs .nav-item .nav-link:focus, .tabs-top .nav-tabs .nav-item .nav-link.active, .tabs-below .nav-tabs .nav-item .nav-link:hover, .tabs-below .nav-tabs .nav-item .nav-link:focus, .tabs-below .nav-tabs .nav-item .nav-link.active {
  color: #1b427d; }
.tabs-top .nav-tabs .nav-item .nav-link.active:hover, .tabs-top .nav-tabs .nav-item .nav-link.active:focus, .tabs-below .nav-tabs .nav-item .nav-link.active:hover, .tabs-below .nav-tabs .nav-item .nav-link.active:focus {
  color: #1b427d; }

.deo-tabs.tabs-three .nav-tabs .nav-item .nav-link:hover, .deo-tabs.tabs-three .nav-tabs .nav-item .nav-link:focus, .deo-tabs.tabs-three .nav-tabs .nav-item .nav-link.active {
  background: #1b427d;
  border-color: #1b427d; }
.deo-tabs.tabs-three .nav-tabs .nav-item .nav-link.active:hover, .deo-tabs.tabs-three .nav-tabs .nav-item .nav-link.active:focus {
  background: #1b427d;
  border-color: #1b427d; }
.deo-tabs.tabs-four .nav-tabs .nav-item .nav-link {
  padding: 0 0 2px; }
  .deo-tabs.tabs-four .nav-tabs .nav-item .nav-link:before {
    background: #1b427d;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
@media (max-width: 991px) and (min-width: 576px) {
  .deo-tabs.tabs-six .nav-tabs .nav-item .nav-link:hover, .deo-tabs.tabs-six .nav-tabs .nav-item .nav-link:focus, .deo-tabs.tabs-six .nav-tabs .nav-item .nav-link.active {
    color: #1b427d; }
  .deo-tabs.tabs-six .nav-tabs .nav-item .nav-link.active:hover, .deo-tabs.tabs-six .nav-tabs .nav-item .nav-link.active:focus {
    color: #1b427d; } }
@media (min-width: 576px) {
  .deo-tabs.tabs-eight .nav-tabs .nav-item .nav-link:after {
    background: #1b427d; } }
.deo-tabs.tabs-nine .nav-tabs .nav-item .nav-link:hover, .deo-tabs.tabs-nine .nav-tabs .nav-item .nav-link:focus, .deo-tabs.tabs-nine .nav-tabs .nav-item .nav-link.active {
  color: #1b427d; }
.deo-tabs.tabs-nine .nav-tabs .nav-item .nav-link.active:hover, .deo-tabs.tabs-nine .nav-tabs .nav-item .nav-link.active:focus {
  color: #1b427d; }
.deo-tabs.tabs-nine .nav-tabs .nav-item .nav-link.active:before {
  background: #1b427d; }
.deo-tabs.tabs-background-white .nav-tabs .nav-item .nav-link:before {
  background: #1b427d; }
.deo-tabs.tabs-background-white .nav-tabs .nav-item .nav-link:hover, .deo-tabs.tabs-background-white .nav-tabs .nav-item .nav-link:focus, .deo-tabs.tabs-background-white .nav-tabs .nav-item .nav-link.active {
  background: #1b427d;
  border-color: #1b427d; }
.deo-tabs.tabs-background-white .nav-tabs .nav-item .nav-link.active:hover, .deo-tabs.tabs-background-white .nav-tabs .nav-item .nav-link.active:focus {
  background: #1b427d;
  border-color: #1b427d; }
.deo-tabs.tabs-white .nav-tabs .nav-item .nav-link:before {
  background: #1b427d; }
.deo-tabs.tabs-white .nav-tabs .nav-item .nav-link:hover, .deo-tabs.tabs-white .nav-tabs .nav-item .nav-link:focus, .deo-tabs.tabs-white .nav-tabs .nav-item .nav-link.active {
  color: #1b427d; }
.deo-tabs.tabs-white .nav-tabs .nav-item .nav-link.active:hover, .deo-tabs.tabs-white .nav-tabs .nav-item .nav-link.active:focus {
  color: #1b427d; }

.block .nav-pills > li.active > a:before {
  color: #1b427d; }

.deo-google-map .detail-store .view-more a {
  color: #1b427d; }
  .deo-google-map .detail-store .view-more a:hover {
    color: #13366b; }

.DeoProductList .box-show-more a:hover {
  border-color: #13366b;
  background-color: #1b427d; }

.deo-infinite-load-more a {
  background: #1b427d; }
  @media (min-width: 992px) {
    .deo-infinite-load-more a:hover {
      background: #13366b; } }

/* Multi Image Product List */
.deo-more-product-img .link-img.shown:before {
  border-color: #1b427d; }
@media (min-width: 992px) {
  .deo-more-product-img .slick-slider .slick-arrows .slick-arrow:hover:before {
    color: #1b427d; } }

@media (min-width: 992px) {
  .btn-more-image-opacity .more-image.more-image-horizontal .deo-more-product-img .slick-slider .slick-arrows .slick-arrow:hover {
    background: #1b427d; } }

.box-show-more a:hover {
  border-color: #13366b;
  background-color: #1b427d; }

.deo-category-image .view_all .btn:hover {
  background: #1b427d;
  border-color: #13366b; }
.deo-category-image.image-category-three .level0 > li > .cate_content .deo-qty-category {
  color: #1b427d; }
.deo-category-image.image-category-five .view_all .btn {
  color: #1b427d; }
  .deo-category-image.image-category-five .view_all .btn:hover {
    color: #13366b; }
.deo-category-image.image-category-ten .level0 > li > .cate_content .cate-name:hover + .deo-qty-category {
  color: #1b427d; }
.deo-category-image.image-category-ten .view_all_wapper .btn:hover {
  color: #1b427d; }
.deo-category-image.image-category-bugi-two .view_all .btn {
  color: #1b427d; }
  .deo-category-image.image-category-bugi-two .view_all .btn:hover {
    color: #13366b; }

.image-category.image-category-seven .view_all a {
  color: #1b427d; }
  .image-category.image-category-seven .view_all a:hover {
    color: #13366b; }

@media (min-width: 992px) {
  .deo-more-product-img .slick-arrows .slick-arrow:hover:before {
    color: #1b427d; } }

.instagram-block .link-instagram a:hover {
  color: #1b427d; }
.instagram-block .block_title .link-instagram a {
  background: #1b427d; }
  .instagram-block .block_title .link-instagram a:hover {
    background: #13366b; }

@media (min-width: 992px) {
  .DeoCountdown.countdown-style-one .deo-countdown-link a:hover {
    background: #13366b; } }
.DeoCountdown.countdown-style-two .deo-countdown-link a {
  background: #1b427d; }
  @media (min-width: 992px) {
    .DeoCountdown.countdown-style-two .deo-countdown-link a:hover {
      background: #13366b; } }
.DeoCountdown.countdown-style-three .deo-countdown-link a {
  background: #1b427d; }
  @media (min-width: 992px) {
    .DeoCountdown.countdown-style-three .deo-countdown-link a:hover {
      background: #13366b; } }

@media (min-width: 992px) {
  .countdown-bugi-one .deo-countdown-link a:hover {
    color: #1b427d; } }

.deo-nav-mobile .deo-count-feature .deo-total {
  background: #1b427d; }
.deo-nav-mobile .DeoCartClone .deo-cart-solo .icon-cart-sidebar-wrapper .icon-cart-total {
  background: #1b427d; }

.service.service-border-dashed:hover {
  color: #1b427d;
  border-color: #1b427d; }
  .service.service-border-dashed:hover i {
    color: #1b427d; }
  .service.service-border-dashed:hover h3 {
    color: #1b427d; }
    .service.service-border-dashed:hover h3 a {
      color: #1b427d; }
.service.service-style-six .link-service {
  background: rgba(27, 66, 125, 0.2); }
.service.service-style-eight h3:before {
  background: #1b427d; }
.service.service-style-eight i {
  color: #1b427d; }
.service.service-style-eight .left-block {
  border: 2px solid rgba(27, 66, 125, 0.2); }
  .service.service-style-eight .left-block:before {
    background: rgba(27, 66, 125, 0.2); }
  .service.service-style-eight .left-block:after {
    background: rgba(27, 66, 125, 0.2); }
.service.service-style-eight:hover .left-block {
  border-color: #1b427d; }
  .service.service-style-eight:hover .left-block:after {
    background-color: #1b427d; }
.service.service-style-twelve {
  border-color: #1b427d; }
  .service.service-style-twelve .link-service {
    background: #1b427d; }
  .service.service-style-twelve .read-more > a {
    color: #1b427d; }
  @media (min-width: 992px) {
    .service.service-style-twelve:hover {
      -moz-box-shadow: 0px 0px 0px 2px #1b427d;
      -webkit-box-shadow: 0px 0px 0px 2px #1b427d;
      -o-box-shadow: 0px 0px 0px 2px #1b427d;
      -ms-box-shadow: 0px 0px 0px 2px #1b427d;
      box-shadow: 0px 0px 0px 2px #1b427d; } }
.service.service-white.service-border-dashed:hover {
  color: #1b427d;
  border-color: #1b427d; }
  .service.service-white.service-border-dashed:hover i {
    color: #1b427d; }
  .service.service-white.service-border-dashed:hover h3 {
    color: #1b427d; }
    .service.service-white.service-border-dashed:hover h3 a {
      color: #1b427d; }

.fake-product.fake-product-one h3 {
  color: #1b427d; }
.fake-product.fake-product-one .btn:hover {
  background: #1b427d; }
.fake-product.fake-product-two .btn {
  color: #1b427d; }
  .fake-product.fake-product-two .btn:hover {
    color: #13366b; }

.fake-number-static.fake-number-static-one i {
  color: #1b427d; }
.fake-number-static.fake-number-static-one p {
  color: #1b427d; }

.about-us.about-us-two .content:before {
  background: #1b427d; }
.about-us.about-us-two .content:hover:before {
  background: #13366b; }
.about-us.about-us-three .list-about li a:hover {
  color: #1b427d; }
  .about-us.about-us-three .list-about li a:hover:before {
    color: #13366b; }
.about-us.about-us-eight .block_content > div:before {
  color: #1b427d; }
.about-us.about-us-nine li a:hover {
  color: #1b427d; }
.about-us.about-us-ten .btn:hover {
  border-color: #13366b;
  background: #1b427d; }
@media (min-width: 992px) {
  .about-us.about-us-bugi-one .btn:hover {
    border-color: #1b427d;
    background: #1b427d; } }
@media (min-width: 992px) {
  .about-us.about-us-bugi-one.btn-white .btn:hover {
    border-color: #1b427d; } }

.open-time.open-time-one .btn:hover {
  background: #1b427d; }
.footer-black .open-time.open-time-three p:before {
  border-bottom-color: #cccccc; }

.testimonials .title a:hover {
  color: #1b427d; }

@media (min-width: 992px) {
  .slide-header .carousel-control .icon-prev:hover:before, .slide-header .carousel-control .icon-next:hover:before {
    color: #1b427d; } }

.header-contact li a:hover {
  color: #1b427d; }

.header-phone h4 {
  color: #1b427d; }

.text-shop-now.text-shop-now-one .btn {
  background: #1b427d; }
  @media (min-width: 992px) {
    .text-shop-now.text-shop-now-one .btn:hover {
      background: #13366b; } }
.text-shop-now.text-shop-now-two .btn {
  color: #1b427d;
  border-color: #1b427d; }
  @media (min-width: 992px) {
    .text-shop-now.text-shop-now-two .btn:hover {
      background: #1b427d; } }
@media (min-width: 992px) {
  .text-shop-now.text-shop-now-three .btn:hover {
    border-color: #1b427d;
    background: #1b427d; } }
@media (min-width: 992px) {
  .text-shop-now.text-shop-now-bugi-one .btn:hover {
    border-color: #1b427d;
    background: #1b427d; } }
@media (min-width: 992px) {
  .text-shop-now.text-shop-now-bugi-one.btn-white .btn:hover {
    border-color: #1b427d; } }

.DeoImageHotspot .hotspot {
  top: 50%;
  left: 50%;
  position: absolute; }
  .DeoImageHotspot .hotspot .alert {
    margin: 0px; }
  .DeoImageHotspot .hotspot .hotspot-title:before {
    background: #1b427d; }
  .DeoImageHotspot .hotspot .hotspot-title:after {
    background: #1b427d; }

.popup-style-one .btn {
  color: #1b427d;
  border-color: #1b427d; }
  @media (min-width: 992px) {
    .popup-style-one .btn:hover {
      background: #1b427d; } }

.popup-style-four .btn {
  background: #1b427d; }
  @media (min-width: 992px) {
    .popup-style-four .btn:hover {
      background: #13366b; } }

.countdown-widget.countdown-style-one .deo-countdown-link a {
  background: #1b427d; }
  @media (min-width: 992px) {
    .countdown-widget.countdown-style-one .deo-countdown-link a:hover {
      background: #13366b; } }
.countdown-widget.countdown-style-two .deo-countdown-link a {
  background: #1b427d; }
  @media (min-width: 992px) {
    .countdown-widget.countdown-style-two .deo-countdown-link a:hover {
      background: #13366b; } }
.countdown-widget.countdown-style-three .deo-countdown-link a {
  background: #1b427d; }
  @media (min-width: 992px) {
    .countdown-widget.countdown-style-three .deo-countdown-link a:hover {
      background: #13366b; } }

.banner.banner-style-two .btn {
  color: #1b427d; }
  @media (min-width: 992px) {
    .banner.banner-style-two .btn:hover {
      color: #13366b; } }
.banner.banner-style-three .btn {
  color: #1b427d; }
  .banner.banner-style-three .btn:hover {
    color: #13366b; }
.banner.banner-style-four.overlay-theme .image:before {
  background: rgba(27, 66, 125, 0.4); }
@media (min-width: 992px) {
  .banner.banner-style-four.text-white .btn:hover {
    color: #1b427d; } }
@media (min-width: 992px) {
  .banner.banner-style-five .btn:hover {
    background: #1b427d; } }
.banner.banner-style-six h5 {
  color: #1b427d; }
.banner.banner-style-six .btn {
  color: #1b427d;
  border-color: #1b427d; }
  @media (min-width: 992px) {
    .banner.banner-style-six .btn:hover {
      border-color: #13366b;
      background: #1b427d; } }
.banner.banner-style-seven .btn {
  color: #1b427d;
  border-bottom-color: #1b427d; }
  @media (min-width: 992px) {
    .banner.banner-style-seven .btn:hover {
      color: #13366b; } }
.banner.banner-style-seven.text-white .btn:hover {
  color: #1b427d;
  border-bottom-color: #1b427d; }
.banner.banner-style-eight .btn {
  color: #1b427d; }
  .banner.banner-style-eight .btn:hover {
    color: #13366b; }
.banner.banner-style-nine .btn:hover {
  border-color: #1b427d;
  background: #1b427d; }
.banner.banner-style-ten .btn {
  color: #1b427d;
  border-color: #1b427d; }
  .banner.banner-style-ten .btn:hover {
    background: #1b427d;
    border-color: #13366b; }
.banner.banner-style-eleven .btn:hover {
  border-color: #1b427d;
  background: #1b427d; }
@media (min-width: 992px) {
  .banner.banner-bugi-two .btn:hover {
    border-color: #1b427d;
    background: #1b427d; } }
@media (min-width: 992px) {
  .banner.banner-bugi-two.white-text .btn:hover {
    border-color: #1b427d; } }
.banner.banner-bugi-three .btn:hover {
  background: #1b427d;
  border-color: #1b427d; }
@media (min-width: 992px) {
  .banner.banner-bugi-four .btn:hover {
    border-color: #1b427d;
    background: #1b427d; } }
@media (min-width: 992px) {
  .banner.banner-bugi-four.btn-white .btn:hover {
    border-color: #1b427d; } }
@media (min-width: 992px) {
  .banner.banner-bugi-five .btn:hover {
    border-color: #1b427d;
    background: #1b427d; } }
@media (min-width: 992px) {
  .banner.banner-bugi-five.btn-white .btn:hover {
    border-color: #1b427d; } }

@media (min-width: 992px) {
  .history .btn:hover, .history .btn:active, .history .btn:focus {
    color: #1b427d;
    border-color: #1b427d; } }

.process.process-style-one .item h3 b {
  color: #1b427d; }

.deo_slideshow .btn-slideshow:hover {
  border-color: #1b427d;
  background: #1b427d; }
.deo_slideshow .btn-slideshow.btn-black:hover {
  border-color: #13366b;
  background: #13366b; }

.service-carousel.button-middle .slick-arrows .slick-arrow:hover:before {
  color: #1b427d; }

.DeoGallery .filter-tags ul li a.is-checked {
  color: #1b427d; }
.DeoGallery .tags-gallery .tag-gallery {
  background: #1b427d; }

/*# sourceMappingURL=skin.css.map */
