/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
.banner.banner-bugi-one .media {
  position: relative; }
.banner.banner-bugi-one h3 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0px;
  text-transform: uppercase; }
.banner.banner-bugi-one .image_description {
  z-index: 9;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  pointer-events: none;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
.banner.banner-bugi-two {
  position: relative; }
  .banner.banner-bugi-two .image:before {
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 8;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    @media (min-width: 992px) {
      .banner.banner-bugi-two .image:before {
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0); } }
  .banner.banner-bugi-two .image_description {
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 9;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    pointer-events: none;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .banner.banner-bugi-two h3 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin-bottom: 3px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    @media (min-width: 992px) {
      .banner.banner-bugi-two h3 {
        font-size: 18px;
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%); } }
    .banner.banner-bugi-two h3:last-of-type {
      margin-bottom: 10px; }
  .banner.banner-bugi-two p {
    margin-bottom: 0px; }
  .banner.banner-bugi-two .btn {
    font-size: 13px;
    margin-top: 10px;
    padding: 8px 20px;
    font-weight: 600;
    color: #000000;
    border: 2px solid #000000;
    background: transparent;
    text-align: center;
    line-height: normal;
    font-style: normal;
    pointer-events: auto;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    @media (min-width: 992px) {
      .banner.banner-bugi-two .btn {
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%); }
        .banner.banner-bugi-two .btn:hover {
          color: #FFFFFF;
          border-color: #1bbc9b;
          background: #1bbc9b; } }
  .banner.banner-bugi-two.white-text h3 {
    color: #FFFFFF; }
  .banner.banner-bugi-two.white-text .btn {
    color: #FFFFFF;
    border-color: #FFFFFF; }
    @media (min-width: 992px) {
      .banner.banner-bugi-two.white-text .btn:hover {
        border-color: #1bbc9b; } }
  .banner.banner-bugi-two.white-text .image:before {
    background: rgba(0, 0, 0, 0.1); }
  @media (min-width: 992px) {
    .banner.banner-bugi-two:hover .image:before {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100); }
    .banner.banner-bugi-two:hover h3 {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%); }
    .banner.banner-bugi-two:hover .btn {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
      transform: translateY(0%); } }
.banner.banner-bugi-three .media {
  overflow: visible; }
.banner.banner-bugi-three .image_description {
  padding: 20px 10px;
  text-align: center;
  position: relative;
  background: #fafafa; }
  .banner.banner-bugi-three .image_description:before, .banner.banner-bugi-three .image_description:after {
    content: "";
    z-index: -1;
    bottom: 15px;
    max-width: 300px;
    background: #777;
    position: absolute;
    height: 8px;
    width: calc(50% - Min(10px,2%));
    -moz-box-shadow: 0px 14px 10px #777;
    -webkit-box-shadow: 0px 14px 10px #777;
    -o-box-shadow: 0px 14px 10px #777;
    -ms-box-shadow: 0px 14px 10px #777;
    box-shadow: 0px 14px 10px #777; }
  .banner.banner-bugi-three .image_description:before {
    left: Min(10px, 2%);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg); }
    .rtl .banner.banner-bugi-three .image_description:before {
      right: Min(10px, 2%);
      left: auto; }
  .banner.banner-bugi-three .image_description:after {
    right: Min(10px, 2%);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg); }
    .rtl .banner.banner-bugi-three .image_description:after {
      left: Min(10px, 2%);
      right: auto; }
.banner.banner-bugi-three h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase; }
.banner.banner-bugi-three p:last-of-type {
  margin-bottom: 0px; }
.banner.banner-bugi-three .btn {
  font-weight: 600;
  padding: 8px 16px;
  background: transparent;
  border: 2px solid #000000;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .banner.banner-bugi-three .btn:hover {
    color: #FFFFFF;
    background: #1bbc9b;
    border-color: #1bbc9b; }
.banner.banner-bugi-four {
  position: relative; }
  .banner.banner-bugi-four .image_description {
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 9;
    text-align: center;
    padding: 10px 20px;
    position: absolute;
    pointer-events: none;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .banner.banner-bugi-four h3 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin-bottom: 3px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    @media (min-width: 992px) {
      .banner.banner-bugi-four h3 {
        font-size: 18px; } }
    .banner.banner-bugi-four h3:last-of-type {
      margin-bottom: 10px; }
  .banner.banner-bugi-four p {
    margin-bottom: 0px; }
  .banner.banner-bugi-four .btn {
    font-size: 13px;
    margin-top: 15px;
    padding: 8px 20px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    background: #000000;
    text-align: center;
    line-height: normal;
    font-style: normal;
    pointer-events: auto;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    @media (min-width: 992px) {
      .banner.banner-bugi-four .btn:hover {
        color: #FFFFFF;
        border-color: #1bbc9b;
        background: #1bbc9b; } }
  .banner.banner-bugi-four.white-text {
    color: #FFFFFF; }
    .banner.banner-bugi-four.white-text h3 {
      color: #FFFFFF; }
  .banner.banner-bugi-four.btn-white .btn {
    color: #000000;
    background: #FFFFFF; }
    @media (min-width: 992px) {
      .banner.banner-bugi-four.btn-white .btn:hover {
        border-color: #1bbc9b; } }
  @media (min-width: 992px) {
    .banner.banner-bugi-four:hover .image:before {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100); } }
.banner.banner-bugi-five {
  position: relative; }
  .banner.banner-bugi-five .image_description {
    padding-top: 20px;
    text-align: center; }
    @media (min-width: 992px) {
      .banner.banner-bugi-five .image_description {
        padding-top: 30px; } }
  .banner.banner-bugi-five h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
    text-transform: uppercase; }
    @media (min-width: 992px) {
      .banner.banner-bugi-five h3 {
        font-size: 18px; } }
    .banner.banner-bugi-five h3:last-of-type {
      margin-bottom: 5px; }
  .banner.banner-bugi-five p {
    margin-bottom: 0px; }
  .banner.banner-bugi-five .btn {
    font-size: 14px;
    margin-top: 10px;
    padding: 12px 25px;
    color: #FFFFFF;
    border: none;
    background: #000000;
    text-align: center;
    line-height: normal;
    font-style: normal;
    pointer-events: auto;
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    @media (min-width: 992px) {
      .banner.banner-bugi-five .btn {
        min-width: 200px;
        padding: 15px 25px; }
        .banner.banner-bugi-five .btn:hover {
          color: #FFFFFF;
          border-color: #1bbc9b;
          background: #1bbc9b; } }
  .banner.banner-bugi-five.white-text {
    color: #FFFFFF; }
    .banner.banner-bugi-five.white-text h3 {
      color: #FFFFFF; }
  .banner.banner-bugi-five.btn-white .btn {
    color: #000000;
    background: #FFFFFF; }
    @media (min-width: 992px) {
      .banner.banner-bugi-five.btn-white .btn:hover {
        border-color: #1bbc9b; } }
  @media (min-width: 992px) {
    .banner.banner-bugi-five:hover .image:before {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100); } }

.deo-category-image.image-category-bugi-one .cate_content {
  text-align: center;
  position: relative; }
.deo-category-image.image-category-bugi-one .cate-meta {
  z-index: 9;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  pointer-events: none;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
.deo-category-image.image-category-bugi-one .cate-name {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 0px;
  text-transform: uppercase; }
.deo-category-image.image-category-bugi-two .cover-img {
  overflow: hidden; }
  .deo-category-image.image-category-bugi-two .cover-img a:before {
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 8;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    @media (min-width: 992px) {
      .deo-category-image.image-category-bugi-two .cover-img a:before {
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0); } }
.deo-category-image.image-category-bugi-two .box-cate {
  top: 50%;
  left: 0px;
  right: 0px;
  z-index: 9;
  pointer-events: none;
  text-align: center;
  padding: 10px 20px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
.deo-category-image.image-category-bugi-two .cate-name {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (min-width: 992px) {
    .deo-category-image.image-category-bugi-two .cate-name {
      font-size: 20px;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%); } }
  .deo-category-image.image-category-bugi-two .cate-name a {
    color: inherit;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000; }
.deo-category-image.image-category-bugi-two .deo-qty-category {
  font-size: 14px;
  display: block;
  font-weight: inherit;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (min-width: 992px) {
    .deo-category-image.image-category-bugi-two .deo-qty-category {
      visibility: hidden;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%); } }
.deo-category-image.image-category-bugi-two .view_all {
  margin-top: 10px; }
  .deo-category-image.image-category-bugi-two .view_all .btn {
    padding: 0px;
    border: none;
    background: transparent;
    text-decoration: underline;
    color: #1bbc9b;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .deo-category-image.image-category-bugi-two .view_all .btn:hover {
      background: transparent;
      color: #169a7f; }
.deo-category-image.image-category-bugi-two.white-text .cate-name {
  color: #FFFFFF; }
  .deo-category-image.image-category-bugi-two.white-text .cate-name a {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF; }
.deo-category-image.image-category-bugi-two.white-text .box-cate {
  color: #FFFFFF; }
.deo-category-image.image-category-bugi-two.white-text .cover-img a:before {
  background: rgba(0, 0, 0, 0.1); }
@media (min-width: 992px) {
  .deo-category-image.image-category-bugi-two:hover .cover-img a:before {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); }
  .deo-category-image.image-category-bugi-two:hover .cate-name {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  .deo-category-image.image-category-bugi-two:hover .deo-qty-category {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
.deo-category-image.image-category-bugi-three .cate_content {
  text-align: center; }
  .deo-category-image.image-category-bugi-three .cate_content .cate-meta {
    margin-top: 10px; }
  .deo-category-image.image-category-bugi-three .cate_content .cover-img a {
    display: block;
    overflow: hidden;
    border-radius: 50%; }
  .deo-category-image.image-category-bugi-three .cate_content .cover-img img {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  .deo-category-image.image-category-bugi-three .cate_content .cate-meta {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  .deo-category-image.image-category-bugi-three .cate_content .cate-name {
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .deo-category-image.image-category-bugi-three .cate_content .deo-qty-category {
    font-size: 13px;
    font-weight: 300;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .deo-category-image.image-category-bugi-three .cate_content .deo-qty-category.processed-qty-category:before {
      content: '(';
      display: inline-block; }
    .deo-category-image.image-category-bugi-three .cate_content .deo-qty-category.processed-qty-category:after {
      content: ')';
      display: inline-block; }

.footer-contact.footer-contact-bugi-one ul {
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: left; }
  .rtl .footer-contact.footer-contact-bugi-one ul {
    text-align: right; }
  .footer-contact.footer-contact-bugi-one ul li {
    width: 33.3%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 10px 0px 65px; }
    .rtl .footer-contact.footer-contact-bugi-one ul li {
      padding: 0px 65px 0px 10px; }
    @media (max-width: 575px) {
      .footer-contact.footer-contact-bugi-one ul li {
        width: 50%; } }
    @media (max-width: 575px) {
      .footer-contact.footer-contact-bugi-one ul li.address {
        width: 100%; } }
    .footer-contact.footer-contact-bugi-one ul li i {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #FFFFFF;
      top: 0px;
      position: absolute;
      left: 15px; }
      .rtl .footer-contact.footer-contact-bugi-one ul li i {
        right: 15px;
        left: auto; }
      .footer-contact.footer-contact-bugi-one ul li i:before {
        z-index: 9;
        position: relative; }
      .footer-contact.footer-contact-bugi-one ul li i:after {
        content: " ";
        width: 100%;
        height: 100%;
        display: block;
        background: #1bbc9b;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 2px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
    .footer-contact.footer-contact-bugi-one ul li h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 3px; }
.footer-contact.footer-contact-bugi-one p {
  margin-bottom: 0px; }
.footer-contact.footer-contact-bugi-one .btn {
  color: #FFFFFF;
  padding: 5px 30px;
  margin-top: 10px;
  text-transform: uppercase;
  background: #1bbc9b;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .footer-contact.footer-contact-bugi-one .btn:hover {
    background: #169a7f; }
.footer-contact.footer-contact-bugi-two .phone-contact {
  margin-bottom: 20px;
  position: relative;
  padding-left: 60px; }
  .rtl .footer-contact.footer-contact-bugi-two .phone-contact {
    padding-right: 60px;
    padding-left: inherit; }
  .footer-contact.footer-contact-bugi-two .phone-contact:before {
    content: '\ea99';
    top: 50%;
    position: absolute;
    font-size: 40px;
    font-family: "deo-custom-icons";
    color: #1bbc9b;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .rtl .footer-contact.footer-contact-bugi-two .phone-contact:before {
      right: 0px;
      left: auto; }
  .footer-contact.footer-contact-bugi-two .phone-contact p {
    margin-bottom: 3px; }
  .footer-contact.footer-contact-bugi-two .phone-contact h3 {
    color: inherit;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px; }
.footer-contact.footer-contact-bugi-two .contact-infor {
  margin-bottom: 10px; }
  .footer-contact.footer-contact-bugi-two .contact-infor h4 {
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    margin-bottom: 10px; }
  .footer-contact.footer-contact-bugi-two .contact-infor ul {
    margin-bottom: 0px; }
    .footer-contact.footer-contact-bugi-two .contact-infor ul li {
      position: relative;
      padding-left: 25px; }
      .rtl .footer-contact.footer-contact-bugi-two .contact-infor ul li {
        padding-right: 25px;
        padding-left: inherit; }
      .footer-contact.footer-contact-bugi-two .contact-infor ul li + li {
        margin-top: 10px; }
      .footer-contact.footer-contact-bugi-two .contact-infor ul li a {
        color: inherit; }
        .footer-contact.footer-contact-bugi-two .contact-infor ul li a:hover {
          color: #169a7f; }
      .footer-contact.footer-contact-bugi-two .contact-infor ul li i {
        top: 2px;
        font-size: 16px;
        position: absolute;
        color: #1bbc9b;
        left: 0px; }
        .rtl .footer-contact.footer-contact-bugi-two .contact-infor ul li i {
          right: 0px;
          left: auto; }
.footer-contact.footer-contact-bugi-three .phone-contact {
  margin-bottom: 10px;
  position: relative; }
  .footer-contact.footer-contact-bugi-three .phone-contact p {
    margin-bottom: 5px; }
  .footer-contact.footer-contact-bugi-three .phone-contact h3 {
    color: inherit;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px; }
.footer-contact.footer-contact-bugi-three ul {
  margin-bottom: 0px; }
  .footer-contact.footer-contact-bugi-three ul li {
    position: relative; }
    .footer-contact.footer-contact-bugi-three ul li + li {
      margin-top: 10px; }
    .footer-contact.footer-contact-bugi-three ul li i {
      font-size: 16px;
      margin-right: 8px; }
      .rtl .footer-contact.footer-contact-bugi-three ul li i {
        margin-left: 8px;
        margin-right: inherit; }

.DeoBlockLink.block-link-bugi-one ul {
  margin-left: -20px;
  margin-right: -20px; }
  @media (max-width: 1199px) {
    .DeoBlockLink.block-link-bugi-one ul {
      margin-left: -15px;
      margin-right: -15px; } }
  .DeoBlockLink.block-link-bugi-one ul li {
    padding-left: 20px;
    padding-right: 20px; }
    @media (max-width: 1199px) {
      .DeoBlockLink.block-link-bugi-one ul li {
        padding-left: 15px;
        padding-right: 15px; } }
    .DeoBlockLink.block-link-bugi-one ul li a {
      font-size: 20px; }

@media (min-width: 576px) {
  .block_newsletter.newsletter-bugi-one {
    border: 1px solid #eaeaea;
    padding: 20px; } }
@media (min-width: 992px) {
  .block_newsletter.newsletter-bugi-one {
    padding: 20px 30px; }
    .footer-container .block_newsletter.newsletter-bugi-one .title_block,
    .block_newsletter.newsletter-bugi-one .box-title .title_block {
      margin-bottom: 10px; }
    .block_newsletter.newsletter-bugi-one .description {
      display: none; }
    .block_newsletter.newsletter-bugi-one .box-title .description {
      display: block;
      margin-bottom: 0px; }
    .block_newsletter.newsletter-bugi-one .popup-content-newsletter {
      margin-left: -10px;
      margin-right: -10px;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center; }
      .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title, .block_newsletter.newsletter-bugi-one .popup-content-newsletter .block_content {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px; } }
@media (min-width: 992px) {
  .block_newsletter.newsletter-bugi-one .popup-content-newsletter {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; } }
@media (min-width: 992px) {
  .block_newsletter.newsletter-bugi-one .popup-content-newsletter .block_content {
    width: 40%; } }
@media (min-width: 576px) {
  .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title {
    margin: 0px 0px 20px; } }
@media (min-width: 992px) {
  .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title {
    width: 60%;
    max-width: 700px;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; } }
@media (min-width: 576px) {
  .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title .title {
    padding: 0px 0px 0px 30px; }
    .rtl .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title .title {
      padding: 0px 30px 0px 0px; } }
@media (min-width: 992px) {
  .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title .title {
    width: 35%;
    padding: 0px 20px 0px 30px; }
    .rtl .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title .title {
      padding: 0px 30px 0px 20px; } }
@media (min-width: 576px) {
  .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title .title:before {
    content: '\e92f';
    position: absolute;
    font-family: "deo-custom-icons";
    top: 50%;
    font-size: 22px;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .rtl .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title .title:before {
      right: 0px;
      left: auto; } }
@media (min-width: 992px) {
  .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title .title:after {
    content: '';
    width: 1px;
    height: 100%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    min-height: 30px;
    border-left: 1px solid #eaeaea;
    position: absolute;
    right: 20px; }
    .rtl .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title .title:after {
      left: 20px;
      right: auto; } }
@media (min-width: 576px) {
  .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title .title .title_block {
    font-size: 22px;
    margin-bottom: 0px; } }
@media (min-width: 992px) {
  .block_newsletter.newsletter-bugi-one .popup-content-newsletter .box-title .sub-title-widget {
    width: 65%; } }

.search-widget.search-bugi-one .popup-content {
  background: #FFFFFF;
  border: 1px solid #eaeaea; }
  .search-widget.search-bugi-one .popup-content input[type=text] {
    height: 34px;
    background: transparent;
    overflow: hidden;
    padding: 5px 50px 5px 15px; }
    .rtl .search-widget.search-bugi-one .popup-content input[type=text] {
      padding: 5px 15px 5px 50px; }
  .search-widget.search-bugi-one .popup-content button[type=submit] {
    top: 3px;
    bottom: 3px;
    color: inherit;
    width: 50px;
    height: 34px;
    line-height: 34px;
    position: relative;
    background: transparent;
    right: 0px; }
    .rtl .search-widget.search-bugi-one .popup-content button[type=submit] {
      left: 0px;
      right: auto; }
    .search-widget.search-bugi-one .popup-content button[type=submit]:hover {
      background: transparent;
      color: #169a7f; }
    .search-widget.search-bugi-one .popup-content button[type=submit]:before {
      content: '';
      top: 50%;
      height: 16px;
      width: 1px;
      border: 1px solid #eaeaea;
      position: absolute;
      left: 0px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      .rtl .search-widget.search-bugi-one .popup-content button[type=submit]:before {
        right: 0px;
        left: auto; }
.search-widget.search-bugi-two .popup-content {
  background: #FFFFFF;
  border: 1px solid #eaeaea;
  border-radius: 5px; }
  .search-widget.search-bugi-two .popup-content input[type=text] {
    height: 34px;
    background: transparent;
    overflow: hidden;
    padding: 5px 50px 5px 15px; }
    .rtl .search-widget.search-bugi-two .popup-content input[type=text] {
      padding: 5px 15px 5px 50px; }
  .search-widget.search-bugi-two .popup-content button[type=submit] {
    top: 3px;
    bottom: 3px;
    color: inherit;
    width: 50px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    background: transparent;
    right: 0px; }
    .rtl .search-widget.search-bugi-two .popup-content button[type=submit] {
      left: 0px;
      right: auto; }
    .search-widget.search-bugi-two .popup-content button[type=submit]:hover {
      background: transparent;
      color: #169a7f; }
.search-widget.search-bugi-two.search-white .popup-content {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  color: #cccccc; }
.search-widget.search-bugi-two.search-white.light .popup-content {
  border-color: #ffffff;
  color: #ffffff; }

.deo-search-advanced.search-bugi-one .popup-content {
  background: #FFFFFF;
  border: 1px solid #eaeaea;
  border-radius: 0px; }
.deo-search-advanced.search-bugi-one .block_content .deo-advanced-search-input {
  width: calc(100% - 50px); }
  .deo-search-advanced.search-bugi-one .block_content .deo-advanced-search-input .advanced_search_query {
    height: 34px;
    background: transparent;
    border-width: 0px 0px 0px 0px; }
    .rtl .deo-search-advanced.search-bugi-one .block_content .deo-advanced-search-input .advanced_search_query {
      border-width: 0px 0px 0px 0px; }
.deo-search-advanced.search-bugi-one .block_content .deo-advanced-search-top-button {
  top: 0px;
  bottom: 0px;
  width: 50px;
  height: 34px;
  line-height: 34px;
  color: inherit;
  position: relative;
  background: transparent;
  right: 0px; }
  .rtl .deo-search-advanced.search-bugi-one .block_content .deo-advanced-search-top-button {
    left: 0px;
    right: auto; }
  .deo-search-advanced.search-bugi-one .block_content .deo-advanced-search-top-button:hover {
    background: transparent;
    color: #169a7f; }
  .deo-search-advanced.search-bugi-one .block_content .deo-advanced-search-top-button:before {
    content: '';
    top: 50%;
    height: 16px;
    width: 1px;
    border: 1px solid #eaeaea;
    position: absolute;
    left: 0px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .rtl .deo-search-advanced.search-bugi-one .block_content .deo-advanced-search-top-button:before {
      right: 0px;
      left: auto; }
.deo-search-advanced.search-bugi-one .block_content .list-cate-wrapper .select-title {
  height: 34px;
  line-height: 34px;
  background: transparent;
  border-width: 0px 0px 0px 0px; }
  .rtl .deo-search-advanced.search-bugi-one .block_content .list-cate-wrapper .select-title {
    border-width: 0px 0px 0px 0px; }
  .deo-search-advanced.search-bugi-one .block_content .list-cate-wrapper .select-title:before {
    width: 1px; }
.deo-search-advanced.search-bugi-one.search-by-category .block_content .deo-advanced-search-input {
  width: calc(75% - 50px); }
  @media (max-width: 991px) {
    .deo-search-advanced.search-bugi-one.search-by-category .block_content .deo-advanced-search-input {
      width: calc(65% - 50px); } }
  @media (max-width: 767px) {
    .deo-search-advanced.search-bugi-one.search-by-category .block_content .deo-advanced-search-input {
      width: calc(100% - 50px); } }
  .deo-search-advanced.search-bugi-one.search-by-category .block_content .deo-advanced-search-input .advanced_search_query {
    height: 34px; }
.deo-search-advanced.search-bugi-one.search-by-category .block_content .deo-advanced-search-top-button {
  width: 50px;
  height: 34px;
  line-height: 34px; }
.deo-search-advanced.search-bugi-two .popup-content {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px; }
.deo-search-advanced.search-bugi-two .block_content .deo-advanced-search-input {
  width: calc(100% - 40px); }
  .deo-search-advanced.search-bugi-two .block_content .deo-advanced-search-input .advanced_search_query {
    height: 34px;
    color: inherit;
    background: transparent;
    border-width: 0px 0px 0px 0px; }
    .rtl .deo-search-advanced.search-bugi-two .block_content .deo-advanced-search-input .advanced_search_query {
      border-width: 0px 0px 0px 0px; }
.deo-search-advanced.search-bugi-two .block_content .deo-advanced-search-top-button {
  top: 0px;
  bottom: 0px;
  width: 40px;
  height: 34px;
  line-height: 34px;
  color: inherit;
  position: absolute;
  background: transparent;
  right: 0px; }
  .rtl .deo-search-advanced.search-bugi-two .block_content .deo-advanced-search-top-button {
    left: 0px;
    right: auto; }
  .deo-search-advanced.search-bugi-two .block_content .deo-advanced-search-top-button:hover {
    background: transparent;
    color: #169a7f; }
.deo-search-advanced.search-bugi-two .block_content .list-cate-wrapper .select-title {
  height: 34px;
  line-height: 34px;
  color: inherit;
  background: transparent;
  border-width: 0px 0px 0px 0px; }
  .rtl .deo-search-advanced.search-bugi-two .block_content .list-cate-wrapper .select-title {
    border-width: 0px 0px 0px 0px; }
  .deo-search-advanced.search-bugi-two .block_content .list-cate-wrapper .select-title:before {
    width: 1px;
    border-color: rgba(255, 255, 255, 0.8); }
.deo-search-advanced.search-bugi-two.search-by-category .block_content .deo-advanced-search-input {
  width: calc(75% - 40px); }
  @media (max-width: 991px) {
    .deo-search-advanced.search-bugi-two.search-by-category .block_content .deo-advanced-search-input {
      width: calc(65% - 40px); } }
  @media (max-width: 767px) {
    .deo-search-advanced.search-bugi-two.search-by-category .block_content .deo-advanced-search-input {
      width: calc(100% - 40px); } }
  .deo-search-advanced.search-bugi-two.search-by-category .block_content .deo-advanced-search-input .advanced_search_query {
    height: 34px; }
.deo-search-advanced.search-bugi-two.search-by-category .block_content .deo-advanced-search-top-button {
  width: 40px;
  height: 34px;
  line-height: 34px; }
.deo-search-advanced.search-bugi-two.search-white .popup-content {
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  color: #cccccc; }
.deo-search-advanced.search-bugi-two.search-white.light .popup-content {
  border-color: #ffffff;
  color: #ffffff; }

.countdown-bugi-one {
  padding: 30px 15px; }
  .countdown-bugi-one .deo-countdown {
    margin-top: 0px;
    border-top: none; }
    .countdown-bugi-one .deo-countdown .deo_countdown_digit_cont {
      font-size: 18px; }
    .countdown-bugi-one .deo-countdown .deo_countdown_interval_basic_cont_description {
      margin-top: 3px; }
  .countdown-bugi-one .box-title {
    font-size: 16px; }
    .countdown-bugi-one .box-title .title_block {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      display: inline-block; }
    .countdown-bugi-one .box-title .sub-title-widget {
      font-weight: bold;
      display: inline-block; }
  .countdown-bugi-one .description p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 5px 20px;
    display: inline-block;
    position: relative; }
    @media (min-width: 576px) {
      .countdown-bugi-one .description p:after {
        content: '';
        height: 15px;
        width: 1px;
        top: 0px;
        bottom: 0px;
        margin: auto;
        position: absolute;
        background: #eaeaea;
        right: 0px; }
        .rtl .countdown-bugi-one .description p:after {
          left: 0px;
          right: auto; } }
    .countdown-bugi-one .description p:last-child:after {
      display: none; }
  .countdown-bugi-one .deo-countdown-link {
    margin-top: 10px;
    margin-bottom: 0px; }
    .countdown-bugi-one .deo-countdown-link a {
      color: inherit;
      text-decoration: underline; }
      @media (min-width: 992px) {
        .countdown-bugi-one .deo-countdown-link a:hover {
          color: #1bbc9b; } }
  .countdown-bugi-one.white-text .description {
    color: #FFFFFF; }
    .countdown-bugi-one.white-text .description p:after {
      background: #FFFFFF; }
  .countdown-bugi-one.white-text .box-title {
    color: #FFFFFF; }
  .countdown-bugi-one.white-text .deo-countdown .deo_countdown_interval_basic_cont_description {
    color: #FFFFFF; }
  .countdown-bugi-one.white-text .deo-countdown-link {
    color: #FFFFFF; }

.block-social.social-bugi-one {
  margin-left: -10px;
  margin-right: -10px; }
  .block-social.social-bugi-one .box-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle; }
    .block-social.social-bugi-one .box-title .title_block {
      margin-bottom: 0px; }
  .block-social.social-bugi-one .block_content {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle; }
  .block-social.social-bugi-one li a i {
    font-size: 22px; }
  .block-social.social-bugi-one li.facebook a {
    color: #4c86bc; }
  .block-social.social-bugi-one li.twitter a {
    color: #55c2e1; }
  .block-social.social-bugi-one li.rss a {
    color: #FF6600; }
  .block-social.social-bugi-one li.youtube a {
    color: #ff0000; }
  .block-social.social-bugi-one li.googleplus a {
    color: #de3737; }
  .block-social.social-bugi-one li.pinterest a {
    color: #f45151; }
  .block-social.social-bugi-one li.vimeo a {
    color: #089de3; }
  .block-social.social-bugi-one li.instagram a {
    color: #c4a74d; }

.payment.payment-bugi-one {
  margin-left: -10px;
  margin-right: -10px; }
  .payment.payment-bugi-one .box-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle; }
    .payment.payment-bugi-one .box-title .title_block {
      margin-bottom: 0px; }
  .payment.payment-bugi-one img {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle; }

.manufacturers.manufacturers-bugi-one .manufacturer-container {
  background: #f8f8f8;
  margin-bottom: 20px; }
  .manufacturers.manufacturers-bugi-one .manufacturer-container:last-child {
    margin-bottom: 0px; }

.DeoInstagram.instagram-bugi-one .block-container {
  margin-bottom: 20px; }
  .DeoInstagram.instagram-bugi-one .block-container:last-child {
    margin-bottom: 0px; }

.about-us.about-us-bugi-one {
  padding-top: 15px;
  padding-bottom: 15px; }
  .about-us.about-us-bugi-one h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3px;
    text-transform: uppercase; }
    @media (min-width: 992px) {
      .about-us.about-us-bugi-one h3 {
        font-size: 25px; } }
    .about-us.about-us-bugi-one h3:last-of-type {
      margin-bottom: 15px; }
  .about-us.about-us-bugi-one p {
    line-height: 1.5; }
    @media (min-width: 992px) {
      .about-us.about-us-bugi-one p {
        line-height: 1.8; } }
  .about-us.about-us-bugi-one .btn {
    font-size: 14px;
    margin-top: 15px;
    padding: 10px 20px;
    color: #FFFFFF;
    border: none;
    line-height: normal;
    background: #000000;
    text-align: center;
    line-height: normal;
    font-style: normal;
    pointer-events: auto;
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    @media (min-width: 992px) {
      .about-us.about-us-bugi-one .btn:hover {
        color: #FFFFFF;
        border-color: #1bbc9b;
        background: #1bbc9b; } }
  .about-us.about-us-bugi-one.white-text {
    color: #FFFFFF; }
    .about-us.about-us-bugi-one.white-text h3 {
      color: #FFFFFF; }
  .about-us.about-us-bugi-one.btn-white .btn {
    color: #000000;
    background: #FFFFFF; }
    @media (min-width: 992px) {
      .about-us.about-us-bugi-one.btn-white .btn:hover {
        border-color: #1bbc9b; } }

.text-shop-now.text-shop-now-bugi-one {
  padding-top: 40px;
  padding-bottom: 40px; }
  .text-shop-now.text-shop-now-bugi-one h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px; }
    @media (min-width: 992px) {
      .text-shop-now.text-shop-now-bugi-one h3 {
        font-size: 20px; } }
    .text-shop-now.text-shop-now-bugi-one h3:last-of-type {
      margin-bottom: 15px; }
  .text-shop-now.text-shop-now-bugi-one p {
    margin-bottom: 0px; }
  .text-shop-now.text-shop-now-bugi-one .btn {
    font-size: 14px;
    margin-top: 15px;
    min-width: 200px;
    padding: 12px 25px;
    color: #FFFFFF;
    border: none;
    background: #000000;
    text-align: center;
    line-height: normal;
    font-style: normal;
    pointer-events: auto;
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    @media (min-width: 992px) {
      .text-shop-now.text-shop-now-bugi-one .btn:hover {
        color: #FFFFFF;
        border-color: #1bbc9b;
        background: #1bbc9b; } }
  .text-shop-now.text-shop-now-bugi-one.white-text {
    color: #FFFFFF; }
    .text-shop-now.text-shop-now-bugi-one.white-text h3 {
      color: #FFFFFF; }
  .text-shop-now.text-shop-now-bugi-one.btn-white .btn {
    color: #000000;
    background: #FFFFFF; }
    @media (min-width: 992px) {
      .text-shop-now.text-shop-now-bugi-one.btn-white .btn:hover {
        border-color: #1bbc9b; } }

/*# sourceMappingURL=widgets.css.map */
