@import "theme_variables";

// banner
.banner{
	&.banner-bugi-one{
		.media{
			position: relative;
		}
		h3{
			font-size: 18px;
			font-weight: 900;
			margin-bottom: 0px;
			text-transform: uppercase;
		}
		.image_description{
			z-index: 9;
			bottom: 0px;
			left: 0px;
			right: 0px;
			padding: 10px 20px;
			text-align: center;
			position: absolute;
			pointer-events: none;
			@include transition(all 1s ease);
		}
	}
	&.banner-bugi-two{
		position: relative;
		.image{
			&:before{
				content: '';
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				z-index: 8;
				background: rgba($white,0.2);
				position: absolute;
				@include transition(all 0.4s ease);
				@media (min-width: 992px){
					visibility: hidden;
					@include opacity(0);
				}
			}
		}
		.image_description{
			top: 50%;
			left: 50%;
			width: 100%;
			z-index: 9;
			text-align: center;
			padding: 10px 20px;
			position: absolute;
			pointer-events: none;
			@include transition(all 1s ease);
			@include transform(translate(-50%,-50%));
		}
		h3{
			font-size: 16px;
			font-weight: 600;
			position: relative;
			margin-bottom: 3px;
			text-transform: uppercase;
			@include transition(all 0.4s ease);
			@media (min-width: 992px){
				font-size: 18px;
				visibility: hidden;
				@include opacity(0);
				@include transform(translateY(-100%));
			}
			&:last-of-type{
				margin-bottom: 10px;
			}
		}
		p{
			margin-bottom: 0px;
		}
		.btn{
			font-size: 13px;
			margin-top: 10px;
			padding: 8px 20px;
			font-weight: 600;
			color: $black;
			border: 2px solid $black;
			background: transparent;
			text-align: center;
			line-height: normal;
			font-style: normal;
			pointer-events: auto;
			text-transform: uppercase;
			@include border-radius(3px);
			@include transition(all 0.4s ease);
			@media (min-width: 992px){
				visibility: hidden;
				@include opacity(0);
				@include transform(translateY(100%));
				&:hover{
					color: $white;
					border-color: $theme-color-default;
					background: $theme-color-default;
				}
			}
		}
		&.white-text{
			h3{
				color: $white;
			}
			.btn{
				color: $white;
				border-color: $white;
				@media (min-width: 992px){
					&:hover{
						border-color: $theme-color-default;
					}
				}
			}
			.image{
				&:before{
					background: rgba($black,0.1);
				}
			}
		}
		&:hover{
			@media (min-width: 992px){
				.image{
					&:before{
						visibility: visible;
						@include opacity(1);
					}
				}
				h3{
					visibility: visible;
					@include opacity(1);
					@include transform(translateY(0%));
				}
				.btn{
					visibility: visible;
					@include opacity(1);
					@include transform(translateY(0%));
				}
			}
		}
	}
	&.banner-bugi-three{
		.media {
			overflow: visible;
		}
		.image_description{
			padding: 20px 10px;
			text-align: center;
			position: relative;
			background: #fafafa;
			&:before,&:after{
				content: "";
				z-index: -1;
				bottom: 15px;
				max-width: 300px;
				background: #777;
				position: absolute;
				height: 8px;
				width: calc(50% - Min(10px,2%));
				@include box-shadow(0px 14px 10px #777);
			}
			&:before{
				@include rtl-left(Min(10px,2%));
				@include transform(rotate(-3deg));
			}
			&:after{
				@include rtl-right(Min(10px,2%));
				@include transform(rotate(3deg));
			}
		}
		h3{
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 5px;
			text-transform: uppercase;
		}
		p{
			&:last-of-type{
				margin-bottom: 0px;
			}
		}
		.btn{
			font-weight: 600;
			padding: 8px 16px;
			background: transparent;
			border: 2px solid $black;
			text-transform: uppercase;
			@include transition(all 0.5s ease);
			&:hover{
				color: $white;
				background: $theme-color-default;
				border-color: $theme-color-default;
			}
		}
	}
	&.banner-bugi-four{
		position: relative;
		.image_description{
			top: 50%;
			left: 50%;
			width: 100%;
			z-index: 9;
			text-align: center;
			padding: 10px 20px;
			position: absolute;
			pointer-events: none;
			@include transition(all 1s ease);
			@include transform(translate(-50%,-50%));
		}
		h3{
			font-size: 16px;
			font-weight: 600;
			position: relative;
			margin-bottom: 3px;
			text-transform: uppercase;
			@include transition(all 0.4s ease);
			@media (min-width: 992px){
				font-size: 18px;
			}
			&:last-of-type{
				margin-bottom: 10px;
			}
		}
		p{
			margin-bottom: 0px;
		}
		.btn{
			font-size: 13px;
			margin-top: 15px;
			padding: 8px 20px;
			font-weight: 600;
			color: $white;
			border: none;
			background: $black;
			text-align: center;
			line-height: normal;
			font-style: normal;
			pointer-events: auto;
			text-transform: uppercase;
			@include border-radius(5px);
			@include transition(all 0.4s ease);
			@media (min-width: 992px){
				&:hover{
					color: $white;
					border-color: $theme-color-default;
					background: $theme-color-default;
				}
			}
		}
		&.white-text{
			color: $white;
			h3{
				color: $white;
			}
		}
		&.btn-white{
			.btn{
				color: $black;
				background: $white;
				@media (min-width: 992px){
					&:hover{
						border-color: $theme-color-default;
					}
				}
			}
		}
		&:hover{
			@media (min-width: 992px){
				.image{
					&:before{
						visibility: visible;
						@include opacity(1);
					}
				}
			}
		}
	}
	&.banner-bugi-five{
		position: relative;
		.image_description{
			padding-top: 20px;
			text-align: center;
			@media (min-width: 992px){
				padding-top: 30px;
			}
		}
		h3{
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 3px;
			text-transform: uppercase;
			@media (min-width: 992px){
				font-size: 18px;
			}
			&:last-of-type{
				margin-bottom: 5px;
			}
		}
		p{
			margin-bottom: 0px;
		}
		.btn{
			font-size: 14px;
			margin-top: 10px;
			padding: 12px 25px;
			color: $white;
			border: none;
			background: $black;
			text-align: center;
			line-height: normal;
			font-style: normal;
			pointer-events: auto;
			text-transform: uppercase;
			@include border-radius(0px);
			@include transition(all 0.4s ease);
			@media (min-width: 992px){
				min-width: 200px;
				padding: 15px 25px;
				&:hover{
					color: $white;
					border-color: $theme-color-default;
					background: $theme-color-default;
				}
			}
		}
		&.white-text{
			color: $white;
			h3{
				color: $white;
			}
		}
		&.btn-white{
			.btn{
				color: $black;
				background: $white;
				@media (min-width: 992px){
					&:hover{
						border-color: $theme-color-default;
					}
				}
			}
		}
		&:hover{
			@media (min-width: 992px){
				.image{
					&:before{
						visibility: visible;
						@include opacity(1);
					}
				}
			}
		}
	}
}


// image category
.deo-category-image{
	&.image-category-bugi-one{
		.cate_content{
			text-align: center;
			position: relative;
		}
		.cate-meta{
			z-index: 9;
			bottom: 0px;
			left: 0px;
			right: 0px;
			padding: 10px 20px;
			text-align: center;
			position: absolute;
			pointer-events: none;
			@include transition(all 1s ease);
		}
		.cate-name{
			font-size: 18px;
			font-weight: 900;
			margin-bottom: 0px;
			text-transform: uppercase;
		}
	}
	&.image-category-bugi-two{
		.cover-img{
			overflow: hidden;
			a{
				&:before{
					content: '';
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					z-index: 8;
					position: absolute;
					background: rgba($white,0.2);
					@include transition(all 0.5s ease);
					@media (min-width: 992px){
						visibility: hidden;
						@include opacity(0);
					}
				}
			}
		}
		.box-cate{
			top: 50%;
			left: 0px;
			right: 0px;
			z-index: 9;
			pointer-events: none;
			text-align: center;
			padding: 10px 20px;
			position: absolute;
			@include transform(translateY(-50%));
		}
		.cate-name{
			display: block;
			font-size: 18px;
			font-weight: 500;
			line-height: 1.3;
			margin-bottom: 10px;
			@include transition(all 0.3s ease);
			@media (min-width: 992px){
				font-size: 20px;
				@include transform(translateY(100%));
			}
			a{
				color: inherit;
				border-top: 1px solid $black;
				border-bottom: 1px solid $black;
			}
		}
		.deo-qty-category{
			font-size: 14px;
			display: block;
			font-weight: inherit;
			@include transition(all 0.3s ease);
			@media (min-width: 992px){
				visibility: hidden;
				@include opacity(0);
				@include transform(translateY(-100%));
			}
		}
		.view_all{
			margin-top: 10px;
			.btn{
				padding: 0px;
				border: none;
				background: transparent;
				text-decoration: underline;
				color: $theme-color-default;
				@include transition(all 0.5s ease);
				&:hover{
					background: transparent;
					color: $theme-color-button-hover;
				}
			}
		}
		&.white-text{
			.cate-name{
				color: $white;
				a{
					border-top-color: $white;
					border-bottom-color: $white;
				}
			}
			.box-cate{
				color: $white;
			}
			.cover-img{
				a{
					&:before{
						background: rgba($black,0.1);
					}
				}
			}

		}
		&:hover{
			@media (min-width: 992px){
				.cover-img{
					a{
						&:before{
							visibility: visible;
							@include opacity(1);
						}
					}
				}
				.cate-name{
					@include transform(translateY(0%));
				}
				.deo-qty-category{
					visibility: visible;
					@include opacity(1);
					@include transform(translateY(0%));
				}
			}
		}
	}
	&.image-category-bugi-three{
		.cate_content{
			text-align: center;
			.cate-meta{
				margin-top: 10px;
			}
			.cover-img{
				a{
					display: block;
					overflow: hidden;
					@include border-radius(50%);
				}
				img{
					@include transition(all 0.5s ease);
					@include transform(translateY(-20px));
				}
			}
			.cate-meta{
				@include transform(translateY(-20px));
			}
			.cate-name{
				color: inherit;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 0px;
				text-transform: uppercase;
				@include transition(all 0.3s ease);
			}
			.deo-qty-category{
				font-size: 13px;
				font-weight: 300;
				@include transition(all 0.3s ease);
				&.processed-qty-category{
					&:before{
						content: '(';
						display: inline-block;
					}
					&:after{
						content: ')';
						display: inline-block;
					}
				}
			}
			&:hover{
				@media (min-width: 992px){
					.cover-img{
						img{
							// @include transform(translateY(0%));
						}
					}
				} 
			}
		}
	}
}



.footer-contact{
	&.footer-contact-bugi-one{
		.block_content{
			
		}
		ul{
			margin-left: -$grid-gutter-width-base/2;
			margin-right: -$grid-gutter-width-base/2;
			@include display(flex);
			@include flex-wrap(wrap);
			@include justify-content(center);
			@include rtl-text-align-left();
			li{
				width: 33.3%;
				// padding-left: $grid-gutter-width-base/2;
				// padding-right: $grid-gutter-width-base/2;
				position: relative;
				margin-top: $grid-gutter-width-base/2;
				margin-bottom: $grid-gutter-width-base/2;
				@include rtl-padding(0px, $grid-gutter-width-base/2, 0px, $grid-gutter-width-base/2 + 55px);
				@media (max-width: 575px){
					width: 50%;
				}
				&.address{
					@media (max-width: 575px){
						width: 100%;
					}
				}
				i{
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					color: $white;
					// background: $theme-color-default;
					top: 0px;
					position: absolute;
					@include rtl-left($grid-gutter-width-base/2 + 5px);
					// @include border-radius(100%);
					&:before{
						z-index: 9;
						position: relative;
					}
					&:after{
						content: " ";
						width: 100%;
						height: 100%;
						display: block;
						background: $theme-color-default;;
						position: absolute;
						top: 0px;
						left: 0px;
						@include border-radius(2px);
						@include transform(rotate(45deg));
					}
				}
				h4{
					font-size: 16px;
					font-weight: 600;
					margin-bottom: 3px;
				}
			}	
		}
		p{
			margin-bottom: 0px;
		}
		.btn{
			color: $white;
			padding: 5px 30px;
			margin-top: 10px;
			text-transform: uppercase;
			background: $theme-color-default;
			// @include border-radius(5px);
			@include transition(all 0.4s ease);
			&:hover{
				background: $theme-color-button-hover;
			}
		}
	}
	&.footer-contact-bugi-two{
		.phone-contact{
			margin-bottom: 20px;
			position: relative;
			@include rtl-padding-left(60px);
			&:before{
				content: '\ea99';
				top: 50%;
				position: absolute;
				font-size: 40px;
				font-family: $font-icon-4;
				color: $theme-color-default;
				@include rtl-left(0px);
				@include transform(translateY(-50%));
			}
			p{
				margin-bottom: 3px;
			}
			h3{
				color: inherit;
				font-size: 22px;
				font-weight: 600;
				margin-bottom: 0px;
			}
		}
		.contact-infor{
			margin-bottom: 10px;
			h4{
				font-size: 16px;
				font-weight: 500;
				text-transform: none;
				margin-bottom: 10px;
			}
			ul{
				margin-bottom: 0px;
				li{
					position: relative;
					@include rtl-padding-left(25px);
					& + li{
						margin-top: 10px;
					}
					a{
						color: inherit;
						&:hover{
							color: $theme-color-button-hover;
						}
					}
					i{
						top: 2px;
						font-size: 16px;
						position: absolute;
						color: $theme-color-default;
						@include rtl-left(0px);
					}
				}
			}
		}
	}
	&.footer-contact-bugi-three{
		.phone-contact{
			margin-bottom: 10px;
			position: relative;
			p{
				margin-bottom: 5px;
			}
			h3{
				color: inherit;
				font-size: 22px;
				font-weight: 500;
				margin-bottom: 0px;
			}
		}
		ul{
			margin-bottom: 0px;
			li{
				position: relative;
				& + li{
					margin-top: 10px;
				}
				i{
					font-size: 16px;
					@include rtl-margin-right(8px);
				}
			}
		}
	}
}

.DeoBlockLink{
	&.block-link-bugi-one {
		ul{
			margin-left: -20px;
			margin-right: -20px;
			@media (max-width: 1199px){
				margin-left: -15px;
				margin-right: -15px;
			}
			li{
				padding-left: 20px;
				padding-right: 20px;
				@media (max-width: 1199px){
					padding-left: 15px;
					padding-right: 15px;
				}
				a{
				 	font-size: 20px;
				}
			} 
		} 
	}
}

.block_newsletter{
	&.newsletter-bugi-one{
		@media(min-width: 576px){
			border: $main-border;
			padding: $grid-gutter-width-base;
		}
		@media(min-width: 992px){
			padding: $grid-gutter-width-base $grid-gutter-width-base*1.5;
			@include newsletter-inline();
		}
		.popup-content-newsletter{
			@media(min-width: 992px){
				@include justify-content(space-between);
			}
			.block_content{
				@media(min-width: 992px){
					width: 40%;
				}
			}
			.box-title{
				@media(min-width: 576px){
					margin: 0px 0px 20px;
				}
				@media(min-width: 992px){
					width: 60%;
					max-width: 700px;
					margin-bottom: 0px;
					@include display(flex);
					@include flex-wrap(wrap);
					@include align-items(center);
				}
				.title {
					@media(min-width: 576px){
						@include rtl-padding(0px,0px,0px,30px);
					}
					@media(min-width: 992px){
						width: 35%;
						@include rtl-padding(0px,20px,0px,30px);
					}
					&:before{
						@media(min-width: 576px){
							content: '\e92f';
							position: absolute;
							font-family: $font-icon-4;
							top: 50%;
							font-size: 22px;
							@include rtl-left(0px);
							@include transform(translateY(-50%));
						}
					}
					&:after{
						@media(min-width: 992px){
							content: '';
							width: 1px;
							height: 100%;
							top: 0px;
							bottom: 0px;
							margin: auto;
							min-height: 30px;
							border-left: $main-border;
							position: absolute;
							@include rtl-right(20px);
						}
					}
					.title_block{
						@media(min-width: 576px){
							font-size: 22px;
							margin-bottom: 0px;
						}
					}
				}
				.sub-title-widget{
					@media(min-width: 992px){
						width: 65%;
					}
				}
			}
		}
	}
}

.search-widget{
	&.search-bugi-one{
		.popup-content{
			background: $white;
			border: 1px solid $border-color;
			input[type=text]{
				height: 34px;
				background: transparent;
				overflow: hidden;
				@include rtl-padding(5px,50px,5px,15px);
			}
			button[type=submit]{
				top: 3px;
				bottom: 3px;
				color: inherit;
				width: 50px;
				height: 34px;
				line-height: 34px;
				position: relative;
				background: transparent;
				@include rtl-right(0px);
				&:hover{
					background: transparent;
					color: $theme-color-button-hover;
				}
				&:before {
					content: '';
					top: 50%;
					height: 16px;
					width: 1px;
					border: 1px solid $border-color;
					position: absolute;
					@include rtl-left(0px);
					@include transform(translateY(-50%));
				}
			}
		} 
	}
	&.search-bugi-two{
		.popup-content{
			background: $white;
			border: 1px solid $border-color;
			@include border-radius(5px);
			input[type=text]{
				height: 34px;
				background: transparent;
				overflow: hidden;
				@include rtl-padding(5px,50px,5px,15px);
			}
			button[type=submit]{
				top: 3px;
				bottom: 3px;
				color: inherit;
				width: 50px;
				height: 34px;
				line-height: 34px;
				position: absolute;
				background: transparent;
				@include rtl-right(0px);
				&:hover{
					background: transparent;
					color: $theme-color-button-hover;
				}
			}
		}
		&.search-white{
			.popup-content{
				background: rgba($white,0.3);
				border-color: rgba($white,0.5);
				color: $theme-color-white;
			}
			&.light{
				.popup-content{
					border-color: $theme-color-white-hover;
					color: $theme-color-white-hover;
				}
			}
		}
	}
}
.deo-search-advanced{
	&.search-bugi-one{
		.popup-content{
			background: $white;
			border: 1px solid $border-color;
			@include border-radius(0px);
		}
		.block_content{
			.deo-advanced-search-input{
				width: calc(100% - 50px);
				.advanced_search_query{
					height: 34px;
					background: transparent;
					@include rtl-border-width(0px,0px,0px,0px); 
				}
			} 
			.deo-advanced-search-top-button{
				top: 0px;
				bottom: 0px;
				width: 50px;
				height: 34px;
				line-height: 34px;
				color: inherit;
				position: relative;
				background: transparent;
				@include rtl-right(0px);
				&:hover{
					background: transparent;
					color: $theme-color-button-hover;
				}
				&:before {
					content: '';
					top: 50%;
					height: 16px;
					width: 1px;
					border: 1px solid $border-color;
					position: absolute;
					@include rtl-left(0px);
					@include transform(translateY(-50%));
				}
			}
			.list-cate-wrapper{
				.select-title{
					height: 34px;
					line-height: 34px;
					background: transparent;
					@include rtl-border-width(0px,0px,0px,0px);
					&:before{
						width: 1px;
					}
				}
			}
		} 
		&.search-by-category{
			.block_content{
				.deo-advanced-search-input{
					width: calc(75% - 50px);
					@media (max-width: 991px) {
						width: calc(65% - 50px);
					}
					@media (max-width: 767px){
						width: calc(100% - 50px);
					}
					.advanced_search_query{    
						height: 34px;
					}
				} 
				.deo-advanced-search-top-button{
					width: 50px;
   					height: 34px;
   					line-height: 34px;
				}
			} 
		}
	}
	&.search-bugi-two{
		.popup-content{
			background: $white;
			border: 1px solid $white;
			@include border-radius(5px);
		}
		.block_content{
			.deo-advanced-search-input{
				width: calc(100% - 40px);
				.advanced_search_query{
					height: 34px;
					color: inherit;
					background: transparent;
					@include rtl-border-width(0px,0px,0px,0px); 
				}
			} 
			.deo-advanced-search-top-button{
				top: 0px;
				bottom: 0px;
				width: 40px;
				height: 34px;
				line-height: 34px;
				color: inherit;
				position: absolute;
				background: transparent;
				@include rtl-right(0px);
				&:hover{
					background: transparent;
					color: $theme-color-button-hover;
				}
			}
			.list-cate-wrapper{
				.select-title{
					height: 34px;
					line-height: 34px;
					color: inherit;
					background: transparent;
					@include rtl-border-width(0px,0px,0px,0px);
					&:before{
						width: 1px;
						border-color: rgba($white, 0.8);
					}
				}
			}
		}
		&.search-by-category{
			.block_content{
				.deo-advanced-search-input{
					width: calc(75% - 40px);
					@media (max-width: 991px) {
						width: calc(65% - 40px);
					}
					@media (max-width: 767px){
						width: calc(100% - 40px);
					}
					.advanced_search_query{    
						height: 34px;
					}
				} 
				.deo-advanced-search-top-button{
					width: 40px;
   					height: 34px;
   					line-height: 34px;
				}
			} 
		}
		&.search-white{
			.popup-content{
				background: rgba($white,0.3);
				border-color: rgba($white,0.5);
				color: $theme-color-white;
			}
			&.light{
				.popup-content{
					border-color: $theme-color-white-hover;
					color: $theme-color-white-hover;
				}
			}
		}
	}
}

.countdown-bugi-one{
	padding: 30px 15px;
	.deo-countdown{
		margin-top: 0px;
		border-top: none;
		.deo_countdown_digit_cont{
			font-size: 18px;
		}
		.deo_countdown_interval_basic_cont_description{
			margin-top: 3px;
		}
	}
	.box-title{
		font-size: 16px;
		.title_block{
			color: inherit;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			display: inline-block;
		}
		.sub-title-widget{
			font-weight: bold;
			display: inline-block;
		}
	}
	.description{
		p{
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 0px;
			padding: 5px 20px;
			display: inline-block;
			position: relative;
			&:after{
				@media (min-width: 576px){
					content: '';
					height: 15px;
					width: 1px;
					top: 0px;
					bottom: 0px;
					margin: auto;
					position: absolute;
					background: $border-color;
					@include rtl-right(0px);
				}
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
		}
	}
	.deo-countdown-link{
		margin-top: 10px;
		margin-bottom: 0px;
		a{
			color: inherit;
			text-decoration: underline;
			@media (min-width: 992px){
				&:hover{
					color: $theme-color-default;
				}
			}
		}
	}
	&.white-text{
		.description{
			color: $white;
			p{
				&:after{
					background: $white;
				}
			}
		}
		.box-title{
			color: $white;
		}
		.deo-countdown{
			.deo_countdown_interval_basic_cont_description{
				color: $white;
			}
		}
		.deo-countdown-link{
			color: $white;
		}
	}
}

.block-social{
	&.social-bugi-one{
		margin-left: -10px;
		margin-right: -10px; 
		.box-title{
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
			padding-right: 10px; 
			display: inline-block;
			vertical-align: middle;
			.title_block{
				margin-bottom: 0px;
			}
		}
		.block_content{
			padding-left: 10px;
			padding-right: 10px; 
			display: inline-block;
			vertical-align: middle;
		}
		li {
			a {
				i{
					font-size: 22px;
				}
			}
			&.facebook a{
				color: #4c86bc;
			}
			&.twitter a{
				color: #55c2e1;
			}
			&.rss a{
				color: #FF6600;
			}
			&.youtube a{
				color: #ff0000;
			}
			&.googleplus a{
				color: #de3737;
			}
			&.pinterest a{
				color: #f45151;
			}
			&.vimeo a{
				color: #089de3;
			}
			&.instagram a{
				color: #c4a74d;
			}
		}
	}
}
.payment{
	&.payment-bugi-one{
		margin-left: -10px;
		margin-right: -10px; 
		.box-title{
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 10px;
			padding-right: 10px; 
			display: inline-block;
			vertical-align: middle;
			.title_block{
				margin-bottom: 0px;
			}
		}
		img{
			padding-left: 10px;
			padding-right: 10px; 
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.manufacturers{
	&.manufacturers-bugi-one{
		.manufacturer-container{
			background: #f8f8f8;
			margin-bottom: $grid-gutter-width-base;
			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
}
.DeoInstagram{
	&.instagram-bugi-one{
		.block-container{
			margin-bottom: $grid-gutter-width-base;
			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
}

.about-us{
	&.about-us-bugi-one{
		padding-top: 15px;
		padding-bottom: 15px;
		h3{
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 3px;
			text-transform: uppercase;
			@media (min-width: 992px){
				font-size: 25px;
			}
			&:last-of-type{
				margin-bottom: 15px;
			}
		}
		p{
			line-height: 1.5;
			@media (min-width: 992px){
				line-height: 1.8;
			}
		}
		.btn{
			font-size: 14px;
			margin-top: 15px;
			padding: 10px 20px;
			color: $white;
			border: none;
			line-height: normal;
			background: $black;
			text-align: center;
			line-height: normal;
			font-style: normal;
			pointer-events: auto;
			text-transform: uppercase;
			@include border-radius(0px);
			@include transition(all 0.4s ease);
			@media (min-width: 992px){
				&:hover{
					color: $white;
					border-color: $theme-color-default;
					background: $theme-color-default;
				}
			}
		}
		&.white-text{
			color: $white;
			h3{
				color: $white;
			}
		}
		&.btn-white{
			.btn{
				color: $black;
				background: $white;
				@media (min-width: 992px){
					&:hover{
						border-color: $theme-color-default;
					}
				}
			}
		}
	}
}

.text-shop-now{
	&.text-shop-now-bugi-one{
		padding-top: 40px;
		padding-bottom: 40px;
		h3{
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 3px;
			@media (min-width: 992px){
				font-size: 20px;
			}
			&:last-of-type{
				margin-bottom: 15px;
			}
		}
		p{
			margin-bottom: 0px;
		}
		.btn{
			font-size: 14px;
			margin-top: 15px;
			min-width: 200px;
			padding: 12px 25px;
			color: $white;
			border: none;
			background: $black;
			text-align: center;
			line-height: normal;
			font-style: normal;
			pointer-events: auto;
			text-transform: uppercase;
			@include border-radius(0px);
			@include transition(all 0.4s ease);
			@media (min-width: 992px){
				&:hover{
					color: $white;
					border-color: $theme-color-default;
					background: $theme-color-default;
				}
			}
		}
		&.white-text{
			color: $white;
			h3{
				color: $white;
			}
		}
		&.btn-white{
			.btn{
				color: $black;
				background: $white;
				@media (min-width: 992px){
					&:hover{
						border-color: $theme-color-default;
					}
				}
			}
		}
	}
}