/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* fake-product */
.fake-product.fake-product-one {
  text-align: center; }
  .fake-product.fake-product-one h4 {
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-size: 12px;
    color: #b1b1b1; }
  .fake-product.fake-product-one h3 {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1bbc9b; }
    @media (max-width: 991px) {
      .fake-product.fake-product-one h3 {
        font-size: 25px; } }
    @media (max-width: 767px) {
      .fake-product.fake-product-one h3 {
        font-size: 22px; } }
    .fake-product.fake-product-one h3:last-of-type {
      margin-bottom: 10px; }
  .fake-product.fake-product-one h2 {
    line-height: 1;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase; }
    @media (max-width: 991px) {
      .fake-product.fake-product-one h2 {
        font-size: 25px; } }
    @media (max-width: 767px) {
      .fake-product.fake-product-one h2 {
        font-size: 22px; } }
    .fake-product.fake-product-one h2:last-of-type {
      margin-bottom: 10px; }
  .fake-product.fake-product-one p {
    line-height: 1.6;
    margin-bottom: 0px; }
  .fake-product.fake-product-one .btn {
    border: none;
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
    min-width: 120px;
    padding: 8px 16px;
    background: #000000;
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .fake-product.fake-product-one .btn:hover {
      background: #1bbc9b; }
  .fake-product.fake-product-one .block_content {
    padding-top: 15px;
    padding-bottom: 15px; }
  @media (min-width: 768px) {
    .fake-product.fake-product-one.text-left {
      text-align: left; }
      .rtl .fake-product.fake-product-one.text-left {
        text-align: right; } }
  @media (min-width: 768px) {
    .fake-product.fake-product-one.text-right {
      text-align: right; }
      .rtl .fake-product.fake-product-one.text-right {
        text-align: left; } }
.fake-product.fake-product-two {
  margin-bottom: 20px;
  padding: 30px 15px;
  text-align: center;
  -moz-box-shadow: 0px 0px 1px 1px rgba(136, 136, 136, 0.1);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(136, 136, 136, 0.1);
  -o-box-shadow: 0px 0px 1px 1px rgba(136, 136, 136, 0.1);
  -ms-box-shadow: 0px 0px 1px 1px rgba(136, 136, 136, 0.1);
  box-shadow: 0px 0px 1px 1px rgba(136, 136, 136, 0.1); }
  @media (max-width: 1199px) {
    .fake-product.fake-product-two {
      padding: 20px 10px; } }
  .fake-product.fake-product-two .title_block {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase; }
  .fake-product.fake-product-two .sub-title-widget {
    color: #b1b1b1;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase; }
  .fake-product.fake-product-two .image {
    display: block;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px; }
  .fake-product.fake-product-two .btn {
    padding: 0px;
    border: none;
    font-size: 13px;
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    background: transparent;
    text-decoration: underline;
    color: #1bbc9b;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .fake-product.fake-product-two .btn:hover {
      color: #169a7f; }
  .fake-product.fake-product-two p {
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: normal;
    font-style: italic; }
    .fake-product.fake-product-two p b, .fake-product.fake-product-two p strong {
      color: #000000;
      font-size: 18px;
      font-weight: 400; }

.box-fake-product {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .box-fake-product:after {
    display: none; }
  @media (max-width: 767px) {
    .box-fake-product.center-content .left-block {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
      -webkit-order: 1;
      -moz-order: 1;
      order: 1;
      -ms-flex-order: 1; } }
  @media (max-width: 767px) {
    .box-fake-product.center-content .right-block {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
      -webkit-order: 2;
      -moz-order: 2;
      order: 2;
      -ms-flex-order: 2; } }
  @media (max-width: 767px) {
    .box-fake-product.center-content .center-block {
      -webkit-box-ordinal-group: 3;
      -moz-box-ordinal-group: 3;
      box-ordinal-group: 3;
      -webkit-order: 3;
      -moz-order: 3;
      order: 3;
      -ms-flex-order: 3; } }
  @media (max-width: 767px) {
    .box-fake-product.reverse-content .left-block {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
      -webkit-order: 2;
      -moz-order: 2;
      order: 2;
      -ms-flex-order: 2; } }
  @media (max-width: 767px) {
    .box-fake-product.reverse-content .right-block {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
      -webkit-order: 1;
      -moz-order: 1;
      order: 1;
      -ms-flex-order: 1; } }

/*# sourceMappingURL=fake-product.css.map */
