@import "theme_variables";

/* Product list seven */

.product-list-seven{
	.thumbnail-container{
		.product-image{
			.box-button{   
				top: 50%;
				bottom: auto;
				background: transparent;
				@include box-shadow(none);
				@include transform(translate(0px,-50%));
				@include rtl-left-right(auto,0px);
				@media (min-width: 992px) {
					pointer-events: none;
					@include transform(translate(100%,-50%));
					[dir="rtl"] &{
						@include transform(translate(-100%,-50%));
					}
				}
				@media (max-width: 991px) {
					position: static;
					margin-top: 15px;
					margin-bottom: 5px;
					@include transform(none);

				}
				.btn-product{
					width: 100%;
					padding: 0px;
					background: $white;
					@media (max-width: 991px){
						@include box-shadow(1px 2px 3px rgba($black,0.5));
					}
					.content-btn-product{
						@media (min-width: 992px) {
							width: 100%;
							@include display(flex);
							@include align-items(center);
							@include flex-direction(row);
						}
						.icon-btn-product{
							min-width: 40px;
						}
						.name-btn-product{
							@media (min-width: 992px) {
								padding: 5px 13px;
								display: block;
								width: calc(100% - 40px);
								position: relative;
								&:before{
									content: '';
									position: absolute;
									top: 3px;
									bottom: 3px;
									margin: auto;
									width: 1px;
									background: #e2e2e2;
									@include rtl-left-right(1px,auto);
								}
							}
						}
					}
					&:hover{
						@media(min-width: 992px){
							color: $theme-color-default;
							.content-btn-product{

							}
						}
					}
				}
				.deo-list-wishlist{
					@include deo-list-wishlist(auto,0px,auto,100%);
				}
				& > div{
					@media (min-width: 992px) {
						display: block;
						pointer-events: auto;
						@include transition(all 0.4s ease-out);
						@include transform(translateX(calc(100% - 40px)));
						[dir="rtl"] &{
							@include transform(translateX(calc(-100% + 40px)));;
						}
					}
					& + div{
						@media (min-width: 992px) {
							margin-top: 5px;
						}
						@media (max-width: 991px) {
							@include rtl-margin-left(5px);
						}
					}
					&:hover{
						@media (min-width: 992px) { 
							@include transform(translateY(0px));
							[dir="rtl"] &{
								@include transform(translateY(0px));
							}
						}
					}
				}
			}
			.deo-countdown{
				border-top: none;
				padding-top: 0px;
				@media(min-width: 992px){
					position: absolute;
					bottom: 50px;
					left: 50%;
					z-index: 9;
					width: 100%;
					padding-left: 15px;
					padding-right: 15px;
					@include transition(all 0.3s ease);
					@include transform(translateX(-50%));
				}
			}
		}
		&:hover {
			@media(min-width: 992px){
				.product-image{
					.box-button{ 
						@include transform(translate(0px, -50%));
						[dir="rtl"] &{
							@include transform(translate(0px, -50%));
						}
					}
					.deo-countdown{
						visibility: hidden;
						@include opacity(0);
					}
				}  
			}
		}
	}
	&.reserved{
		.thumbnail-container{
			.product-image{
				.box-button{
					@include rtl-left-right(0px,auto);
					@media (min-width: 992px) {
						@include transform(translate(-100%,-50%));
					}
				}
			}
			 .box-button{            
				.btn-product{
					.content-btn-product{
						@include flex-direction(row-reverse);
						.name-btn-product{
							@media (min-width: 992px) {
								&:before{
									@include rtl-left-right(auto,0px);
								}
							}
						}
					}
				}
				.deo-list-wishlist{
					@include deo-list-wishlist(0px,auto,auto,100%);
				}
				& > div{
					@media (min-width: 992px) {
						@include transform(translateX(calc(-100% + 40px)));
					}
					&:hover{
						@media (min-width: 992px) { 
							@include transform(translateY(0px));
						}
					}
				}
			}
			&:hover {
				@media(min-width: 992px){
					.product-image{
						.box-button{ 
							@include transform(translate(0px, -50%));
						}
					}  
				}
			}
		}
	}
}
