@import "theme_variables";

/* Product list two */

.product-list-two{
	.thumbnail-container{
		.product-image{
			.box-button{ 
				top: 50%;
				bottom: auto;
				margin: 0 -2px;
				background: transparent;
				@include box-shadow(none);
				@include transform(translate(-50%,-50%));
				@media (max-width: 991px) {
					position: static;
					margin-top: 15px;
					margin-bottom: 5px;
					@include transform(none);
					@media (min-width: 768px) {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
			.btn-quickview-product-list{
				@media (min-width: 992px) {
					bottom: 0px;
					left: 0px;
					right: 0px;
					z-index: 12;
					position: absolute;
					@include transition(all 0.5s ease);
					@include transform(translateY(100%));
				}
				@media (max-width: 991px) {
					margin-top: 15px;
					margin-bottom: 5px;
					display: inline-block;
					vertical-align: middle;
				}
				.btn-product{
					color: $white;
					display: block;
					font-size: 13px;
					padding: 8px 10px;
					background: $theme-color-default;
					border-color: $theme-color-default;
					text-transform: uppercase;
					@include transition(all 0.5s ease);
					@media (max-width: 991px) {
						white-space: nowrap;
						min-width: 35px;
						min-height: 35px;
						font-weight: normal;
						padding: 0px;
						border: none;
						font-size: 14px;
						overflow: hidden;
						position: relative;
						@include transition(all 0.3s ease);
						@include box-shadow(1px 2px 3px rgba($black,0.5));
						@include border-radius(50%);
					}
					@media(min-width: 992px){
						.content-btn-product{
							.icon-btn-product{
								display: none;

							}
							.name-btn-product{
								display: block;
							}
						}
					}
					.content-btn-product{
						.icon-btn-product{
							display: none;
							@media (max-width: 991px) {
								display: block;
								line-height: 35px;
								&:before{
									display: block;
									font-style: normal;
									font-family: $font-icon-4;
								}
								&.icon-quick-view:before{
									content: "\e9a2";
								}
							}
						}
						.name-btn-product{
							display: block;
							@media (max-width: 991px) {
								display: none;
							}
						}
					}
					&:hover{
						@media(min-width: 992px){
							color: $white;
							border-color: $theme-color-button-hover;
							background: $theme-color-button-hover;
						}
					}
				}
			}
			.deo-countdown{
				border-top: none;
				padding-top: 0px;
				@media(min-width: 992px){
					position: absolute;
					bottom: 50px;
					left: 50%;
					z-index: 9;
					width: 100%;
					padding-left: 15px;
					padding-right: 15px;
					@include transition(all 0.3s ease);
					@include transform(translateX(-50%));
				}
			}
		}
		.box-button{
			.btn-product{
				padding: 0px;
				color: $white;
				white-space: nowrap;
				background: $theme-color-default;
				border-color: $theme-color-default;
				@include box-shadow(1px 2px 3px rgba($black,0.5));
				@include border-radius(50%);
				&:hover{
					@media(min-width: 992px){
						color: $white;
						border-color: $theme-color-button-hover;
						background: $theme-color-button-hover;
					}
				}
			}
			.deo-list-wishlist{
				@include deo-list-wishlist(0px,auto,auto,100%);
			}
			& > div{
				padding: 0 2px;
				@include transition(all 0.4s ease-out);
				&:nth-child(1):not(:last-child){
					@media (min-width: 992px) {
						visibility: hidden;
						@include opacity(0);
						@include transform(translateX(-30px));
						[dir="rtl"] &{
							@include transform(translateX(30px));
						}
					}
				}
				&:nth-child(3):not(:first-child){
					@media (min-width: 992px) {
						visibility: hidden;
						@include opacity(0);
						@include transform(translateX(30px));
						[dir="rtl"] &{
							@include transform(translateX(-30px));
						}
					}
				}
				&:nth-child(2),&:first-child:last-child{
					@media (min-width: 992px) {
						z-index: 1;
						position: relative;
						.btn-product{
							padding: 5px 20px;
							min-width: inherit;
							@include border-radius(9999px);
							.content-btn-product{
								.icon-btn-product{
									display: none;
								}
								.name-btn-product{
									display: block;
								}
							}
						}
					}
				}
				
			}
		}
		&:hover {
			@media(min-width: 992px){
				.product-image{
					.box-button{
						@include transform(translate(-50%,-50%));
					}  
					.btn-quickview-product-list{    
						@include transform(translateX(0px));
					}
					.deo-countdown{
						visibility: hidden;
						@include opacity(0);
					} 
				}
				.box-button{
					& > div{
						&:nth-child(1):not(:last-child),&:nth-child(3):not(:first-child){
							visibility: visible;
							@include opacity(1);
							@include transform(translateX(0px));
						}
					}
				}  
			}
		}
	}
}