@import "theme_variables";

/* Product list default */

.product-list-default{
	.thumbnail-container {
		.product-image{	
			.box-button{
				@media (max-width: 991px){
					margin-top: 15px;
					margin-bottom: 5px;
					position: static;
					display: inline-block;
					@include transform(none);
				}
			}
			.deo-countdown{
				border-top: none;
				padding-top: 0px;
				@media(min-width: 992px){
					position: absolute;
					bottom: 50px;
					left: 50%;
					z-index: 9;
					width: 100%;
					padding-left: 15px;
					padding-right: 15px;
					@include transition(all 0.3s ease);
					@include transform(translateX(-50%));
				}
			}
		}
		&:hover{
			@media(min-width: 992px){
				.product-image{	
					.deo-countdown{
						visibility: hidden;
						@include opacity(0);
					}
				}
			}
		}
	}
}