@import "theme_variables";

/* Product list sixteen */

.product-list-sixteen{
	.thumbnail-container{
		// margin: 1px;
		margin-bottom: 30px;
		background: $theme-bg-block;
		border: 1px solid #eaeaea;
		// @include box-shadow(0px 0px 1px 0px rgba($black, 0.15));
		@media (min-width: 768px) {
			@include display(flex);
			@include flex-wrap(wrap);
			@include align-items(center);
			@include flex-direction(row);
		}
		.product-image{
			@media (min-width: 768px) {
				width: 50%;
			}
			.btn-quickview-product-list{
				top: 50%;
				left: 50%;
				z-index: 12;
				position: absolute;
				@include transition(all 0.5s ease);
				@include transform(translate(-50%,-50%)); 
				@media (min-width: 992px) {
					visibility: hidden;
					@include opacity(0); 
					@include transform(translate(-50%,-50%) scale(0)); 
				}
				.btn-product{
					padding: 0px;
					border: none;
					color: $white;
					border: none;
					display: block;
					font-size: 14px;
					min-width: 40px;
					min-height: 40px;
					text-transform: uppercase;
					border-color: $theme-color-default;
					background: $theme-color-default;
					@include box-shadow(1px 2px 3px rgba($black,0.5));
					@include border-radius(50%);
					@include transition(all 0.5s ease);
					.content-btn-product{
						.icon-btn-product{
							display: block;
							line-height: 40px;
							&:before{
								content: "\e9a2";
								display: block;
								font-style: normal;
								font-family: $font-icon-4;
							}
						}
						.name-btn-product{
							display: none;
						}
					}
					&:hover{
						@media(min-width: 992px){
							color: $white;
							border-color: $theme-color-button-hover;
							background: $theme-color-button-hover;
						}
					}
				}
			}
		}
		.product-meta{
			padding: 15px;
			@media (min-width: 768px) {
				width: 50%;
				@include rtl-text-align-left();
				@include rtl-padding(10px,20px,10px,20px);
			}
		}
		.product-title{
			@media (min-width: 1500px) {
				margin-bottom: 15px;
				a{
					font-size: 20px;
				}
			}
		} 
		.deo-countdown{
			@media (max-width: 1499px) and (min-width: 992px){
				margin-top: 10px;
				padding-top: 10px;
			}
		}
		.box-button{  
			z-index: 13;
			margin: 0 -2px; 
			margin-top: 20px;
			position: relative;         
			display: inline-block;
			vertical-align: middle;
			@media (max-width: 1499px) and (min-width: 768px){
				margin-top: 15px;
			}
			.btn-product{
				padding: 0px;
				min-width: 35px;
				min-height: 35px;
				background: $white;
				border: $main-border;
				@include border-radius(3px);
				@include transition(all 0.5s ease);
				.content-btn-product{
					.icon-btn-product{
						line-height: 33px;
					}
				}
				&:hover{
					@media(min-width: 992px){
						color: $white;
						border-color: $theme-color-default;
						background: $theme-color-default;
					}
				}
			}
			.deo-list-wishlist{
				@include deo-list-wishlist(auto,0px,auto,100%);
			}
			& > div{
				padding: 2px 2px;
				@include transition(all 0.4s ease-out);
				&:first-child{
					@media (min-width: 1200px) {
						z-index: 1;
						position: relative;
						.btn-product{
							min-height: 35px;
							padding: 7px 15px;
							min-width: inherit;
							.content-btn-product{
								.icon-btn-product{
									line-height: normal;
									display: inline-block;
									vertical-align: middle;
									display: none;
									@include rtl-margin-right(5px);
								}
								.name-btn-product{
									display: block;
									vertical-align: middle;
								}
							}
						}
					}
				}
			}
		}
		.deo-product-list-reviews{
			@media (max-width: 767px) {
				overflow: hidden;
				.deo-product-list-reviews-wraper{
					padding: 0 15px;
					position: relative;
					&:before,&:after{
						content: '';
						top: 0px;
						bottom: 0px;
						height: 1px;
						width: 50px;
						margin: auto;
						background: #e4e4e4;
						position: absolute;
					}
					&:before{
						@include rtl-left(100%);
						@include rtl-border-radius(0px,100%,100%,0px);
					}
					&:after{
						@include rtl-right(100%);
						@include rtl-border-radius(100%,0px,0px,100%);
					}
				}
			}
		}
		.product-description-short{
			@include ellipsis-text(3);
			@media (max-width: 1499px) and (min-width: 992px){
				@include ellipsis-text(2);
			}
		}
		.deo-countdown {
			@media (max-width: 767px) {
				text-align: center;
			}
			ul{
				@media (max-width: 767px) {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		&:hover {
			@media(min-width: 992px){
				.product-image{
					.btn-quickview-product-list{  
						visibility: visible;
						@include opacity(1); 
						@include transform(translate(-50%,-50%) scale(1));  
					}
				}
			}
		}
	}
	&.vertical{
		.thumbnail-container{
			@include flex-direction(column);
			.product-image{
				width: 100%;
			}
			.product-meta{
				width: 100%;
				text-align: center;
				@include rtl-padding(15px,15px,15px,15px);
			}
			.box-button{
				margin-top: 0px;
			}
			.deo-countdown{
				text-align: center;
				ul{
					margin-left: auto;
					margin-right: auto;
				}
			} 
		}
	}
}


.product_list{
	&.list{ 
		&.product-list-sixteen{
			.thumbnail-container {
				.product-image{
					@media (min-width: 768px) {
						width: 50%;
					}
				}
				.product-meta{
					@media (min-width: 576px){
						width: 50%;
						@include rtl-padding(10px,20px,10px,20px);
					}
				}
			}
		}
	}
}
