@import "theme_variables";

/* Product list four */

.product-list-four{
	.thumbnail-container{
		padding: 3px;
		background: $theme-bg-block;
		border: 1px solid #eaeaea;
		.product-image{
			.box-button{ 
				background: transparent;
				@include box-shadow(none);
				@media (min-width: 992px) {
					top: auto;
					bottom: 15px;           
					visibility: visible;
					@include opacity(1);
					@include transform(none);
					@include rtl-left-right(auto,15px);
				}
				@media (max-width: 991px) {
					top: 75%;
					bottom: auto;
					margin: 0 -2px;
					@include transform(translate(-50%,-50%));
				}
			}
			.deo-countdown{
				border-top: none;
				padding-top: 0px;
				@media(min-width: 992px){
					position: absolute;
					bottom: 50px;
					left: 50%;
					z-index: 9;
					width: 100%;
					padding-left: 15px;
					padding-right: 15px;
					@include transition(all 0.3s ease);
					@include transform(translateX(-50%));
				}
			}
		}
		.box-button{ 
			.btn-product{
				padding: 0px;
				color: $white;
				font-size: 12px;
				border-color: $theme-color-default;
				background: $theme-color-default;
				@include box-shadow(1px 2px 3px rgba($black,0.5));
				@include border-radius(50%);
				&:hover{
					@media(min-width: 992px){
						color: $white;
						border-color: $theme-color-button-hover;
						background: $theme-color-button-hover;
					}
				}
			}
			.deo-list-wishlist{
				@include deo-list-wishlist(auto,0px,auto,100%);
			}
			& > div{
				@media (min-width: 992px) {
					@include transition(all 0.4s ease-out);
					&:not(:nth-child(1)){
						z-index: 1;
						position: absolute;
					}
				}
				@media (max-width: 991px) {
					padding: 0 2px;
				}
				&:nth-child(1){
					@media (min-width: 992px){
						z-index: 2;
						position: relative;
					}
					.btn-product{
						@media (min-width: 992px){
							color: $white;
							font-size: 16px;
							min-width: 50px;
							min-height: 50px;
							background: $theme-color-default;
							border-color: $theme-color-default;
							@include box-shadow(0px 3px 6px 3px rgba($black,0.3));
							.content-btn-product{
								.icon-btn-product{
									line-height: 50px;
								}
							}
							&:hover{
								border-color: $theme-color-button-hover;
								background: $theme-color-button-hover;
							}
						}
					}
					
				}
				&:nth-child(2){
					@media (min-width: 992px){
						top: -50px;
						visibility: hidden;
						@include opacity(0);
						@include rtl-right(0px);
						@include transform(translate(-5px,55px));
						[dir="rtl"] &{
							@include transform(translate(5px,55px));
						}
					}
				}
				&:nth-child(3){
					@media (min-width: 992px){
						top: -35px;
						visibility: hidden;
						@include opacity(0);
						@include rtl-left(-35px);
						@include transform(translate(40px,40px));
						[dir="rtl"] &{
							@include transform(translate(-40px, 40px));
						}
					}
				}
				&:nth-child(4){
					@media (min-width: 992px){
						bottom: 0px;
						visibility: hidden;
						@include opacity(0);
						@include rtl-left(-50px);
						@include transform(translate(55px,-5px));
						[dir="rtl"] &{
							@include transform(translate(-55px,-5px));
						}
					}
				}
			}
		}
		&:hover {
			@media(min-width: 992px){
				.product-image{
					.deo-countdown{
						visibility: hidden;
						@include opacity(0);
					} 
				}
				.box-button{
					& > div{
						&:nth-child(1){
							
						}
						&:nth-child(2){
							visibility: visible;
							@include opacity(1);
							@include transform(translate(0px,0px));
						}
						&:nth-child(3){
							visibility: visible;
							@include opacity(1);
							@include transform(translate(0px,0px));
						}
						&:nth-child(4){
							visibility: visible;
							@include opacity(1);
							@include transform(translate(0px,0px));
						}
					}
				}  
			}
		}
	}
}