/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
.bottomnav {
  border-bottom: 1px solid #e9e9e9; }

.popup-over {
  margin: 0px 0px 0px 20px; }
  .rtl .popup-over {
    margin: 0px 20px 0px 0px; }
  @media (min-width: 1200px) {
    .popup-over {
      margin: 0px 0px 0px 35px; }
      .rtl .popup-over {
        margin: 0px 35px 0px 0px; } }
  .popup-over .popup-title {
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px; }
    @media (min-width: 992px) {
      .popup-over .popup-title {
        font-size: 14px; } }
    .rtl .popup-over .popup-title {
      padding: 10px 0px 10px 0px; }
    @media (max-width: 479px) {
      .popup-over .popup-title {
        padding: 10px 0px 10px 0px; }
        .rtl .popup-over .popup-title {
          padding: 10px 0px 10px 0px; } }
  .popup-over:last-child {
    margin: 0px 0px 0px 0px; }
    .rtl .popup-over:last-child {
      margin: 0px 0px 0px 0px; }
  .popup-over.userinfo-selector .popup-content li.sign-in-popup, .popup-over.userinfo-selector .popup-content li.sign-out-popup {
    margin: 10px -15px -10px;
    border-top: 1px solid #eaeaea; }
    .popup-over.userinfo-selector .popup-content li.sign-in-popup .dropdown-item, .popup-over.userinfo-selector .popup-content li.sign-out-popup .dropdown-item {
      padding: 6px 15px;
      text-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      .popup-over.userinfo-selector .popup-content li.sign-in-popup .dropdown-item .icon, .popup-over.userinfo-selector .popup-content li.sign-out-popup .dropdown-item .icon {
        display: none; }
      .popup-over.userinfo-selector .popup-content li.sign-in-popup .dropdown-item span:not(.deo-total), .popup-over.userinfo-selector .popup-content li.sign-out-popup .dropdown-item span:not(.deo-total) {
        padding: 0px 0px 0px 0px; }
        .rtl .popup-over.userinfo-selector .popup-content li.sign-in-popup .dropdown-item span:not(.deo-total), .rtl .popup-over.userinfo-selector .popup-content li.sign-out-popup .dropdown-item span:not(.deo-total) {
          padding: 0px 0px 0px 0px; }
  .popup-over.language-selector-wrapper .popup-title .flag {
    display: none; }

#cart-block {
  margin: 0 0 0 20px; }
  .rtl #cart-block {
    margin: 0 20px 0 0; }
  @media (min-width: 1200px) {
    #cart-block {
      margin: 0 0 0 35px; }
      .rtl #cart-block {
        margin: 0 35px 0 0; } }
  #cart-block .cart-preview {
    padding: 11px 0px 11px 0px; }
    .rtl #cart-block .cart-preview {
      padding: 11px 0px 11px 0px; }
    @media (max-width: 575px) {
      #cart-block .cart-preview {
        padding: 9px 0px 9px 0px; }
        .rtl #cart-block .cart-preview {
          padding: 9px 0px 9px 0px; } }
    @media (min-width: 992px) {
      #cart-block .cart-preview.active a:hover .cart-products-count {
        background: transparent; } }
    @media (min-width: 992px) {
      #cart-block .cart-preview .shopping-cart {
        font-size: 14px; } }
    @media (min-width: 576px) {
      #cart-block .cart-preview .shopping-cart {
        display: none;
        margin: 0 5px 0 0; }
        .rtl #cart-block .cart-preview .shopping-cart {
          margin: 0 0 0 5px; } }
  @media (min-width: 576px) {
    #cart-block .cart-products-count {
      position: static;
      display: inline-block;
      background: transparent;
      min-width: inherit;
      min-height: inherit;
      font-weight: inherit;
      font-size: 0px;
      line-height: normal;
      color: inherit; } }
  @media (min-width: 576px) and (min-width: 576px) {
    #cart-block .cart-products-count {
      font-weight: normal; } }
  @media (min-width: 576px) {
      #cart-block .cart-products-count:before {
        content: '(';
        display: inline-block;
        font-size: 13px; } }
    @media (min-width: 576px) and (min-width: 992px) {
      #cart-block .cart-products-count:before {
        font-size: 14px; } }
  @media (min-width: 576px) {
      #cart-block .cart-products-count:after {
        content: ')';
        display: inline-block;
        font-size: 13px; } }
    @media (min-width: 576px) and (min-width: 992px) {
      #cart-block .cart-products-count:after {
        font-size: 14px; } }
  @media (min-width: 576px) {
      #cart-block .cart-products-count > * {
        font-size: 13px; } }
    @media (min-width: 576px) and (min-width: 992px) {
      #cart-block .cart-products-count > * {
        font-size: 14px; } }

  #cart-block .title-cart {
    text-transform: uppercase; }
    @media (min-width: 992px) {
      #cart-block .title-cart {
        font-size: 14px; } }
    @media (min-width: 576px) {
      #cart-block .title-cart {
        font-weight: normal; } }
    @media (max-width: 575px) {
      #cart-block .title-cart {
        display: none; } }

.box-top-header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .box-top-header > [class*="col-"] {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .box-top-header .left-top-header {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; }
  .box-top-header .right-top-header {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }

.box-bottom-header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .box-bottom-header > [class*="col-"] {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .box-bottom-header .left-bottom-header {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; }
    @media (max-width: 1199px) {
      .box-bottom-header .left-bottom-header {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
        -webkit-order: 2;
        -moz-order: 2;
        order: 2;
        -ms-flex-order: 2; } }
    .box-bottom-header .left-bottom-header .popup-over .popup-content {
      right: auto;
      left: 0px; }
      .rtl .box-bottom-header .left-bottom-header .popup-over .popup-content {
        right: 0px;
        left: auto; }
      .box-bottom-header .left-bottom-header .popup-over .popup-content:before {
        right: auto;
        left: 12px; }
        .rtl .box-bottom-header .left-bottom-header .popup-over .popup-content:before {
          right: 12px;
          left: auto; }
  .box-bottom-header .center-bottom-header {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    @media (max-width: 1199px) {
      .box-bottom-header .center-bottom-header {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
        -webkit-order: 1;
        -moz-order: 1;
        order: 1;
        -ms-flex-order: 1; } }
  .box-bottom-header .right-bottom-header {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
    @media (max-width: 1199px) {
      .box-bottom-header .right-bottom-header {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        box-ordinal-group: 3;
        -webkit-order: 3;
        -moz-order: 3;
        order: 3;
        -ms-flex-order: 3; } }
  @media (min-width: 576px) {
    .box-bottom-header .search-widget .popup-title {
      font-size: inherit; }
      .box-bottom-header .search-widget .popup-title .title-name {
        display: inline-block; }
      .box-bottom-header .search-widget .popup-title:before, .box-bottom-header .search-widget .popup-title:after {
        display: none; }
      .box-bottom-header .search-widget .popup-title .name {
        display: block; }
      .box-bottom-header .search-widget .popup-title i {
        display: none; }
    .box-bottom-header .search-widget .popup-title {
      font-size: 13px;
      text-transform: uppercase; } }
  @media (min-width: 576px) and (min-width: 992px) {
    .box-bottom-header .search-widget .popup-title {
      font-size: 14px; } }

  @media (max-width: 575px) {
    .box-bottom-header .search-widget {
      position: static; }
      .box-bottom-header .search-widget .popup-content {
        width: auto;
        right: 10px;
        left: auto; }
        .rtl .box-bottom-header .search-widget .popup-content {
          right: auto;
          left: 10px; }
        .box-bottom-header .search-widget .popup-content:before {
          display: none; } }
  .box-bottom-header .logo {
    padding: 20px 0; }

/*# sourceMappingURL=headerposition1498470407.css.map */
