/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
.header-top {
  background: #000000; }

.sticky-menu-active .header-top {
  background: #000000; }

.popup-over:not(.search-widget) {
  margin-right: 20px; }
  .rtl .popup-over:not(.search-widget) {
    margin-left: 20px;
    margin-right: inherit; }
  @media (max-width: 767px) {
    .popup-over:not(.search-widget) {
      margin-right: 15px; }
      .rtl .popup-over:not(.search-widget) {
        margin-left: 15px;
        margin-right: inherit; } }
  .popup-over:not(.search-widget) .popup-title {
    text-transform: none;
    padding: 15px 0px 15px 0px;
    border-width: 0px 0px 0px 1px; }
    .rtl .popup-over:not(.search-widget) .popup-title {
      padding: 15px 0px 15px 0px; }
    .rtl .popup-over:not(.search-widget) .popup-title {
      border-width: 0px 1px 0px 0px; }
    .popup-over:not(.search-widget) .popup-title .icon {
      display: none; }
  .popup-over:not(.search-widget):last-child {
    margin-right: 0px; }
    .rtl .popup-over:not(.search-widget):last-child {
      margin-left: 0px;
      margin-right: inherit; }
.popup-over.language-selector-wrapper .popup-title .iso-code {
  display: inline-block;
  text-transform: uppercase; }
.popup-over.language-selector-wrapper .popup-title .name-simple {
  display: none; }
.popup-over.language-selector-wrapper .popup-title .flag {
  display: none; }
@media (max-width: 575px) {
  .popup-over.language-selector-wrapper .popup-title .iso-code {
    display: inline-block; }
  .popup-over.language-selector-wrapper .popup-title .icon {
    display: none; } }
@media (max-width: 575px) {
  .popup-over.currency-selector .popup-title .icon {
    display: none; }
  .popup-over.currency-selector .popup-title .name-simple {
    display: inline-block; } }
.popup-over.userinfo-selector .popup-title .name-simple {
  display: none; }
.popup-over.userinfo-selector .popup-title .icon {
  display: inline-block; }
.popup-over.userinfo-selector .popup-content li.sign-in-popup, .popup-over.userinfo-selector .popup-content li.sign-out-popup {
  margin: 10px -15px -10px;
  border-top: 1px solid #eaeaea; }
  .popup-over.userinfo-selector .popup-content li.sign-in-popup .dropdown-item, .popup-over.userinfo-selector .popup-content li.sign-out-popup .dropdown-item {
    padding: 6px 15px;
    text-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .popup-over.userinfo-selector .popup-content li.sign-in-popup .dropdown-item .icon, .popup-over.userinfo-selector .popup-content li.sign-out-popup .dropdown-item .icon {
      display: none; }
    .popup-over.userinfo-selector .popup-content li.sign-in-popup .dropdown-item span:not(.deo-total), .popup-over.userinfo-selector .popup-content li.sign-out-popup .dropdown-item span:not(.deo-total) {
      padding: 0px 0px 0px 0px; }
      .rtl .popup-over.userinfo-selector .popup-content li.sign-in-popup .dropdown-item span:not(.deo-total), .rtl .popup-over.userinfo-selector .popup-content li.sign-out-popup .dropdown-item span:not(.deo-total) {
        padding: 0px 0px 0px 0px; }
.popup-over.userinfo-selector .popup-title .icon {
  font-size: 30px; }
  .popup-over.userinfo-selector .popup-title .icon:before {
    content: '\eaca'; }
.popup-over.deo_customer_actions .popup-title .name-simple {
  display: none; }
.popup-over.deo_customer_actions .popup-title .icon {
  display: inline-block; }
.popup-over.deo_customer_actions .popup-title .icon {
  font-size: 30px; }
  .popup-over.deo_customer_actions .popup-title .icon:before {
    content: '\ea56'; }

#cart-block {
  margin-left: 0px; }
  #cart-block .title-cart {
    display: none; }
  .rtl #cart-block {
    margin-right: 0px;
    margin-left: inherit; }
  #cart-block .cart-preview {
    padding: 15.5px 0px 15.5px 0px; }
    .rtl #cart-block .cart-preview {
      padding: 15.5px 0px 15.5px 0px; }
    #cart-block .cart-preview .shopping-cart {
      font-size: 30px; }
      #cart-block .cart-preview .shopping-cart:before {
        content: '\eac9'; }

.search-widget {
  margin-right: 20px; }
  .rtl .search-widget {
    margin-left: 20px;
    margin-right: inherit; }
  @media (max-width: 767px) {
    .search-widget {
      margin-right: 15px; }
      .rtl .search-widget {
        margin-left: 15px;
        margin-right: inherit; } }
  @media (max-width: 479px) {
    .search-widget {
      position: static; }
      .search-widget .popup-title {
        display: block;
        overflow: hidden;
        position: relative;
        margin: 0 0 0 0; }
        .rtl .search-widget .popup-title {
          margin: 0 0 0 0; }
        .search-widget .popup-title .search {
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        .search-widget .popup-title:before, .search-widget .popup-title:after {
          content: '';
          display: block;
          background: #000000;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          -webkit-transform: translateY(50px) rotate(45deg);
          -moz-transform: translateY(50px) rotate(45deg);
          -ms-transform: translateY(50px) rotate(45deg);
          -o-transform: translateY(50px) rotate(45deg);
          transform: translateY(50px) rotate(45deg); }
        .search-widget .popup-title:before {
          height: 15px;
          width: 1px; }
        .search-widget .popup-title:after {
          width: 15px;
          height: 1px; }
      .search-widget .popup-content {
        position: absolute;
        top: auto;
        bottom: 0;
        display: none;
        background: #FFFFFF;
        border-radius: 5px;
        right: 100%;
        left: auto;
        -moz-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -webkit-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -o-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -ms-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35); }
        .rtl .search-widget .popup-content {
          right: auto;
          left: 100%; }
        .search-widget .popup-content:before {
          display: block; }
      .search-widget.open .popup-title:before, .search-widget.open .popup-title:after {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateY(0px) rotate(45deg);
        -moz-transform: translateY(0px) rotate(45deg);
        -ms-transform: translateY(0px) rotate(45deg);
        -o-transform: translateY(0px) rotate(45deg);
        transform: translateY(0px) rotate(45deg); }
      .search-widget.open .popup-title .search {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px); }
      .search-widget .popup-title {
        margin: 0px 0px 0px 0px; }
        .rtl .search-widget .popup-title {
          margin: 0px 0px 0px 0px; }
      .search-widget .popup-content {
        top: 100%;
        border: none;
        bottom: auto;
        right: 0;
        left: auto;
        padding: 0px 0px 0px 0px;
        -moz-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -webkit-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -o-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -ms-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35); }
        .rtl .search-widget .popup-content {
          right: auto;
          left: 0; }
        .rtl .search-widget .popup-content {
          padding: 0px 0px 0px 0px; }
      .search-widget.open .popup-title .search {
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
        transform: translateY(-50px); }
      .search-widget .popup-content {
        width: auto;
        right: 10px;
        left: auto; }
        .rtl .search-widget .popup-content {
          right: auto;
          left: 10px; }
        .search-widget .popup-content:before {
          display: none; } }
  .search-widget .popup-title {
    padding: 12px 0px 12px 0px; }
    .rtl .search-widget .popup-title {
      padding: 12px 0px 12px 0px; }
  @media (min-width: 768px) {
    .search-widget .popup-content {
      min-width: 280px; } }
  @media (min-width: 992px) {
    .search-widget .popup-content {
      min-width: 350px; } }
  @media (min-width: 1200px) {
    .search-widget .popup-content {
      min-width: 370px; } }
  .search-widget .popup-content:before {
    display: none; }

.deo-search-advanced {
  margin-right: 20px; }
  .rtl .deo-search-advanced {
    margin-left: 20px;
    margin-right: inherit; }
  @media (max-width: 767px) {
    .deo-search-advanced {
      margin-right: 15px;
      position: static; }
      .rtl .deo-search-advanced {
        margin-left: 15px;
        margin-right: inherit; }
      .deo-search-advanced .popup-title {
        display: block;
        overflow: hidden;
        position: relative;
        margin: 0 0 0 0; }
        .rtl .deo-search-advanced .popup-title {
          margin: 0 0 0 0; }
        .deo-search-advanced .popup-title .search {
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
        .deo-search-advanced .popup-title:before, .deo-search-advanced .popup-title:after {
          content: '';
          display: block;
          background: #000000;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          -webkit-transform: translateY(50px) rotate(45deg);
          -moz-transform: translateY(50px) rotate(45deg);
          -ms-transform: translateY(50px) rotate(45deg);
          -o-transform: translateY(50px) rotate(45deg);
          transform: translateY(50px) rotate(45deg); }
        .deo-search-advanced .popup-title:before {
          height: 15px;
          width: 1px; }
        .deo-search-advanced .popup-title:after {
          width: 15px;
          height: 1px; }
      .deo-search-advanced .popup-content {
        position: absolute;
        top: auto;
        bottom: 0;
        display: none;
        background: #FFFFFF;
        border-radius: 5px;
        right: 100%;
        left: auto;
        -moz-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -webkit-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -o-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -ms-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35); }
        .rtl .deo-search-advanced .popup-content {
          right: auto;
          left: 100%; }
        .deo-search-advanced .popup-content:before {
          display: block; }
      .deo-search-advanced.open .popup-title:before, .deo-search-advanced.open .popup-title:after {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateY(0px) rotate(45deg);
        -moz-transform: translateY(0px) rotate(45deg);
        -ms-transform: translateY(0px) rotate(45deg);
        -o-transform: translateY(0px) rotate(45deg);
        transform: translateY(0px) rotate(45deg); }
      .deo-search-advanced.open .popup-title .search {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px); }
      .deo-search-advanced .popup-title {
        margin: 0px 0px 0px 0px; }
        .rtl .deo-search-advanced .popup-title {
          margin: 0px 0px 0px 0px; }
      .deo-search-advanced .popup-content {
        top: 100%;
        border: none;
        bottom: auto;
        right: 0;
        left: auto;
        padding: 0px 0px 0px 0px;
        -moz-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -webkit-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -o-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        -ms-box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35);
        box-shadow: 0px 2px 5px 1px rgba(102, 102, 102, 0.35); }
        .rtl .deo-search-advanced .popup-content {
          right: auto;
          left: 0; }
        .rtl .deo-search-advanced .popup-content {
          padding: 0px 0px 0px 0px; }
      .deo-search-advanced.open .popup-title .search {
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
        transform: translateY(-50px); }
      .deo-search-advanced .popup-content {
        width: auto;
        right: 10px;
        left: auto; }
        .rtl .deo-search-advanced .popup-content {
          right: auto;
          left: 10px; }
        .deo-search-advanced .popup-content:before {
          display: none; }
      .deo-search-advanced .block_content .list-cate-wrapper .select-title {
        height: 35px;
        line-height: 33px; }
      .deo-search-advanced .block_content .deo-advanced-search-top-button {
        width: 40px;
        height: 35px; }
      .deo-search-advanced .block_content .deo-advanced-search-input .advanced_search_query {
        height: 35px;
        padding: 6px 15px 6px 15px; }
        .rtl .deo-search-advanced .block_content .deo-advanced-search-input .advanced_search_query {
          padding: 6px 15px 6px 15px; }
      .deo-search-advanced .popup-content {
        -webkit-animation: animationmenus ease 0.5s;
        -moz-animation: animationmenus ease 0.5s;
        animation: animationmenus ease 0.5s; }
      .deo-search-advanced.search-by-category {
        width: auto; }
        .deo-search-advanced.search-by-category .popup-content {
          width: 250px; } }
      @media (max-width: 767px) and (min-width: 768px) {
        .deo-search-advanced.search-by-category .popup-content {
          width: 450px; } }
    @media (max-width: 767px) and (max-width: 767px) {
      .deo-search-advanced.search-by-category .block_content .list-cate-wrapper {
        display: none; }
      .deo-search-advanced.search-by-category .block_content .deo-advanced-search-input {
        width: calc(100% - 40px); }
        .deo-search-advanced.search-by-category .block_content .deo-advanced-search-input .advanced_search_query {
          padding: 6px 15px 6px 15px; }
          .rtl .deo-search-advanced.search-by-category .block_content .deo-advanced-search-input .advanced_search_query {
            padding: 6px 15px 6px 15px; }
      .deo-search-advanced.search-by-category .block_content .deo-advanced-search-top-button {
        width: 40px; } }
  @media (max-width: 767px) {
      .deo-search-advanced.search-border-radius .popup-content {
        -moz-border-radius: 9999px 9999px 9999px 9999px;
        -webkit-border-radius: 9999px 9999px 9999px 9999px;
        border-radius: 9999px 9999px 9999px 9999px; }
        .rtl .deo-search-advanced.search-border-radius .popup-content {
          -moz-border-radius: 9999px 9999px 9999px 9999px;
          -webkit-border-radius: 9999px 9999px 9999px 9999px;
          border-radius: 9999px 9999px 9999px 9999px; } }
  .deo-search-advanced .popup-title .search:before {
    content: '\e9cf';
    font-size: 30px; }

.box-top-header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .box-top-header:after {
    display: none; }
  .box-top-header > [class*="col-"] {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .box-top-header .left-top-header {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start; }
    @media (max-width: 767px) {
      .box-top-header .left-top-header {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center; } }
  .box-top-header .right-top-header {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
  .box-top-header .logo {
    padding: 20px 0; }

.box-bottom-header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .box-bottom-header:after {
    display: none; }
  .box-bottom-header > [class*="col-"] {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
  .box-bottom-header .bottom-header {
    position: static;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    @media (max-width: 991px) {
      .box-bottom-header .bottom-header {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        box-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        -o-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: start; } }

/*# sourceMappingURL=headerposition1491413718.css.map */
