@import "theme_variables";


/* image-category */
.image-category{
	&.image-category-seven{
		margin-bottom: $grid-gutter-width-base;
		.media{
			border: $main-border;
			@include display(flex);
			@include flex-wrap(wrap);
		}
		.left-block{
			@media (min-width: 480px) {
				width: 50%;
			}
			@media (max-width: 1199px) and (min-width: 576px){
				width: 100%;
			}
		}
		.right-block{
			padding: 20px 20px;
			@media (min-width: 480px) {
				width: 50%;
				@include display(flex);
	    		@include align-items(center);
			}
			@media (max-width: 1199px) and (min-width: 576px){
				width: 100%;
			}

		}
		.image_description{
			width: 100%;
		}
		h3{
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 15px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		.view_all{
			margin-top: 15px;
			margin-bottom: 0px;
			a{
				font-size: 12px;
				font-weight: 400;
				text-transform: uppercase;
				color: $theme-color-default;
				@include transition(all 0.5s ease);
				&:hover{
					text-decoration: underline;
					color: $theme-color-button-hover;
				}
			}
		}
		ul{
			li{
				margin-bottom: 8px;
				@media (max-width: 1399px) and (min-width: 992px){
					margin-bottom: 5px;
				}
				a{
					font-size: 13px;
					font-weight: 300;
					margin-bottom: 0px;
					display: inline-block;
					vertical-align: middle;
					position: relative;
					font-family: $font-family-heading;
					@include transition(padding-left 0.5s ease);
					&:before{
						content: "\ea31";
						display: inline-block;
						font-family: $font-icon-4;
						@include rtl-margin-right(7px);
						@include transition(all 0.4s ease);
					}
					&:hover{
						@include rtl-padding-left(8px);
					}
				}
			}
		}
	}
	&.image-category-nine{
		.block-carousel-container{
			padding: 3px;
			margin-bottom: $grid-gutter-width-base;
			border: 1px solid #eaeaea;
			&:hover{
				.left-carousel{
					img{
						@include transform(scale(1.1));
					}
				}
			}
		}
		.title{
			font-size: 14px;
			font-weight: 500;
			margin-bottom: 0px;
		}
		.left-carousel{
			overflow: hidden;
			img{
				@include transform(scale(1));
				@include transition(all 5s ease);
			}
		}
		.right-carousel{
			background: $white;
			text-align: center;
			padding: 12px 15px;
		}
	}
}