@import "theme_variables";


$image-theme-base-path: "img/";

$theme-color-button-hover:  #cc7c7d;
$theme-color-default: 		#f18a8b;
$link-hover-color: 			$theme-color-default;

$megamenu-link-hover-color: $theme-color-default;

$product-name-hover-color: $theme-color-default;
$button-addtocart-bg-hover: $theme-color-default;
$button-addtocart-border-hover: $theme-color-default;

@import "../_skin";
