@import "theme_variables";

body#checkout {
	section#content {
		margin-bottom: 25px;
	}
	.container {
		min-height: 100%;
	}
	section.checkout-step {
		margin-bottom: 5px;
		border: 1px solid $checkout-border-block;
		background: $checkout-bg-block;
		.step-title {
			padding: 15px;
			cursor: pointer;
			margin-bottom: 0px;
			text-transform: uppercase;
		}
		.content {
			border-top: 2px solid $black;
			padding: 20px 20px;
		}
		.step-number {
			padding: 10px;
			position: relative;
			.number{
				visibility: visible;
				@include opacity(1); 
			}
			.done{
				top: 0px;
				left: 0px;
				padding: 12px 5px;
				position: absolute;
				font-weight: normal;
				visibility: hidden;
				@include opacity(0);  
				@include rtl-margin-right(0px);
			}
			i:before {
				content: '\ea63';
			}
		}
		.step-edit {
			font-size: 14px;
			font-weight: normal;
			text-transform: uppercase;
			.edit {
				font-size: inherit;
				@include rtl-margin-right(3px);
				&:before {
					content: '\ea5b';
					font-family: $font-icon-4;
				}
			}
		}
		.not-allowed {
			cursor: not-allowed;
			@include opacity(0.5);
		}
		.content,
		.step-edit {
			display: none;
		}
		&.-current {
			.content {
				display: block;
			}
		}
		&.-current.-reachable.-complete {
			.step-edit {
				display: none;
			}
			.step-number {
				.number{
					visibility: visible;
					@include opacity(1); 
				}
				.done{
					visibility: hidden;
					@include opacity(0);  
				}
			}
			.content {
				display: block;
			}
		}
		&.-reachable.-complete {
			h1 {
				.done {
					visibility: visible;
					@include opacity(1); 
				}
				.step-number {
					.number{
						visibility: hidden;
						@include opacity(0); 
					}
					.done{
						visibility: visible;
						@include opacity(1); 
					}
				}
				.step-edit {
					color: $gray;
					display: block;
					cursor: pointer;
					@include rtl-float-right();
					@include media-breakpoint-down(sm) {
						margin-top: 10px;
						float: none !important;
					}
					&:hover{
						color: $theme-color-default;
					}
				}
			}
			.content {
				display: none;
			}
		}
		small {
			color: $gray;
		}
		.default-input {
			min-width: 40%;
			&[name=address1],
			&[name=address2] {
				min-width: 60%;
			}
		}
		.radio-field {
			margin-top: 30px;
			label {
				display: inline;
			}
		}
		.checkbox-field div {
			margin-top: 60px;
		}
		.checkbox-field + .checkbox-field div {
			margin-top: 0;
		}
		.select-field div {
			background: $gray-lighter;
			padding: 10px 50px;
		}
		.form-footer {
			text-align: center;
		}
		#conditions-to-approve {
			padding-top: 16px;
		}
		.payment-options {
			label {
				display: table-cell;
				vertical-align: middle;
				@include rtl-text-align-left();
			}
			.custom-radio {
				@include rtl-margin-right($small-space);
			}
			.payment-option {
				display: table;
				margin-bottom: 8px;
			}
		}
		.address-selector {
			margin-left: -5px;
			margin-right: -5px;
			@include clearfix();
		}
		.address-item {
			margin: 5px;
			width: calc(100% - 10px);
			background: $checkout-bg-block-inner;
			border: 1px solid $checkout-bg-block-inner;
			margin-bottom: $small-space;
			@include rtl-float-left();
			@media (min-width: 576px) {
				width: calc(50% - 10px);
				&:nth-child(2n + 1){
					clear: both;
				}
			}
			@media (max-width: 991px) {
				@include flex-grow(1);
			}
			&.selected {
				
			}
		}
		.address-alias {
			display: inline-block;
			font-weight: 600;
			margin-bottom: 10px;
		}
		.address {
			@include rtl-margin-left(25px);
		}
		.radio-block {
			line-height: 1.6;
			padding: 15px;
			display: block;
			cursor: pointer;
			@include rtl-text-align-left();
		}
		.delete-address,
		.edit-address {
			display: inline-block;
			margin: 0 10px;
			i{
				&.delete{
					&:before{
						font-family: $font-icon-4;
						content: "\ea54";
					}
				}
				&.edit{
					&:before {
						font-family: $font-icon-4;
						content: "\ea5b";
					}
				}
			}
		}
		.address-footer {
			text-align: center;
			padding: 10px;
		}
		#delivery-addresses,
		#invoice-addresses {
			margin-top: 10px;
		}
		.title-address{
			text-decoration: underline;
		}
		.add-address {
			margin-top: 5px;
			margin-bottom: 25px;
			.btn {
				padding: 6px 12px;
				font-weight: normal;
				text-transform: uppercase;
			}
		}
		.continue,.cancel-address{
			font-weight: normal;
			text-transform: uppercase;
		}
		.delivery-option {
			background: $checkout-bg-block-inner;
			border: 1px solid $checkout-bg-block-inner;
			padding: 15px 0;
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 15px;
			@media (max-width: 991px) {
				@include display(flex);
				@include flex-wrap(wrap);
				.custom-radio {
					@include flex(0 0 auto);
				}
			}
			label {
				word-break: break-word;
				text-align: inherit;
			}
		}
		.carrier-delay,
		.carrier-name {
			display: inline-block;
			word-break: break-word;
			@include rtl-text-align-left();
		}
		#customer-form,#login-form{
			max-width: 500px;
			margin-left: auto;
			margin-right: auto;
		}
		#customer-form,
		#delivery-address,
		#invoice-address,
		#login-form {
			.form-control-label {
				word-break: break-word;
				@include rtl-text-align-left();
			}
			.radio-inline {
				padding: 0;
				display: inline-block;
				+ .radio-inline{
					@include rtl-margin-left(15px);
				}
			}
		}
		.sign-in {
			font-size: $font-size-sm;
		}
		.forgot-password {
			margin-top: 10px;
		}
		.delivery-option-2 {
			@media (max-width: 991px) {
				@include flex-direction(column);
			}
		}
	}
	.checkout-process{
		padding-top: 100px;
		position: relative;
		.checkout-step{
			margin: auto;
			border: none;
			max-width: 900px;
			.step-title{
				cursor: pointer;
				top: 0px;
				z-index: 1;
				width: 25%;
				color: #999999;
				font-size: 11px;
				text-align: center;
				padding: 40px 10px;
				position: absolute;
				font-weight: normal;
				visibility: visible;
				text-transform: uppercase;
				@include opacity(1);
				&:before {
					content: "";
					top: 15px;
					width: 100%;
					height: 2px;
					z-index: 1;
					background: #cccccc;
					position: absolute;
					@include rtl-left(50%);	
				}
				.step-number{
					top: 0px;
					width: 30px;
					height: 30px;
					padding: 0px;
					z-index: 2;
					color: $white;
					font-size: 14px;
    				background: #cccccc;
					line-height: 30px;
					text-align: center;
					overflow: hidden;
					position: absolute;
					@include border-radius(50%);
					@include rtl-left(50%);
					@include transform(translateX(-50%));
					@include transition(0.3s all ease);
					i{
						padding: 0px;
						width: 100%;
					}
					.done{
						font-size: 14px;
						color: $white;
						padding: 0px;
					}
				}
				.step-edit{
					display: none !important;
				}
			}
			.content{
				border: $main-border;
			}
			&:nth-child(1){
				max-width: 500px;
				.step-title{
					@include rtl-left(0px);
				}
			}
			&:nth-child(2){
				.step-title{
					@include rtl-left(25%);
				}
			}
			&:nth-child(3){
				.step-title{
					@include rtl-left(50%);
				}
			}
			&:nth-child(4){
				.step-title{
					@include rtl-left(75%);
					&:before {
						display: none;
					}
				}
			}
			&.-reachable.-complete{
				.step-title{
					&:before {
						background: $theme-color-default;
					}
					.step-number{
						background: $theme-color-default;
					}
				}
				&.-clickable.-current{
					.step-title{
						&:before {
							background: #cccccc;
						}
					}
				}
			}
			&.-complete.-clickable{
				&:hover{
					.step-title{
						color: $gray-darker;
						.step-number{
							background: $gray-darker;
						}
					}
				}
			}
			&.-current.-reachable.-clickable {
				.step-title{
					color: $gray-darker;
					.step-number{
						background: $gray-darker;
					}
				}
			}
		}
	}
	.additional-information {
		font-size: $font-size-sm;
		@include rtl-margin-left(40px);
		margin-top: 10px;
		@media (max-width: 479px) {
			@include rtl-margin-left(20px);
			dl dd,dl dt{
				word-break: break-word;
			}
		}
	}
	.condition-label {
		@include rtl-margin-left(40px);
		margin-top: 10px;
		label {
			text-align: inherit;
			@media (max-width: 991px){
				&[for="conditions_to_approve[terms-and-conditions]"] {
					@include rtl-text-align-left();
				}
			}
		}
	}
	.cancel-address {
		
	}
	.checkout-step {
		.modal-content {
			padding: $medium-space;
			background-color: $gray-light;
		}
	}
	#checkout-personal-information-step{
		.tab-account{
			margin-bottom: 30px;
			text-align: center;
			.nav-item{
				& + .nav-item{
					@include rtl-margin-left(20px);
				}
				.nav-link {
					font-size: 18px;
					font-style: italic;
					text-transform: uppercase;
					font-family: $font-family-heading;
					&.active{
						text-decoration: underline;
						color: $theme-color-default;
					}
				}
			}
		}
		.forgot-password {
			margin-top: 15px;
			margin-bottom: 40px;
			text-align: center;
			font-size: $font-size-sm;
			a{
				@include display(flex);
				@include flex-wrap(wrap);
				@include align-items(center);
				@include justify-content(center);
				&:before {
					content: "\ea4c";
					font-family: $font-icon-4;
					@include rtl-margin-right(5px);
				}
			}
		}
	}
	#cart-summary-product-list {
		font-size: $font-size-sm;
		img {
			width: 80px;
		}
		.product-price{
			font-size: $base-font-size;
		}
	}
	#order-summary-content {
		padding-top: 15px;
		.title-sub{
			font-size: 16px;
			text-transform: uppercase;
		}
		.title-check-order{
			font-size: 18px;
			font-style: italic;
			color: $gray-darker;
			text-transform: uppercase;
			text-decoration: underline;
		}
		h4.h4 {
			margin-top: 10px;
			margin-bottom: 20px;
			color: $gray-darker;
		}
		h4.black {
			color: #000000;
		}
		h4.addresshead {
			margin-top: 3px;
		}
		.noshadow {
			box-shadow: none;
			margin-bottom: 30px;
			@include border-radius(0px);
		}
		#order-items {
			width: 100%;
			@include rtl-border-right(0);
			h3.h3 {
				margin-top: 20px;
			}
			table {
				tr {
					&:first-child {
						td {
							border-top: 0;
						}
					}
				}
			}

		}
		.summary-selected-carrier {
			margin-bottom: 0.75rem;
			background-color: #fff;
			border: 1px solid #e5e5e5;
			border-radius: 0;
			padding: 1rem;
			@media(max-width: 991px){
				.row{
					margin-left: -5px;
					margin-right: -5px;
				}
				[class*="col-"]{
					padding-left: 5px;
					padding-right: 5px;
				}
				*{
					word-break: break-word;
				}
			}
		}
		.step-edit {
			color: $gray;
			display: inline-block;
			@include rtl-float-right();
			@include rtl-margin-left(10px);
			&:hover{
				color: $theme-color-default;
			}
		}
		.step-edit:hover {
			cursor: pointer;
		}
		a {
			.step-edit {
				color: $gray;
			}
		}
	}
	#gift_message{
		max-width: 100%;
		border-color: $gray-darker;
	}
	#payment-confirmation{
		.ps-shown-by-js{
			.btn{
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
		@media (max-width: 575px){
			button {
				font-size: 14px;
				&.btn {
					white-space: normal;
				}
			}
		}
	}
}
/**** ORDER CONFIRMATION *****/
#order-details {
	@media (min-width: 992px) {
		@include rtl-padding-left($large-space);
	}
	@media (max-width: 991px) {
		margin-top: 10px;
	}
	@media (max-width: 767px){
		@include rtl-padding-left(15px);
	}
	& > .card-title {
		margin-bottom: $large-space;
		@media (max-width: 767px){
			border-bottom: $main-border;
			margin-bottom: 16px;
			padding-bottom: 16px;
		}
	}
	ul {
		margin-bottom: $medium-space;
		li {
			margin-bottom: $small-space;
		}
	}
}


#order-items {
	@media (min-width: 992px) {
		@include rtl-border-right($gray-light 1px solid);
	}
	@media (max-width: 767px){
		margin-bottom: 40px;
		@include rtl-border-right(0);
	}
	.card-title{
		@media (max-width: 767px){
			border-bottom: $main-border;
			margin-bottom: 16px;
			padding-bottom: 16px;
		}
		&.h3{
			font-size: 16px;
			@media (max-width: 767px){
				border-bottom: none;
				padding-bottom: 0px;
			}
			&._desktop-title{
				@media (max-width: 991px) {
					display: none;
				}
			}
		}
	}
	.bold {
		@media (max-width: 575px) {
			font-weight: bold;
		}
	}
	hr {
		margin-top: 15px;
		margin-bottom: 15px;
		border-top: 3px double #e5e5e5;
	}
	table {
		width: 100%;
		&.table-order-items{
			margin-top: 10px;
		}
		tr {
			height: $large-space;
			td {
				padding: 5px 0px;
				word-break: break-word;
				&:last-child {
					@include rtl-text-align-right();
				}
			}
			&.taxes{
				td{
					@include rtl-text-align-left();
				}
			} 
		}
	}
	.image {
		@media (max-width: 575px) {
			margin-bottom: 16px;
			display: block;
		}
		img {
			width: 100%;
		}
	}
	.details {
		margin-bottom: 16px;
		.customizations {
			margin-top: 10px;
		}
	}
	.qty {
		margin-bottom: 16px;
		@media(max-width: 575px){
			margin-bottom: 5px;
		}
	}
}
#order-confirmation {
	#registration-form {
		width: 50%;
		margin: 0 auto 16px;
		@media (max-width: 991px){
			width: 100%;
		}
	}
}
.page-order-confirmation{
	.order-confirmation-table {
		padding: 1rem;
		margin-bottom: 2rem;
		background-color: #fff;
		border: $main-border;
		border-radius: 0;
		& > .order-line {
			position: relative;
			& + .order-line {
				margin-top: 15px;		
				padding-top: 15px;	
			}
			@media(max-width: 991px){
				margin-left: -5px;
				margin-right: -5px;
				.row{
					margin-left: -5px;
					margin-right: -5px;
				}
				[class*="col-"]{
					padding-left: 5px;
					padding-right: 5px;
				}
				*{
					word-break: break-word;
				}
			}
			&:before{
				content: '';
				display: block;
				position: absolute;
				left: 15px;
				right: 15px;
				top: 0px;
				border-top: 1px solid $border-color;
				@media (max-width: 991px) {
					left: 5px;
					right: 5px;
				}
			}
			&:first-child:before{
				display: none;
			}
		}
	}
}
.cart-summary-products{
	.media-list{
		.media{
			margin-bottom: 15px;
		}
	}
	.show-details{
		font-weight: normal;
		text-transform: uppercase;
		i{
			margin: 0px;
			width: auto;
			height: auto;
			font-size: inherit;
		}
	}
}

#cart{
	.featured-products .product_list{
		&.grid{
			.ajax_block_product{
				@media (min-width: 992px) and (max-width: 1199px){
					width: 25%;
					@include rtl-float-left();
				}
			}
		}
	}
}

.cart-empty {
	.cart-summary {
	}
}
.js-payment-binary {
	display: none;
	.accept-cgv {
		display: none;
	}
	&.disabled {
		opacity: 0.6;
		cursor: not-allowed;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
		}
		.accept-cgv {
			display: block;
		}
	}
}

.js-checkout-modal{
	.modal-content{
		color: $black;
	}
}

#js-checkout-summary{
	padding: 0px 20px;
	background: $checkout-bg-block;
	border: 1px solid $checkout-border-block;
	@include border-radius(0px);
	.product-quantity{
		@include rtl-margin-left(5px);
		&:before {
			content: '(';
		}
		&:after {
			content: ')';
		}
	}
	.card-block{
		padding-left: 0px;
		padding-right: 0px;
	}
}

#content-hook_order_confirmation{
	.card-title{
		span{
			display: inline-block;
			vertical-align: middle;
		}
		.icon-done{
			color: $brand-success;
			display: inline-block;
			vertical-align: middle;
			@include rtl-margin-right(10px);
			&:before {
				content: "\ea63";
				font-family: $font-icon-4;
			}
		}
	}
}
#content-hook-order-confirmation-footer{
	margin-top: 60px;
}