@import "theme_variables";


/* DeoSlideshow */
.DeoSlideshow{
	.block_content{
		overflow: hidden;
	}
	.block-slide-container{
		position: relative;
		.slide-text{
			z-index: 99;
			position: absolute;
		}
	} 
	.center-text-slide{
		white-space: nowrap;
		text-align: center;
		left: 50% !important;
		@include transform(translateX(-50%));
	}  
	.right-text-slide{
		@include rtl-text-align-right();
	}
	.text-slide{
		line-height: 1;
	}
	.first-text{
		color: #222222;
		font-size: 1.6vw;
		font-weight: 500;
		margin-bottom: 1.6vw;
		text-transform: uppercase;
		&.white-text{
			color: $white;
		}
	}
	.second-text{
		color: $black;
		font-size: 4vw;
		font-weight: 900;
		margin-bottom: 0.5vw;
		text-transform: uppercase;
		font-family: $font-family-heading;
		&.white-text{
			color: $white;
		}
	}
	.third-text{
		color: $black;
		font-size: 4vw;
		font-weight: 900;
		margin-bottom: 0.5vw;
		text-transform: uppercase;
		font-family: $font-family-heading;
		&.white-text{
			color: $white;
		}
	}
	.btn-slideshow{
		font-weight: 600;
		color: $black;
		font-size: 1.5vw;
		padding: 1vw 2vw;
		background: $white;
		border-color: $white; 
		margin-top: 2vw;
		text-transform: uppercase;
		@include transition(all 0.5s ease);
		&:hover{
			color: $white;
			border-color: $theme-color-default; 
			background: $theme-color-default;
		}
		&.btn-black{
			color: $white;
			background: $black;
			border-color: $black; 
			&:hover{
				color: $white;
				border-color: $theme-color-button-hover; 
				background: $theme-color-button-hover;
			}
		}
	}
	&.medium-text{
		@media (min-width: 992px){
			.first-text{
				font-size: 1.2vw;
				margin-bottom: 1.2vw;
			}
			.second-text{
				font-size: 3vw;
			}
			.third-text{
				font-size: 3vw;
			}
			.btn-slideshow{
				font-size: 1vw;
				padding: 0.8vw 1.2vw;
				margin-top: 1.5vw;
			}
		}
	}
	&.small-text{
		@media (min-width: 992px){
			.first-text{
				font-size: 1vw;
				margin-bottom: 1vw;
			}
			.second-text{
				font-size: 2.5vw;
			}
			.third-text{
				font-size: 2.5vw;
			}
			.btn-slideshow{
				font-size: 0.8vw;
				padding: 0.8vw 1.2vw;
				margin-top: 1.2vw;
			}
		}
	}
	&.tiny-text{
		@media (min-width: 992px){
			.first-text{
				font-size: 1vw;
				margin-bottom: 1vw;
			}
			.second-text{
				font-size: 2vw;
			}
			.third-text{
				font-size: 2vw;
			}
			.btn-slideshow{
				font-size: 0.8vw;
				padding: 0.8vw 1.2vw;
				margin-top: 1vw;
			}
		}
	}
	.slick-dots{
		position: absolute;
		bottom: 0px;
		left: 50%;
		visibility: hidden;
		white-space: nowrap;
		@include opacity(0);
		@include transform(translateX(-50%));
		@include transition(all 0.5s ease);
	}
	.slick-arrows{
		width: auto;
		position: static;
		.slick-arrow{
			position: absolute;
			top: 50%;
			border: none;
			width: 30px;
			height: 40px;
			line-height: 40px;
			background: rgba($black, 0.3);
			@include border-radius(0px);
			@include transform(translateY(-50%));
			@include transition(all 0.5s ease);
			@media(min-width: 992px){
				height: 60px;
				line-height: 60px;
				visibility: hidden;
				@include opacity(0);
			}
			&:before{
				color: $white;
				font-size: 20px;
				font-family: $font-icon-4;
				@include transition(all 0.5s ease);
			}
			&.slick-prev{
				left: -30px;
				@include border-radius(0px);
				@media(max-width: 991px){
					left: 0px;
				}
				&:before{
					content: "\ea3d";
				}
			}
			&.slick-next{
				right: -30px;
				@include border-radius(0px);
				@media(max-width: 991px){
					right: 0px;
				}
				&:before{
					content: "\ea3e";
				}
			}
			&:hover{
				@media(min-width: 992px){
					background: $black;
					visibility: visible;
					@include opacity(1);
				}
			}
		}
	}
	// .owl-row,.slick-row{
	.slick-row{
		margin-left: 0px;
		margin-right: 0px;
	}
	// .owl-item,.slick-slide{
	.slick-slide{
		padding: 0px;
	}
	// .owl-pagination{
	// 	position: absolute;
	// 	bottom: 0px;
	// 	left: 50%;
	// 	white-space: nowrap;
	// 	visibility: hidden;
	// 	@include opacity(0);
	// 	@include transform(translateX(-50%));
	// 	@include transition(all 0.5s ease);
	// }
	// .owl-buttons{
	// 	width: auto;
	// 	position: static;
	// 	& > div{
	// 		position: absolute;
	// 		top: 50%;
	// 		border: none;
	// 		width: 30px;
	// 		height: 40px;
	// 		line-height: 40px;
	// 		background: rgba($black, 0.3);
	// 		@include border-radius(0px);
	// 		@include transform(translateY(-50%));
	// 		@include transition(all 0.5s ease);
	// 		@media(min-width: 992px){
	// 			height: 60px;
	// 			line-height: 60px;
	// 		}
	// 		&:before{
	// 			color: $white;
	// 			font-size: 20px;
	// 			font-family: $font-icon-4;
	// 			@include transition(all 0.5s ease);
	// 		}
	// 		&.owl-prev{
	// 			left: -30px;
	// 			&:before{
	// 				content: "\ea3d";
	// 			}
	// 		}
	// 		&.owl-next{
	// 			right: -30px;
	// 			&:before{
	// 				content: "\ea3e";
	// 			}
	// 		}
	// 		&:hover{
	// 			@media(min-width: 992px){
	// 				background: $black;
	// 			}
	// 		}
	// 	}
	// }
	// .direction{
	// 	width: auto;
	// 	position: static;
	// 	.carousel-control{
	// 		position: absolute;
	// 		top: 50%;
	// 		border: none;
	// 		width: 30px;
	// 		height: 40px;
	// 		z-index: 9;
	// 		line-height: 40px;
	// 		@include border-radius(0px);
	// 		@include transform(translateY(-50%));
	// 		@include transition(all 0.5s ease);
	// 		@media(min-width: 992px){
	// 			height: 60px;
	// 			line-height: 60px;
	// 		}
	// 		.icon-prev,.icon-next{
	// 			border: none;
	// 			line-height: inherit;
	// 			@include border-radius(0px);
	// 			background: rgba($black, 0.3);
	// 			&:before{
	// 				color: $white;
	// 				font-size: 20px;
	// 				line-height: inherit;
	// 				font-family: $font-icon-4;
	// 				@include transition(all 0.5s ease);
	// 			}
	// 		}
	// 		.icon-prev{
	// 			left: -30px;
	// 			&:before{
	// 				content: "\ea3d";
	// 			}
	// 		}
	// 		.icon-next{
	// 			right: -30px;
	// 			&:before{
	// 				content: "\ea3e";
	// 			}
	// 		}
	// 		&:hover{
	// 			@media(min-width: 992px){
	// 				.icon-prev,.icon-next{
	// 					background: $black;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	&:hover{
		@media(min-width: 992px){
			.slick-arrows{
				.slick-arrow{
					visibility: visible;
					@include opacity(1);
					&.slick-prev{
						left: 0px;
					}
					&.slick-next{
						right: 0px;
					}
				}
			}
		}
		// .owl-buttons{
		// 	& > div{
		// 		&.owl-prev{
		// 			left: 0px;
		// 		}
		// 		&.owl-next{
		// 			right: 0px;
		// 		}
		// 	}
		// }
		// .direction{
		// 	.carousel-control{
		// 		.icon-prev{
		// 			left: 0px;
		// 		}
		// 		.icon-next{
		// 			right: 0px;
		// 		}
		// 	}
		// }
		@media(min-width: 992px){
			.slick-dots{
				visibility: visible;
				@include opacity(1);
			}
			// .owl-pagination{
			// 	visibility: visible;
			// 	@include opacity(1);
			// }
		}
	}
}