/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Product list thirteen */
.product-list-thirteen .thumbnail-container {
  overflow: hidden; }
  .product-list-thirteen .thumbnail-container .product-image .box-button {
    top: 50%;
    z-index: 13;
    bottom: auto;
    position: absolute;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (min-width: 992px) {
      .product-list-thirteen .thumbnail-container .product-image .box-button {
        top: 15px;
        visibility: hidden;
        background: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        right: 15px;
        left: auto; }
        .rtl .product-list-thirteen .thumbnail-container .product-image .box-button {
          right: auto;
          left: 15px; } }
    .product-list-thirteen .thumbnail-container .product-image .box-button .btn-product {
      padding: 0px;
      border: none;
      min-width: 30px;
      min-height: 30px;
      font-weight: 500;
      text-align: center;
      background: transparent; }
      @media (min-width: 992px) {
        .product-list-thirteen .thumbnail-container .product-image .box-button .btn-product {
          color: #FFFFFF; } }
      .product-list-thirteen .thumbnail-container .product-image .box-button .btn-product .content-btn-product .icon-btn-product {
        line-height: 30px; }
      @media (min-width: 992px) {
        .product-list-thirteen .thumbnail-container .product-image .box-button .btn-product:hover {
          color: #1bbc9b; } }
    @media (min-width: 992px) {
      .product-list-thirteen .thumbnail-container .product-image .box-button .deo-list-wishlist {
        top: 0px;
        bottom: auto;
        right: 100%;
        left: auto;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-animation: animationmenus ease 0.5s;
        -moz-animation: animationmenus ease 0.5s;
        animation: animationmenus ease 0.5s;
        -webkit-animation-iteration-count: inherit;
        -moz-animation-iteration-count: inherit;
        animation-iteration-count: inherit;
        -webkit-transform-origin: inherit;
        -moz-transform-origin: inherit;
        -ms-transform-origin: inherit;
        -o-transform-origin: inherit;
        transform-origin: inherit;
        -webkit-animation-fill-mode: inherit;
        -moz-animation-fill-mode: inherit;
        animation-fill-mode: inherit; }
        .rtl .product-list-thirteen .thumbnail-container .product-image .box-button .deo-list-wishlist {
          right: auto;
          left: 100%; } }
    .product-list-thirteen .thumbnail-container .product-image .box-button > div {
      padding: 0px;
      -webkit-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out; }
      @media (min-width: 992px) {
        .product-list-thirteen .thumbnail-container .product-image .box-button > div {
          display: block; } }
  .product-list-thirteen .thumbnail-container .product-image .deo-countdown {
    border-top: none;
    padding-top: 0px; }
    @media (min-width: 992px) {
      .product-list-thirteen .thumbnail-container .product-image .deo-countdown {
        position: absolute;
        bottom: 50px;
        left: 50%;
        z-index: 9;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }
  @media (min-width: 992px) {
    .product-list-thirteen .thumbnail-container .product-meta {
      top: 50%;
      left: 0px;
      right: 0px;
      z-index: 12;
      padding: 0px 40px 0px;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); } }
  .product-list-thirteen .thumbnail-container .product-meta .btn-cart-product-list {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle; }
    .product-list-thirteen .thumbnail-container .product-meta .btn-cart-product-list .btn-product {
      font-size: 13px;
      font-weight: 500;
      padding: 8px 20px;
      text-transform: uppercase;
      border-radius: 9999px; }
      @media (min-width: 992px) {
        .product-list-thirteen .thumbnail-container .product-meta .btn-cart-product-list .btn-product {
          border: none;
          color: #000000;
          background: #FFFFFF;
          white-space: nowrap;
          -webkit-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease; }
          .product-list-thirteen .thumbnail-container .product-meta .btn-cart-product-list .btn-product:hover {
            color: #FFFFFF;
            background: #1bbc9b; } }
  @media (min-width: 992px) {
    .product-list-thirteen .thumbnail-container .product-title a {
      color: #FFFFFF; }
      .product-list-thirteen .thumbnail-container .product-title a:hover {
        color: #1bbc9b; } }
  @media (min-width: 992px) {
    .product-list-thirteen .thumbnail-container .product-price-and-shipping {
      color: #FFFFFF; }
      .product-list-thirteen .thumbnail-container .product-price-and-shipping .regular-price {
        color: #FFFFFF; }
      .product-list-thirteen .thumbnail-container .product-price-and-shipping .discount-percentage, .product-list-thirteen .thumbnail-container .product-price-and-shipping .discount-amount {
        color: #FFFFFF; }
      .product-list-thirteen .thumbnail-container .product-price-and-shipping.has_discount .price {
        color: #FFFFFF; } }
  .product-list-thirteen .thumbnail-container .deo-product-list-reviews {
    overflow: hidden; }
    .product-list-thirteen .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper {
      padding: 0 15px;
      position: relative; }
      .product-list-thirteen .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:before, .product-list-thirteen .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:after {
        content: '';
        top: 0px;
        bottom: 0px;
        height: 2px;
        width: 50px;
        margin: auto;
        background: #e4e4e4;
        position: absolute; }
      .product-list-thirteen .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:before {
        left: 100%;
        -moz-border-radius: 0px 100% 100% 0px;
        -webkit-border-radius: 0px 100% 100% 0px;
        border-radius: 0px 100% 100% 0px; }
        .rtl .product-list-thirteen .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:before {
          right: 100%;
          left: auto; }
        .rtl .product-list-thirteen .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:before {
          -moz-border-radius: 100% 0px 0px 100%;
          -webkit-border-radius: 100% 0px 0px 100%;
          border-radius: 100% 0px 0px 100%; }
      .product-list-thirteen .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:after {
        right: 100%;
        -moz-border-radius: 100% 0px 0px 100%;
        -webkit-border-radius: 100% 0px 0px 100%;
        border-radius: 100% 0px 0px 100%; }
        .rtl .product-list-thirteen .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:after {
          left: 100%;
          right: auto; }
        .rtl .product-list-thirteen .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:after {
          -moz-border-radius: 0px 100% 100% 0px;
          -webkit-border-radius: 0px 100% 100% 0px;
          border-radius: 0px 100% 100% 0px; }
  @media (min-width: 992px) {
    .product-list-thirteen .thumbnail-container:hover .product-image .box-button {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100); }
    .product-list-thirteen .thumbnail-container:hover .product-image .deo-countdown {
      visibility: hidden;
      opacity: 0;
      filter: alpha(opacity=0); }
    .product-list-thirteen .thumbnail-container:hover .product-meta {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100); } }

@media (min-width: 992px) {
  .product_list.list.product-list-thirteen .thumbnail-container .product-meta {
    position: static;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
    .product_list.list.product-list-thirteen .thumbnail-container .product-meta .btn-cart-product-list {
      display: block; }
      .product_list.list.product-list-thirteen .thumbnail-container .product-meta .btn-cart-product-list .btn-product {
        color: #1bbc9b;
        border-color: #1bbc9b; }
        .product_list.list.product-list-thirteen .thumbnail-container .product-meta .btn-cart-product-list .btn-product:hover {
          color: #FFFFFF;
          background: #1bbc9b; } }
@media (min-width: 992px) {
  .product_list.list.product-list-thirteen .thumbnail-container .product-title a {
    color: inherit; }
    .product_list.list.product-list-thirteen .thumbnail-container .product-title a:hover {
      color: #1bbc9b; } }
@media (min-width: 992px) {
  .product_list.list.product-list-thirteen .thumbnail-container .product-price-and-shipping {
    color: inherit; }
    .product_list.list.product-list-thirteen .thumbnail-container .product-price-and-shipping .regular-price {
      color: #999999; }
    .product_list.list.product-list-thirteen .thumbnail-container .product-price-and-shipping .discount-percentage, .product_list.list.product-list-thirteen .thumbnail-container .product-price-and-shipping .discount-amount {
      color: #f1404b; }
    .product_list.list.product-list-thirteen .thumbnail-container .product-price-and-shipping.has_discount .price {
      color: #414141; } }

/*# sourceMappingURL=plist1541883813.css.map */
