/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Product list nineteen */
.product-list-nineteen .thumbnail-container {
  overflow: hidden;
  margin-bottom: 20px; }
  .product-list-nineteen .thumbnail-container .product-image {
    padding: 2px;
    width: 100px;
    border: 1px solid #f1f1f1;
    float: left; }
    .rtl .product-list-nineteen .thumbnail-container .product-image {
      float: right; }
    .product-list-nineteen .thumbnail-container .product-image .btn-quickview-product-list {
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: 12;
      position: absolute;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      @media (min-width: 992px) {
        .product-list-nineteen .thumbnail-container .product-image .btn-quickview-product-list {
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%);
          transform: translateY(100%); } }
      .product-list-nineteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
        color: #FFFFFF;
        display: block;
        font-size: 10px;
        padding: 3px 5px;
        background: #222222;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .product-list-nineteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product .content-btn-product .icon-btn-product {
          display: none; }
          .product-list-nineteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product .content-btn-product .icon-btn-product:before {
            content: "\e9a2";
            display: block;
            font-style: normal;
            font-family: "deo-custom-icons"; }
        .product-list-nineteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product .content-btn-product .name-btn-product {
          display: block; }
        @media (min-width: 992px) {
          .product-list-nineteen .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
            color: #FFFFFF;
            border-color: #1bbc9b;
            background: #1bbc9b; } }
  @media (min-width: 480px) {
    .product-list-nineteen .thumbnail-container .box-button {
      padding: 0 15px;
      min-width: 180px;
      text-align: center;
      float: right;
      margin-left: 15px;
      padding-left: 20px;
      border-left: 1px solid #ededed; }
      .rtl .product-list-nineteen .thumbnail-container .box-button {
        float: left; }
      .rtl .product-list-nineteen .thumbnail-container .box-button {
        margin-right: 15px;
        margin-left: inherit; }
      .rtl .product-list-nineteen .thumbnail-container .box-button {
        padding-right: 20px;
        padding-left: inherit; }
      .rtl .product-list-nineteen .thumbnail-container .box-button {
        border-right: 1px solid #ededed;
        border-left: inherit; } }
  .product-list-nineteen .thumbnail-container .box-button > div {
    display: none; }
    @media (min-width: 480px) {
      .product-list-nineteen .thumbnail-container .box-button > div {
        display: block;
        margin-bottom: 10px; } }
    .product-list-nineteen .thumbnail-container .box-button > div .btn-product {
      padding: 0px;
      font-size: 12px;
      min-width: 35px;
      min-height: 25px;
      text-align: center;
      background: transparent;
      text-transform: uppercase; }
      @media (min-width: 480px) {
        .product-list-nineteen .thumbnail-container .box-button > div .btn-product {
          color: #666666;
          min-height: 35px;
          min-width: inherit;
          border: 3px double #cccccc; } }
      .product-list-nineteen .thumbnail-container .box-button > div .btn-product .content-btn-product .icon-btn-product {
        line-height: 25px; }
        @media (min-width: 480px) {
          .product-list-nineteen .thumbnail-container .box-button > div .btn-product .content-btn-product .icon-btn-product {
            display: none;
            min-height: 35px; } }
      @media (min-width: 480px) {
        .product-list-nineteen .thumbnail-container .box-button > div .btn-product .content-btn-product .name-btn-product {
          display: block; } }
      @media (min-width: 992px) {
        .product-list-nineteen .thumbnail-container .box-button > div .btn-product:hover {
          color: #FFFFFF;
          border-color: #169a7f;
          background: #1bbc9b; } }
    @media (min-width: 480px) {
      .product-list-nineteen .thumbnail-container .box-button > div.btn-cart-product-list .btn-product {
        width: 100%; } }
    @media (min-width: 480px) {
      .product-list-nineteen .thumbnail-container .box-button > div.btn-compare-product-list, .product-list-nineteen .thumbnail-container .box-button > div.btn-wishlist-product-list {
        padding: 0px 8px;
        margin-bottom: 0px;
        display: inline-block;
        vertical-align: middle;
        position: relative; }
        .product-list-nineteen .thumbnail-container .box-button > div.btn-compare-product-list:after, .product-list-nineteen .thumbnail-container .box-button > div.btn-wishlist-product-list:after {
          content: '';
          position: absolute;
          top: 0px;
          bottom: 0px;
          height: 10px;
          width: 1px;
          margin: auto;
          background: #ababab;
          right: 0px; }
          .rtl .product-list-nineteen .thumbnail-container .box-button > div.btn-compare-product-list:after, .rtl .product-list-nineteen .thumbnail-container .box-button > div.btn-wishlist-product-list:after {
            left: 0px;
            right: auto; }
        .product-list-nineteen .thumbnail-container .box-button > div.btn-compare-product-list:last-child:after, .product-list-nineteen .thumbnail-container .box-button > div.btn-wishlist-product-list:last-child:after {
          display: none; }
        .product-list-nineteen .thumbnail-container .box-button > div.btn-compare-product-list .btn-product, .product-list-nineteen .thumbnail-container .box-button > div.btn-wishlist-product-list .btn-product {
          padding: 0px;
          min-width: 18px;
          min-height: 18px;
          border: none;
          font-weight: normal;
          text-transform: none;
          background: transparent; }
          .product-list-nineteen .thumbnail-container .box-button > div.btn-compare-product-list .btn-product .content-btn-product .icon-btn-product, .product-list-nineteen .thumbnail-container .box-button > div.btn-wishlist-product-list .btn-product .content-btn-product .icon-btn-product {
            display: none; }
          .product-list-nineteen .thumbnail-container .box-button > div.btn-compare-product-list .btn-product .content-btn-product .name-btn-product, .product-list-nineteen .thumbnail-container .box-button > div.btn-wishlist-product-list .btn-product .content-btn-product .name-btn-product {
            display: block; }
          .product-list-nineteen .thumbnail-container .box-button > div.btn-compare-product-list .btn-product:hover, .product-list-nineteen .thumbnail-container .box-button > div.btn-wishlist-product-list .btn-product:hover {
            color: #169a7f; } }
    @media (max-width: 479px) {
      .product-list-nineteen .thumbnail-container .box-button > div.product-price-and-shipping {
        display: block; } }
    .product-list-nineteen .thumbnail-container .box-button > div .deo-list-wishlist {
      top: auto;
      bottom: 100%;
      right: 0px;
      left: auto;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-animation: animationmenus ease 0.5s;
      -moz-animation: animationmenus ease 0.5s;
      animation: animationmenus ease 0.5s;
      -webkit-animation-iteration-count: inherit;
      -moz-animation-iteration-count: inherit;
      animation-iteration-count: inherit;
      -webkit-transform-origin: inherit;
      -moz-transform-origin: inherit;
      -ms-transform-origin: inherit;
      -o-transform-origin: inherit;
      transform-origin: inherit;
      -webkit-animation-fill-mode: inherit;
      -moz-animation-fill-mode: inherit;
      animation-fill-mode: inherit; }
      .rtl .product-list-nineteen .thumbnail-container .box-button > div .deo-list-wishlist {
        right: auto;
        left: 0px; }
  .product-list-nineteen .thumbnail-container .product-meta {
    overflow: hidden;
    text-align: left;
    padding: 0px 0px 0px 15px; }
    .rtl .product-list-nineteen .thumbnail-container .product-meta {
      text-align: right; }
    .rtl .product-list-nineteen .thumbnail-container .product-meta {
      padding: 0px 15px 0px 0px; }
    .product-list-nineteen .thumbnail-container .product-meta > * {
      overflow: hidden; }
  .product-list-nineteen .thumbnail-container .product-title a {
    font-size: 16px; }
  @media (min-width: 480px) {
    .product-list-nineteen .thumbnail-container .product-description-short {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; } }
  @media (min-width: 992px) {
    .product-list-nineteen .thumbnail-container:hover .product-image .btn-quickview-product-list {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px); } }

@media (max-width: 575px) {
  .product_list.list.product-list-nineteen .ajax_block_product {
    width: 100%; } }
@media (min-width: 576px) {
  .product_list.list.product-list-nineteen .thumbnail-container .product-image {
    max-width: 100px; } }
@media (min-width: 576px) {
  .product_list.list.product-list-nineteen .thumbnail-container .product-meta {
    width: auto;
    float: none !important;
    padding: 0px 0px 0px 15px; }
    .rtl .product_list.list.product-list-nineteen .thumbnail-container .product-meta {
      padding: 0px 15px 0px 0px; } }
@media (min-width: 480px) {
  .product_list.list.product-list-nineteen .thumbnail-container .product-description-short {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; } }

/*# sourceMappingURL=plist1542543279.css.map */
