/** search ***/
/** end search ***/
/** newlestter ***/
/** End newlestter ***/
/***************************************************
	Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
	Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Product list twenty one */
.product-list-twenty-one .thumbnail-container {
  background: #FFFFFF;
  border: 1px solid #eaeaea; }
  @media (min-width: 992px) {
    .product-list-twenty-one .thumbnail-container {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row; } }
  @media (min-width: 992px) {
    .product-list-twenty-one .thumbnail-container .product-image {
      width: 50%; } }
  .product-list-twenty-one .thumbnail-container .product-image .btn-quickview-product-list {
    top: 50%;
    left: 50%;
    z-index: 12;
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (min-width: 992px) {
      .product-list-twenty-one .thumbnail-container .product-image .btn-quickview-product-list {
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translate(-50%, -50%) scale(0);
        -moz-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
        -o-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0); } }
    .product-list-twenty-one .thumbnail-container .product-image .btn-quickview-product-list .btn-product {
      padding: 0px;
      color: #FFFFFF;
      display: block;
      font-size: 14px;
      min-width: 50px;
      min-height: 50px;
      background: #222222;
      text-transform: uppercase;
      border-radius: 50%;
      -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      -o-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .product-list-twenty-one .thumbnail-container .product-image .btn-quickview-product-list .btn-product .content-btn-product .icon-btn-product {
        display: block;
        line-height: 50px; }
        .product-list-twenty-one .thumbnail-container .product-image .btn-quickview-product-list .btn-product .content-btn-product .icon-btn-product:before {
          content: "\e9a2";
          display: block;
          font-style: normal;
          font-family: "deo-custom-icons"; }
      .product-list-twenty-one .thumbnail-container .product-image .btn-quickview-product-list .btn-product .content-btn-product .name-btn-product {
        display: none; }
      @media (min-width: 992px) {
        .product-list-twenty-one .thumbnail-container .product-image .btn-quickview-product-list .btn-product:hover {
          color: #FFFFFF;
          border-color: #1bbc9b;
          background: #1bbc9b; } }
  @media (min-width: 1500px) {
    .product-list-twenty-one .thumbnail-container .product-title {
      margin-bottom: 15px; }
      .product-list-twenty-one .thumbnail-container .product-title a {
        font-size: 22px; } }
  @media (max-width: 991px) and (min-width: 576px) {
    .product-list-twenty-one .thumbnail-container .product-title {
      margin-bottom: 15px; }
      .product-list-twenty-one .thumbnail-container .product-title a {
        font-size: 22px; } }
  @media (max-width: 1499px) and (min-width: 992px) {
    .product-list-twenty-one .thumbnail-container .basic-informations .information {
      padding: 5px 0px; } }
  .product-list-twenty-one .thumbnail-container .product-meta {
    padding: 15px; }
    @media (min-width: 576px) {
      .product-list-twenty-one .thumbnail-container .product-meta {
        padding: 20px 25px; } }
    @media (min-width: 992px) {
      .product-list-twenty-one .thumbnail-container .product-meta {
        width: 50%;
        text-align: left;
        padding: 5px 20px 5px 20px; }
        .rtl .product-list-twenty-one .thumbnail-container .product-meta {
          text-align: right; }
        .rtl .product-list-twenty-one .thumbnail-container .product-meta {
          padding: 5px 20px 5px 20px; } }
    @media (min-width: 1200px) {
      .product-list-twenty-one .thumbnail-container .product-meta {
        padding: 5px 30px 5px 30px; }
        .rtl .product-list-twenty-one .thumbnail-container .product-meta {
          padding: 5px 30px 5px 30px; } }
    @media (min-width: 1500px) {
      .product-list-twenty-one .thumbnail-container .product-meta {
        padding: 15px 30px 15px 30px; }
        .rtl .product-list-twenty-one .thumbnail-container .product-meta {
          padding: 15px 30px 15px 30px; } }
  .product-list-twenty-one .thumbnail-container .box-button {
    z-index: 13;
    margin: 0 -2px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle; }
    @media (max-width: 1499px) and (min-width: 992px) {
      .product-list-twenty-one .thumbnail-container .box-button {
        margin-top: 15px; } }
    .product-list-twenty-one .thumbnail-container .box-button .btn-product {
      padding: 0px;
      background: #FFFFFF;
      border: 1px solid #cccccc;
      border-radius: 3px; }
      @media (max-width: 991px) {
        .product-list-twenty-one .thumbnail-container .box-button .btn-product {
          font-size: 12px;
          min-width: 35px;
          min-height: 35px; } }
      .product-list-twenty-one .thumbnail-container .box-button .btn-product .content-btn-product .icon-btn-product {
        line-height: 33px; }
      @media (min-width: 992px) {
        .product-list-twenty-one .thumbnail-container .box-button .btn-product:hover {
          color: #FFFFFF;
          border-color: #1bbc9b;
          background: #1bbc9b; } }
    .product-list-twenty-one .thumbnail-container .box-button .deo-list-wishlist {
      top: auto;
      bottom: 100%;
      right: 0px;
      left: auto;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-animation: animationmenus ease 0.5s;
      -moz-animation: animationmenus ease 0.5s;
      animation: animationmenus ease 0.5s;
      -webkit-animation-iteration-count: inherit;
      -moz-animation-iteration-count: inherit;
      animation-iteration-count: inherit;
      -webkit-transform-origin: inherit;
      -moz-transform-origin: inherit;
      -ms-transform-origin: inherit;
      -o-transform-origin: inherit;
      transform-origin: inherit;
      -webkit-animation-fill-mode: inherit;
      -moz-animation-fill-mode: inherit;
      animation-fill-mode: inherit; }
      .rtl .product-list-twenty-one .thumbnail-container .box-button .deo-list-wishlist {
        right: auto;
        left: 0px; }
    .product-list-twenty-one .thumbnail-container .box-button > div {
      padding: 2px 2px;
      -webkit-transition: all 0.4s ease-out;
      -o-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out; }
      @media (min-width: 768px) {
        .product-list-twenty-one .thumbnail-container .box-button > div:first-child {
          z-index: 1;
          position: relative; }
          .product-list-twenty-one .thumbnail-container .box-button > div:first-child .btn-product {
            padding: 7px 15px;
            min-width: inherit; } }
    @media (min-width: 768px) and (min-width: 1200px) {
      .product-list-twenty-one .thumbnail-container .box-button > div:first-child .btn-product {
        padding: 7px 25px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .product-list-twenty-one .thumbnail-container .box-button > div:first-child .btn-product {
        min-height: 35px; } }
      @media (min-width: 768px) {
            .product-list-twenty-one .thumbnail-container .box-button > div:first-child .btn-product .content-btn-product .icon-btn-product {
              line-height: normal;
              display: inline-block;
              vertical-align: middle;
              display: none;
              margin-right: 5px; }
              .rtl .product-list-twenty-one .thumbnail-container .box-button > div:first-child .btn-product .content-btn-product .icon-btn-product {
                margin-left: 5px;
                margin-right: inherit; }
            .product-list-twenty-one .thumbnail-container .box-button > div:first-child .btn-product .content-btn-product .name-btn-product {
              display: block;
              vertical-align: middle; } }
  @media (max-width: 767px) {
    .product-list-twenty-one .thumbnail-container .deo-product-list-reviews {
      overflow: hidden; }
      .product-list-twenty-one .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper {
        padding: 0 15px;
        position: relative; }
        .product-list-twenty-one .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:before, .product-list-twenty-one .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:after {
          content: '';
          top: 0px;
          bottom: 0px;
          height: 2px;
          width: 50px;
          margin: auto;
          background: #e4e4e4;
          position: absolute; }
        .product-list-twenty-one .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:before {
          left: 100%;
          -moz-border-radius: 0px 100% 100% 0px;
          -webkit-border-radius: 0px 100% 100% 0px;
          border-radius: 0px 100% 100% 0px; }
          .rtl .product-list-twenty-one .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:before {
            right: 100%;
            left: auto; }
          .rtl .product-list-twenty-one .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:before {
            -moz-border-radius: 100% 0px 0px 100%;
            -webkit-border-radius: 100% 0px 0px 100%;
            border-radius: 100% 0px 0px 100%; }
        .product-list-twenty-one .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:after {
          right: 100%;
          -moz-border-radius: 100% 0px 0px 100%;
          -webkit-border-radius: 100% 0px 0px 100%;
          border-radius: 100% 0px 0px 100%; }
          .rtl .product-list-twenty-one .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:after {
            left: 100%;
            right: auto; }
          .rtl .product-list-twenty-one .thumbnail-container .deo-product-list-reviews .deo-product-list-reviews-wraper:after {
            -moz-border-radius: 0px 100% 100% 0px;
            -webkit-border-radius: 0px 100% 100% 0px;
            border-radius: 0px 100% 100% 0px; } }
  .product-list-twenty-one .thumbnail-container .product-description-short {
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
    @media (max-width: 1499px) and (min-width: 992px) {
      .product-list-twenty-one .thumbnail-container .product-description-short {
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; } }
  @media (max-width: 991px) {
    .product-list-twenty-one .thumbnail-container .deo-countdown {
      text-align: center; } }
  @media (max-width: 991px) {
    .product-list-twenty-one .thumbnail-container .deo-countdown ul {
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 992px) {
    .product-list-twenty-one .thumbnail-container:hover .product-image .btn-quickview-product-list {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translate(-50%, -50%) scale(1);
      -moz-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      -o-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1); } }

@media (min-width: 992px) {
  .product_list.list.product-list-twenty-one .thumbnail-container .product-image {
    width: 50%; } }
.product_list.list.product-list-twenty-one .thumbnail-container .product-meta {
  padding: 15px; }
  @media (min-width: 576px) {
    .product_list.list.product-list-twenty-one .thumbnail-container .product-meta {
      padding: 20px 25px; } }
  @media (min-width: 992px) {
    .product_list.list.product-list-twenty-one .thumbnail-container .product-meta {
      width: 50%;
      text-align: left;
      padding: 5px 20px 5px 20px; }
      .rtl .product_list.list.product-list-twenty-one .thumbnail-container .product-meta {
        text-align: right; }
      .rtl .product_list.list.product-list-twenty-one .thumbnail-container .product-meta {
        padding: 5px 20px 5px 20px; } }
  @media (min-width: 1200px) {
    .product_list.list.product-list-twenty-one .thumbnail-container .product-meta {
      padding: 5px 30px 5px 30px; }
      .rtl .product_list.list.product-list-twenty-one .thumbnail-container .product-meta {
        padding: 5px 30px 5px 30px; } }

/*# sourceMappingURL=plist1542730996.css.map */
