@import "theme_variables";


$image-theme-base-path: "img/";

$theme-color-default: 		#e44853;
$theme-color-button-hover:  #c12d37;
$link-hover-color: 			$theme-color-default;

$megamenu-link-hover-color: $theme-color-default;

$product-name-hover-color: $theme-color-default;
$button-addtocart-bg-hover: $theme-color-default;
$button-addtocart-border-hover: $theme-color-default;

@import "../_skin";
